Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

feat(instructions): RESET_SCOPE now handles the JUMP of the while loop as well, compacting two instructions in one
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ark/virtual machine

refactor(vm): cleaning up implementation of push in the vm
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

refactor(ir optimizer): better rule declaration
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

feat(ir): adding IR::GotoWithArg to be able to generate gotos from the IROptmizer
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
Labels: none

feat(tools): adding a script to find most frequent instruction pairs, to optimize in the IROptimizer
  .gitignore
  tools/ark_frequent_instructions.py
Labels: none

feat(compiler, vm): adding new LT_CONST_JUMP_IF_FALSE instruction to merge LOAD_CONST;LT;POP_JUMP_IF_FALSE into one better instruction
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new CALL_SYMBOL instruction, to load and call a symbol immediately
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new GET_FIELD_FROM_SYMBOL and GET_FIELD_FROM_SYMBOL_INDEX to load a field from a closure in a single instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
Labels: ark/compiler, ark/virtual machine

chore: update ark_frequent_instructions.py script to add the new super instructions and ignore HALT in the frequencies
  tools/ark_frequent_instructions.py
Labels: none

feat(compiler, vm): adding new LT_SYM_JUMP_IF_FALSE super instruction to complement LT_CONST_JUMP_IF_FALSE
  CHANGELOG.md
  examples/fizz_buzz.ark
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new EQ_CONST_JUMP_IF_TRUE and EQ_SYM_INDEX_JUMP_IF_TRUE to compare a symbol to a const and a symbol to a symbol (respectively), then jump to an address if true
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

chore(tests): adding comments in the optimized IR tests to know what kind of super instruction we are testing
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
Labels: none

feat(compiler, vm): adding new NEQ_CONST_JUMP_IF_TRUE super instruction to compare a symbol to a const, then jump to an address if they differ
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

chore: playing with formatting so that clang format doesn't complain on the CI
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
Labels: none

feat(compiler, vm): adding new AT_SYM_SYM and AT_SYM_INDEX_SYM_INDEX super instructions to get elements from list in a single instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

fix(vm): when using @ on a list of 1 element, we couldn't use -1 as an index to get the last element
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/list-tests.ark
Labels: ark/virtual machine

feat(compiler, vm): adding new LT_SYM_JUMP_IF_FALSE super instruction to complement LT_CONST_JUMP_IF_FALSE
  CHANGELOG.md
  examples/fizz_buzz.ark
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new GET_FIELD_FROM_SYMBOL and GET_FIELD_FROM_SYMBOL_INDEX to load a field from a closure in a single instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
Labels: ark/compiler, ark/virtual machine

chore(tests): adding comments in the optimized IR tests to know what kind of super instruction we are testing
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
Labels: none

chore: update ark_frequent_instructions.py script to add the new super instructions and ignore HALT in the frequencies
  tools/ark_frequent_instructions.py
Labels: none

feat(benchmarks): enhancing creation of runtime benchmarks while adding two new bench for closures and lists representing trees
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/create_closure.ark
  tests/benchmarks/resources/runtime/create_list.ark
  tests/benchmarks/resources/runtime/for_sum.ark
  tests/benchmarks/resources/runtime/man_or_boy.ark
Labels: none

chore: playing with formatting so that clang format doesn't complain on the CI
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
Labels: none

feat(cmake): adding define when we are building an exe, to be able to enable/disable code for embedding/the interpreter
  CMakeLists.txt
Labels: none

feat: check for NOCOLOR env var only when building an exe
  src/arkreactor/Exceptions.cpp
Labels: none

feat(compiler, vm): adding new EQ_CONST_JUMP_IF_TRUE and EQ_SYM_INDEX_JUMP_IF_TRUE to compare a symbol to a const and a symbol to a symbol (respectively), then jump to an address if true
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

feat(tools): adding more commands to fuzzer-crash-triage.py script
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

refactor(parser): adding a limit to the number of node that can be nested while parsing
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/failure/deeply_nested.ark
  tests/unittests/resources/ParserSuite/failure/deeply_nested.expected
Labels: ark/parser

feat(tools): adding a script to find most frequent instruction pairs, to optimize in the IROptimizer
  .gitignore
  tools/ark_frequent_instructions.py
Labels: none

refactor(ir optimizer): better rule declaration
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

feat(instructions): RESET_SCOPE now handles the JUMP of the while loop as well, compacting two instructions in one
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new LT_CONST_JUMP_IF_FALSE instruction to merge LOAD_CONST;LT;POP_JUMP_IF_FALSE into one better instruction
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new AT_SYM_SYM and AT_SYM_INDEX_SYM_INDEX super instructions to get elements from list in a single instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

refactor(vm): cleaning up implementation of push in the vm
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

feat(ir): adding IR::GotoWithArg to be able to generate gotos from the IROptmizer
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
Labels: none

feat(compiler, vm): adding new CALL_SYMBOL instruction, to load and call a symbol immediately
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new NEQ_CONST_JUMP_IF_TRUE super instruction to compare a symbol to a const, then jump to an address if they differ
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new LT_CONST_JUMP_IF_TRUE super instruction, counterpart of LT_CONST_JUMP_IF_FALSE
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding many new <op>_(const/sym)_jump_if_(true/false) super instructions, to help optimize conditions and loops
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

feat(vm): improved shortcircuit implementation for 'and', 'or', to use a single instruction instead of (DUP, POP JUMP IF FALSE/TRUE, POP)
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor(ir optimizer): use a single ruleset to store all rules and apply them sequentially
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
