Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

fix(vm): fix occasional deadlock when manually deleting a future before deleting its execution context
  include/Ark/VM/Future.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(vm): adding new super instruction STORE_LEN
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/store_len_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/store_len_num.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/virtual machine

refactor(vm): introducing a VM::jump method to handle jumps
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(vm): adding new super instruction LT_LEN_SYM_JUMP_IF_FALSE for better loop efficiency when iterating on lists
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

feat(tests): adding coverage for the new super instruction bad path
  tests/unittests/resources/DiagnosticsSuite/typeChecking/lt_len_sym_jump_if_false_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/lt_len_sym_jump_if_false_num.expected
Labels: none

fix(name resolution): resolving an unprefixed name could use a prefixed import resolution even though this should be forbidden
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/builtin_conflict_resolution.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/builtin_conflict_resolution.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.expected
  tests/unittests/resources/NameResolutionSuite/resolve_prefixed_in_correct_import/a.ark
  tests/unittests/resources/NameResolutionSuite/resolve_prefixed_in_correct_import/b.ark
  tests/unittests/resources/NameResolutionSuite/resolve_prefixed_in_correct_import/c.ark
Labels: none

feat(rosetta, tests): adding ascii lowercase letters and riordan numbers solutions
  tests/unittests/resources/RosettaSuite/ascii_lowercase.ark
  tests/unittests/resources/RosettaSuite/riordan_numbers.ark
Labels: none

feat(vm): adding new super instruction AT_SYM_INDEX_CONST, to load a value from a container using a constant as the index
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

feat(fuzzing): improve fuzzing scripts CLI
  tests/fuzzing/docker/setup-container.sh
  tests/fuzzing/start-afl-docker.sh
Labels: none

fix(macros): add better arity checking on macro expansion
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_argcount_arity.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_argcount_arity.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_repr_arity.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_repr_arity.expected
Labels: ark/macros

fix(macros): we shouldn't be able to define macros reusing macro argument names
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.expected
Labels: none

fix(ast lowerer): do not allow compiling calls to nodes that don't return a value
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/well_formed_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/well_formed_args.expected
Labels: none

fix(ast lowerer): check that condition nodes have all the required parts
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/fuzzing/fuzzer-crash-triage.py
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_cond_then.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_cond_then.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_then.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_then.expected
Labels: none

fix(diagnostics): correctly compute inner padding size to avoid unsigned integer underflow
  src/arkreactor/Error/Diagnostics.cpp
Labels: none

refactor(vm): marking push methods as noexcept since out of bound writes are handled in safeRun
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

fix(vm): adding a 256 buffer at the end of the stack, plus a periodic check (every 256 instructions) on the stack size to catch stack overflows
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionContext.hpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix(ast lowerer): we shouldn't be able to declare a variable shadowing the function it is declared in
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/function_shadowing_from_inside.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/function_shadowing_from_inside.expected
  tests/unittests/resources/RosettaSuite/count_occurrences_of_substring.ark
Labels: none

fix(macro processor): do not unify macro arguments onto other macros argument lists
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
Labels: none

fix(diagnostics): do not print an additional '^' under nothing
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_multilines.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
Labels: none

feat(vm, tests): improving the stack overflow error message, and adding proper tests for it
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_page_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_page_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
Labels: ark/virtual machine

fix(vm): adding a 256 buffer at the end of the stack, plus a periodic check (every 256 instructions) on the stack size to catch stack overflows
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionContext.hpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(fuzzing): improve fuzzing scripts CLI
  tests/fuzzing/docker/setup-container.sh
  tests/fuzzing/start-afl-docker.sh
Labels: none

fix(macro processor): do not unify macro arguments onto other macros argument lists
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
Labels: none

fix(macros): we shouldn't be able to define macros reusing macro argument names
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.expected
Labels: none

feat(vm, tests): improving the stack overflow error message, and adding proper tests for it
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_page_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_page_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
Labels: ark/virtual machine

fix(ast lowerer): check that condition nodes have all the required parts
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/fuzzing/fuzzer-crash-triage.py
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_cond_then.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_cond_then.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_then.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/if_missing_then.expected
Labels: none

fix(diagnostics): correctly compute inner padding size to avoid unsigned integer underflow
  src/arkreactor/Error/Diagnostics.cpp
Labels: none

fix(ast lowerer): we shouldn't be able to declare a variable shadowing the function it is declared in
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/function_shadowing_from_inside.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/function_shadowing_from_inside.expected
  tests/unittests/resources/RosettaSuite/count_occurrences_of_substring.ark
Labels: none

refactor(vm): marking push methods as noexcept since out of bound writes are handled in safeRun
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

fix(diagnostics): do not print an additional '^' under nothing
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_multilines.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
Labels: none

fix(macros): add better arity checking on macro expansion
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_argcount_arity.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_argcount_arity.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_repr_arity.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_repr_arity.expected
Labels: ark/macros

fix(ast lowerer): do not allow compiling calls to nodes that don't return a value
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_shadowing_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/well_formed_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/well_formed_args.expected
Labels: none

chore(deps, ci): set codspeed action to v4
  .github/workflows/codspeed.yml
Labels: ðŸ‘· ci

chore(docs): set current version to v4 in the changelog
  CHANGELOG.md
Labels: none

fix(ci): switch to macos 14
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ðŸ‘· ci

feat(formatter): ARK-282, add special case formatting for dictionnaries
  CHANGELOG.md
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/dicts.ark
  tests/unittests/resources/FormatterSuite/dicts.expected
Labels: ark/formatter

ci: remove references to master branch
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: ðŸ‘· ci

feat(bytecode reader): ARK-288, add line number alongside instructions in bytecode reader
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/IntermediateRepresentation/InstLoc.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

feat(bytecode reader): ARK-288, add line number alongside instructions in bytecode reader
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/IntermediateRepresentation/InstLoc.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

fix(ast lowerer): set more source locations to be more accurate in errors
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
Labels: none
