Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

fix(tests): windows insists on using backslash, so we'll remove them in the tests
  src/arkreactor/Error/Diagnostics.cpp
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

print files
  tests/unittests/Main.cpp
Labels: ðŸ§ª tests

wip
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

show all
  tests/unittests/Main.cpp
Labels: ðŸ§ª tests

angry
  angry
Labels: none

maybe const ref
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/FormatterSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/Suites/RosettaSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/Suites/ValidAstSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

test
  file
Labels: none

what am i even doing
  tests/unittests/Main.cpp
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

please fix it
  src/arkreactor/Error/Diagnostics.cpp
  tests/unittests/Main.cpp
Labels: ðŸ§ª tests

fix(tests): windows insists on using backslash, so we'll remove them in the tests
  src/arkreactor/Error/Diagnostics.cpp
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

fix(ir optimizer): do not try to optimize calls to builtins outside functions, otherwise this messes up the stack
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
Labels: none

chore: release 4.1.0
  CHANGELOG.md
Labels: none

chore: update arkscript version in cmakelist
  CMakeLists.txt
Labels: none

chore: format arkscript code
  examples/closures.ark
  examples/games/game_of_life.ark
  examples/games/snake/snake.ark
Labels: none

chore(tests): add runtime tests using CHECK_TYPE_OF super instruction
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(repl): print the value of the last expression that ran
  CHANGELOG.md
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

fix(repl): do not mix colors when highlighting 'import', due to 'or' matching as well as 'import'
  CHANGELOG.md
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/repl

feat(ir optimizer, vm): new super instructions MUL_BY, MUL_BY_INDEX and MUL_SET_VAL
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/mul_by_index_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/mul_by_index_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/mul_by_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/mul_by_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/mul_set_val_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/mul_set_val_str.expected
Labels: ark/compiler, ark/virtual machine

feat(iroptimizer, vm): adding FUSED_MATH super instruction, able to fuse 3 math instructions (add, sub, mul, div) in a single pass
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(ci): increase AFL MAP SIZE
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

chore(tests, docs): adding tests for fused math ops and documentation the new super instructions
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_mul_num_num_num_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_mul_num_num_num_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_num_num_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_num_num_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_str_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_str_str_num.expected
Labels: ark/compiler, ark/virtual machine

feat(parser): preventing the user from trying to use 'ref' as a function
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/failure/ref_as_func_call.ark
  tests/unittests/resources/ParserSuite/failure/ref_as_func_call.expected
Labels: ark/parser

chore(tests): adding a small test calling 'disassemble' builtin, so that the bytecode reader is somewhat covered by tests
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

chore(tests): adding failure tests for DIV in fused math ops
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_0.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_0.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_str.expected
Labels: none

chore: addressing cppcheck recommandations
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(iroptimizer, vm): adding FUSED_MATH super instruction, able to fuse 3 math instructions (add, sub, mul, div) in a single pass
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

chore: addressing cppcheck recommandations
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

chore(tests): adding a small test calling 'disassemble' builtin, so that the bytecode reader is somewhat covered by tests
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

feat(ci): increase AFL MAP SIZE
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

chore(tests, docs): adding tests for fused math ops and documentation the new super instructions
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_mul_num_num_num_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_mul_num_num_num_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_num_num_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_num_num_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_str_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_sub_add_str_str_num.expected
Labels: ark/compiler, ark/virtual machine

chore(tests): adding failure tests for DIV in fused math ops
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_0.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_0.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_str.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/fused_math_add_div_num_num_str.expected
Labels: none

feat(parser): preventing the user from trying to use 'ref' as a function
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/failure/ref_as_func_call.ark
  tests/unittests/resources/ParserSuite/failure/ref_as_func_call.expected
Labels: ark/parser

fix(bytecode reader): page numbers weren't correctly counted in --only-names mode
  CHANGELOG.md
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

Update ScopeView.hpp
  include/Ark/VM/ScopeView.hpp
Labels: ark/virtual machine

feat(parser): provide better error message when badly constructing functions' body
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/failure/function_body_too_many_nodes.ark
  tests/unittests/resources/ParserSuite/failure/function_body_too_many_nodes.expected
Labels: ark/parser

chore(tests): add more tests for Ark::Utils::
  tests/unittests/Suites/ToolsSuite.cpp
Labels: none

feat(builtin): disassemble can show a file bytecode
  CHANGELOG.md
  src/arkreactor/Builtins/Bytecode.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/disassemble_not_existing_file.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/disassemble_not_existing_file.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/disassemble_num.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

fix(vm): avoid constant conversion from int to uint16_t by using uint16_t constants to begin with
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

fix(tests): add a guard when reading files so that tests still pass in valgrind
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

feat(builtin): `empty?` now accepts `nil` as well as lists and strings, and returns true for this value
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/empty_num.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine
