Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

fix(parser): set position for each function node
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser

fix(parser): set position for each block/begin node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each import node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each while node
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
Labels: ark/parser

fix(parser): set position for each cond node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each del node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each var node
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
Labels: ark/parser

fix(parser): remove Parser::setNodeAndFilePos, fix source location for del nodes in ASTLowerer
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: ark/parser

refactor(parser): better comment handling, no more playing with pointers
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

refactor(diagnostics): creating a separate file for diagnostics related utilities
  include/Ark/Ark.hpp
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/TestsHelper.hpp
Labels: ark/compiler, ark/parser, ark/formatter, ark/virtual machine, ark/macros, ðŸ§ª tests

refactor(diagnostics): introducing a source printer for the diagnostics, to move some state out of the way
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/Exceptions.hpp
  include/Ark/Error/PrettyPrinting.hpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.expected
Labels: none

refactor(diagnostics): revamp diagnostics::makeContext arguments, to make it shorter and clearer
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/PrettyPrinting.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/parser, ark/virtual machine

refactor(diagnostics): remove whole_line qualifier as we can make use of the end position of an error (no end = whole line)
  include/Ark/Error/Diagnostics.hpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor(node position): trying to introduce a better positioning system that can be shared with the error context
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Error/CodeErrorContext.hpp
  include/Ark/Error/Exceptions.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
Labels: ark/parser, ark/macros

refactor: using a single position tracking struct for tokens and all
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Error/CodeErrorContext.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Utils/Position.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/parser, ark/virtual machine, ark/macros

refactor(node): using position and setPositionFrom instead of setPos/setFilename/line/col
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Utils/Position.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/JsonCompiler.cpp
Labels: ark/parser, ark/formatter, ark/macros

feat(parser): saving the position of the end of a parsed node
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

refactor(parser, diagnostics): use an end position for each node, instead of a big hacky optional expr & symbol & symbol size (that can or cannot match the size of the symbol)
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Error/CodeErrorContext.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/PrettyPrinting.hpp
  include/Ark/Utils/Literals.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_glob_import.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name_bis.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_in_package.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let_in_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call_2.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_if.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_macro_arguments.expected
Labels: ark/parser, ark/virtual machine, ark/macros, ðŸ§ª tests

fix(diagnostics): diagnostics with context are now properly aligned
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Error/Diagnostics.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_depth_eval.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_begin.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call.expected
Labels: ark/parser, ark/macros

fix: default init FilePos
  include/Ark/Utils/Position.hpp
Labels: none

refactor(diagnostics): introducing a source printer for the diagnostics, to move some state out of the way
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/Exceptions.hpp
  include/Ark/Error/PrettyPrinting.hpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.expected
Labels: none

refactor(diagnostics): revamp diagnostics::makeContext arguments, to make it shorter and clearer
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/PrettyPrinting.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/parser, ark/virtual machine

refactor: using a single position tracking struct for tokens and all
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Error/CodeErrorContext.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Utils/Position.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/parser, ark/virtual machine, ark/macros

refactor(diagnostics): creating a separate file for diagnostics related utilities
  include/Ark/Ark.hpp
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/TestsHelper.hpp
Labels: ark/compiler, ark/parser, ark/formatter, ark/virtual machine, ark/macros, ðŸ§ª tests

fix: default init FilePos
  include/Ark/Utils/Position.hpp
Labels: none

fix(diagnostics): diagnostics with context are now properly aligned
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Error/Diagnostics.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_depth_eval.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_begin.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call.expected
Labels: ark/parser, ark/macros

refactor(diagnostics): remove whole_line qualifier as we can make use of the end position of an error (no end = whole line)
  include/Ark/Error/Diagnostics.hpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix(parser): set position for each del node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each macro node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each while node
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
Labels: ark/parser

fix(parser): fixing the position of the function calls in the parser
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/Main.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args.expected
Labels: ark/parser, ðŸ§ª tests

fix(parser): set position for each block/begin node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

refactor(node position): trying to introduce a better positioning system that can be shared with the error context
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Error/CodeErrorContext.hpp
  include/Ark/Error/Exceptions.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
Labels: ark/parser, ark/macros

fix(parser): set position for each var node
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
Labels: ark/parser

feat(parser): all the subparsers now take a FilePosition
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): set position for each function node
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser

fix(parser): set position for each import node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

feat(tests): unittests target can take a filter as an argument
  tests/unittests/Main.cpp
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

refactor(parser): better comment handling, no more playing with pointers
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

feat(parser): saving the position of the end of a parsed node
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
