Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/Lexer.*
  - include/Ark/Compiler/Node.*
  - include/Ark/Compiler/Parser.*
  - src/arkreactor/Compiler/Lexer.*
  - src/arkreactor/Compiler/Parser.*
  - src/arkreactor/Compiler/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/MacroProcessor.*
  - src/arkreactor/Compiler/MacroProcessor.*

NUL terminator for ARK_VERSION_STR
  include/Ark/Constants.hpp.in
  src/arkreactor/VM/State.cpp
Labels: virtual machine

Fix using strlen with non-NUL terminated string (#318)
  include/Ark/Constants.hpp.in
Labels: none

Fix using strlen with non-NUL terminated string (#318)
  include/Ark/Constants.hpp.in
Labels: none

docs: generalize guideline-section
  README.md
Labels: none

docs: correct guideline notes
  README.md
Labels: none

Correct coding style link (#317)
  README.md
Labels: none

Correct coding style link (#317)
  README.md
Labels: none

feat: include envvar in search path
  include/Ark/Compiler/Parser.hpp
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

feat: replace instances of libdir
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

style: fix style error
  include/Ark/Utils.hpp
Labels: none

style: correct style errors
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine

style: correct style errors, again
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, parser, virtual machine

refactor: implement PR changes
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

style: remove NULL occurences
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

refactor: allow setting libenv in state
  include/Ark/Compiler/Compiler.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, parser, virtual machine

refactor: implement PR changes
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

refactor: remove default options
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, virtual machine

fix: remove some old testing code
  src/arkreactor/VM/State.cpp
Labels: virtual machine

style: use string.empty()
  src/arkscript/main.cpp
Labels: none

refactor: allow setting libenv in state
  include/Ark/Compiler/Compiler.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, parser, virtual machine

refactor: implement PR changes
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

refactor: allow setting libenv in state
  include/Ark/Compiler/Compiler.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, parser, virtual machine

style: correct style errors
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine

style: remove NULL occurences
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

style: fix style error
  include/Ark/Utils.hpp
Labels: none

style: use string.empty()
  src/arkscript/main.cpp
Labels: none

feat: replace instances of libdir
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

feat: include envvar in search path
  include/Ark/Compiler/Parser.hpp
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

style: use string.empty()
  src/arkscript/main.cpp
Labels: none

fix: remove some old testing code
  src/arkreactor/VM/State.cpp
Labels: virtual machine

refactor: remove default options
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, virtual machine

refactor: implement PR changes
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

style: correct style errors, again
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, parser, virtual machine

style: correct style errors
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine

style: fix style error
  include/Ark/Utils.hpp
Labels: none

feat: replace instances of libdir
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

feat: include envvar in search path
  include/Ark/Compiler/Parser.hpp
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

style: correct style errors, again
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, parser, virtual machine

refactor: implement PR changes
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

refactor: remove default options
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, virtual machine
