Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

fixing various merge related errors
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: compiler, virtual machine

feat: adding a very basic bloom filter to the scope to speed up the variable lookup
  include/Ark/VM/Scope.hpp
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

ci: fixing jobs and OSes used
  .github/workflows/ci.yml
Labels: ci

cmake: updating the way we set the required C++ version
  CMakeLists.txt
Labels: none

ci: fixing jobs and OSes used
  .github/workflows/ci.yml
Labels: ci

refacto: using a proper data structure to handle macro scopes
  CHANGELOG.md
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/MacroScope.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/List.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/MacroScope.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: removed UB (luckily this piece of code disappear in v4)
  src/arkreactor/Utils.cpp
Labels: none

fix: a macro with no argument no longer crash the processor
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Executors/List.cpp
  tests/arkscript/macro-tests.ark
Labels: tests

refacto: renaming macro list executor to function executor
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: a macro with no argument no longer crash the processor
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Executors/List.cpp
  tests/arkscript/macro-tests.ark
Labels: tests

refacto: renaming macro list executor to function executor
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

refacto: using a proper data structure to handle macro scopes
  CHANGELOG.md
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/MacroScope.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/List.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/MacroScope.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: removed UB (luckily this piece of code disappear in v4)
  src/arkreactor/Utils.cpp
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

docs: adding guidelines
  CONTRIBUTING.md
  README.md
  docs/guidelines_coding.md
  docs/guidelines_moduleserrorhandling.md
  docs/guidelines_naming.md
  docs/tutorial_modules.md
Labels: documentation

docs: enhancing doxygen navigation cluster
  docs/Doxyfile
  docs/DoxygenLayout.xml
  docs/MAINPAGE.md
  docs/guidelines_coding.md
  docs/impl_architecture.md
  docs/implementation.md
  docs/modules.md
  docs/tutorial_builtins.md
  docs/tutorial_modules.md
  docs/tutorials.md
Labels: documentation

misc: do not include pre-releases in version badge
  README.md
Labels: documentation

Merging with dev
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: cleaning up the compiler code
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: removed unused nodetype::closure
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler, parser, macros

feat: the bytecode reader works with the 4 bytes long instructions
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fix: the bytecode reader CLI can now use --page in conjunction with --slice
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

refactor: renaming methods and removing useless ones in the compiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat: added the current instruction hex representation alongside its name and value
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

updating the virtual machine to be able to use instructions on 4 bytes
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

removing the ArkScript String
  .gitmodules
  CMakeLists.txt
  examples/99bottles.ark
  examples/blockchain.ark
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkscript/main.cpp
  tests/arkscript/tests-tools.ark
Labels: virtual machine, tests

adding fmtlib as a submodule targetting v7.1.3
  src/arkreactor/Builtins/String.cpp
Labels: none

fix: using a specific version of the modules for the v4 and fixing the VM after having merged dev
  include/Ark/Compiler/Word.hpp
Labels: compiler

fix: using build/arkscript as the main executable instead of build/ark
  .github/workflows/ci.yml
  .github/workflows/release.yml
  examples/run-all
Labels: ci

fix: formatting word.hpp
  .github/workflows/ci.yml
  .github/workflows/release.yml
  include/Ark/Compiler/Word.hpp
Labels: compiler, ci

chore: update changelog
  CHANGELOG.md
Labels: none

removing digPlaces and decPlaces from Utils.hpp/.cpp
  CHANGELOG.md
  include/Ark/Utils.hpp
  src/arkreactor/Utils.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

feat: adding closure comparison, per field
  include/Ark/VM/Scope.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/Value/Closure.cpp
Labels: virtual machine

removing the custom string
  CHANGELOG.md
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

removes code
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
Labels: none

ci: should run for every pull request
  .github/workflows/ci.yml
Labels: ci

removed deprecated code
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Builtins/BuiltinsErrors.inl
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkscript/main.cpp
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
Labels: virtual machine, tests

optimizing the closure comparison and adding tests
  src/arkreactor/VM/Scope.cpp
  tests/arkscript/vm-tests.ark
Labels: virtual machine, tests

removing the .c_str() where they aren't needed
  include/Ark/Files.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine
