Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

chore(vm): small code improvements, making methods const
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(builtins): adding disassemble builtin
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Bytecode.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/disassemble_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/disassemble_num.expected
Labels: ark/compiler, ark/virtual machine

fix: adding missing include VM.hpp in Bytecode.cpp
  src/arkreactor/Builtins/Bytecode.cpp
Labels: none

feat(ci): adding a link validator job
  .github/workflows/validate-links.yml
Labels: ðŸ‘· ci

chore(ci): update actions
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
Labels: ðŸ‘· ci

chore(ci): update actions
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
Labels: ðŸ‘· ci

feat(ci): adding a link validator job
  .github/workflows/validate-links.yml
Labels: ðŸ‘· ci

chore: fix dead links
  CODE_OF_CONDUCT.md
  README.md
  src/arkreactor/Builtins/String.cpp
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

chore!: rename dict:contains to dict:contains\? for consistency with the other functions returning booleans
  .envrc
  CHANGELOG.md
  src/arkreactor/Builtins/Dict.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_contains_num.expected
Labels: none

chore!: add '?' suffix to math:even and math:odd, adding aliases before deprecating and removing
  CHANGELOG.md
  tests/unittests/resources/RosettaSuite/middle_three_digits.ark
Labels: none

chore: update dependabot.yml to temporarily disable updates
  .github/dependabot.yml
Labels: none

chore: update stdlib and tests, adding list:sortByKey
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
Labels: none

feat(parser): adding parsing of arguments' attributes in function declarations
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/success/fun_arg_attributes.ark
  tests/unittests/resources/ParserSuite/success/fun_arg_attributes.expected
Labels: ark/compiler, ark/parser

feat(formatter): adding formatting test for attribute modifiers
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/functions.ark
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser, ark/formatter, ark/macros

feat!: fully implementing 'mut' argument attribute, down to the ast lowerer, json compiler and formatter
  examples/closures.ark
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkscript/JsonCompiler.cpp
  tests/benchmarks/resources/parser/bigger.ark
  tests/unittests/resources/ASTSuite/closures.ark
  tests/unittests/resources/ASTSuite/closures.json
  tests/unittests/resources/CompilerSuite/ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
  tests/unittests/resources/LangSuite/async-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
  tests/unittests/resources/RosettaSuite/call_an_object_method.ark
Labels: none

feat(vm)!: implementing the ref argument attribute, to avoid reference unboxing when calling a function, yielding better performances for the user
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/parser/big.ark
  tests/benchmarks/resources/parser/bigger.ark
  tests/benchmarks/resources/runtime/create_list_with_ref.ark
Labels: ark/compiler, ark/virtual machine

feat(builtins): adding io:readLinesFile
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/IO.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
Labels: none

chore: adding tests for io:readLinesFile
  CHANGELOG.md
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioreadlinesfile_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioreadlinesfile_num.expected
Labels: none

chore(tests): adding tests for argument attributes in ASTSuite and ParserSuite
  tests/unittests/resources/ASTSuite/args_attr.ark
  tests/unittests/resources/ASTSuite/args_attr.json
  tests/unittests/resources/ParserSuite/failure/incomplete_arg_attr.ark
  tests/unittests/resources/ParserSuite/failure/incomplete_arg_attr.expected
Labels: none

chore(tests): adding IR generation tests for arg attributes
  tests/unittests/resources/CompilerSuite/ir/args_attr.ark
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
Labels: none

chore(tests): adding tests for argument attributes in ASTSuite and ParserSuite
  tests/unittests/resources/ASTSuite/args_attr.ark
  tests/unittests/resources/ASTSuite/args_attr.json
  tests/unittests/resources/ParserSuite/failure/incomplete_arg_attr.ark
  tests/unittests/resources/ParserSuite/failure/incomplete_arg_attr.expected
Labels: none

feat(parser): adding parsing of arguments' attributes in function declarations
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/success/fun_arg_attributes.ark
  tests/unittests/resources/ParserSuite/success/fun_arg_attributes.expected
Labels: ark/compiler, ark/parser

feat(formatter): adding formatting test for attribute modifiers
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/functions.ark
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser, ark/formatter, ark/macros

chore: adding tests for io:readLinesFile
  CHANGELOG.md
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioreadlinesfile_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioreadlinesfile_num.expected
Labels: none

chore: update stdlib and tests, adding list:sortByKey
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
Labels: none

feat(builtins): adding io:readLinesFile
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/IO.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
Labels: none

feat!: fully implementing 'mut' argument attribute, down to the ast lowerer, json compiler and formatter
  examples/closures.ark
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkscript/JsonCompiler.cpp
  tests/benchmarks/resources/parser/bigger.ark
  tests/unittests/resources/ASTSuite/closures.ark
  tests/unittests/resources/ASTSuite/closures.json
  tests/unittests/resources/CompilerSuite/ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
  tests/unittests/resources/LangSuite/async-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
  tests/unittests/resources/RosettaSuite/call_an_object_method.ark
Labels: none

chore(tests): adding IR generation tests for arg attributes
  tests/unittests/resources/CompilerSuite/ir/args_attr.ark
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
Labels: none

feat(vm)!: implementing the ref argument attribute, to avoid reference unboxing when calling a function, yielding better performances for the user
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/parser/big.ark
  tests/benchmarks/resources/parser/bigger.ark
  tests/benchmarks/resources/runtime/create_list_with_ref.ark
Labels: ark/compiler, ark/virtual machine

feat(errors): revamped type error messages to be clearer and show what was actually passed / what is expected
  CHANGELOG.md
  include/Ark/Error/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/virtual machine

feat(tests): adding the possibility to let the test suite update the expected dataset
  tests/unittests/Main.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

feat(errors): enhancement type error message again
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix: use const string instead of constexpr string, otherwise compilers go bonkers about address of constexpr changing
  src/arkreactor/TypeChecker.cpp
Labels: none

fix: use const string instead of constexpr string, otherwise compilers go bonkers about address of constexpr changing
  src/arkreactor/TypeChecker.cpp
Labels: none

feat(errors): enhancement type error message again
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(tests): adding the possibility to let the test suite update the expected dataset
  tests/unittests/Main.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

feat(errors): revamped type error messages to be clearer and show what was actually passed / what is expected
  CHANGELOG.md
  include/Ark/Error/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/virtual machine

feat(builtins): string:removeAt can work with negative indexes
  CHANGELOG.md
  src/arkreactor/Builtins/String.cpp
Labels: none

feat(diagnostics): improved diagnostics again when the source of an error is known (macro expansion, long expression)
  include/Ark/Error/PrettyPrinting.hpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests
