Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

chore: formatting builtins.hpp
  include/Ark/Builtins/Builtins.hpp
Labels: none

feat: adding closure comparison, per field
  include/Ark/VM/Scope.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/Value/Closure.cpp
Labels: virtual machine

chore: update changelog
  CHANGELOG.md
Labels: none

optimizing the closure comparison and adding tests
  src/arkreactor/VM/Scope.cpp
  tests/arkscript/vm-tests.ark
Labels: virtual machine, tests

fixing changelog
  CHANGELOG.md
Labels: none

formatting code
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

temporarily removing arkc files from the fuzzing corpus
  fuzzing/corpus/events-tests.arkc
  fuzzing/corpus/exceptions-tests.arkc
  fuzzing/corpus/functional-tests.arkc
  fuzzing/corpus/lazy-tests.arkc
  fuzzing/corpus/list-tests.arkc
  fuzzing/corpus/macros-tests.arkc
  fuzzing/corpus/math-tests.arkc
  fuzzing/corpus/range-tests.arkc
  fuzzing/corpus/string-tests.arkc
  fuzzing/corpus/switch-tests.arkc
  fuzzing/corpus/tests-tools.arkc
  fuzzing/fuzz.sh
  fuzzing/input/tests-tools.arkc
  fuzzing/reduce_crashes
  fuzzing/unique/tests-tools.arkc
Labels: none

fixing various merge related errors
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: compiler, virtual machine

feat: adding recursion limit reached detection
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

better error messages in the VM
  src/arkreactor/VM/VM.cpp
  tests/errors/capture/unbound.expected
  tests/errors/operators/out_of_range.expected
Labels: virtual machine

tests: adding test for recursion limit
  tests/errors/callable/recursion_depth.ark
  tests/errors/callable/recursion_depth.expected
Labels: none

enhancing the generation of errors in the VM
  include/Ark/VM/ErrorKind.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/errors/callable/not_callable.expected
  tests/errors/callable/recursion_depth.expected
  tests/errors/capture/unbound.expected
  tests/errors/operators/out_of_range.expected
Labels: virtual machine

tests: adding tests for function arity errors
  tests/errors/callable/not_enough_args.ark
  tests/errors/callable/not_enough_args.expected
  tests/errors/callable/too_many_args.ark
  tests/errors/callable/too_many_args.expected
Labels: none

creating a special error kind for arity error and enhancing the max recursion message
  include/Ark/VM/ErrorKind.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/errors/callable/not_enough_args.expected
  tests/errors/callable/too_many_args.expected
Labels: virtual machine

misc: do not include pre-releases in version badge
  README.md
Labels: documentation

feat: the bytecode reader works with the 4 bytes long instructions
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: cleaning up the compiler code
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

Merging with dev
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: removed unused nodetype::closure
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler, parser, macros

feat: added the current instruction hex representation alongside its name and value
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

fix: the bytecode reader CLI can now use --page in conjunction with --slice
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

refactor: renaming methods and removing useless ones in the compiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

updating the virtual machine to be able to use instructions on 4 bytes
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

removing the .c_str() where they aren't needed
  include/Ark/Files.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

feat: adding closure comparison, per field
  include/Ark/VM/Scope.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/Value/Closure.cpp
Labels: virtual machine

formatting code
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

removed deprecated code
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Builtins/BuiltinsErrors.inl
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkscript/main.cpp
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
Labels: virtual machine, tests

fix: formatting word.hpp
  .github/workflows/ci.yml
  .github/workflows/release.yml
  include/Ark/Compiler/Word.hpp
Labels: compiler, ci

removes code
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: none

fix: using a specific version of the modules for the v4 and fixing the VM after having merged dev
  include/Ark/Compiler/Word.hpp
Labels: compiler

fix: using build/arkscript as the main executable instead of build/ark
  .github/workflows/ci.yml
  .github/workflows/release.yml
  examples/run-all
Labels: ci

removing digPlaces and decPlaces from Utils.hpp/.cpp
  CHANGELOG.md
  include/Ark/Utils.hpp
  src/arkreactor/Utils.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

optimizing the closure comparison and adding tests
  src/arkreactor/VM/Scope.cpp
  tests/arkscript/vm-tests.ark
Labels: virtual machine, tests

removing the custom string
  CHANGELOG.md
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fixing changelog
  CHANGELOG.md
Labels: none

chore: formatting builtins.hpp
  include/Ark/Builtins/Builtins.hpp
Labels: none

ci: should run for every pull request
  .github/workflows/ci.yml
Labels: ci

removing the ArkScript String
  .gitmodules
  CMakeLists.txt
  examples/99bottles.ark
  examples/blockchain.ark
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkscript/main.cpp
  tests/arkscript/tests-tools.ark
Labels: virtual machine, tests

adding fmtlib as a submodule targetting v7.1.3
  src/arkreactor/Builtins/String.cpp
Labels: none

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt
