Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat(tests): adding reset test for the VM
  tests/unittests/VMSuite.cpp
Labels: ðŸ§ª tests

fix(formater): comments between 'fun' and the arguments block are now handled and not discarded
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser, ark/formatter

feat(formatter): added --check CLI flag, returns 0 if the code is correctly formatted, 1 otherwise
  CHANGELOG.md
  README.md
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
  src/arkscript/main.cpp
Labels: ark/formatter, documentation

fix(macros): renaming symcat -> $symcat, argcount -> $argcount
  CHANGELOG.md
  examples/macros.ark
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkscript/REPL/Repl.cpp
  tests/arkscript/macro-tests.ark
  tests/errors/compiler/invalid_let.ark
  tests/errors/macros/argcount_unknown_arg.ark
  tests/errors/macros/argcount_unknown_arg.expected
  tests/errors/macros/max_unification_depth.ark
  tests/unittests/resources/ASTSuite/macros.ark
Labels: ark/compiler, ark/repl, ark/macros, ðŸ§ª tests

fix(macros): renaming symcat -> $symcat, argcount -> $argcount
  CHANGELOG.md
  examples/macros.ark
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkscript/REPL/Repl.cpp
  tests/arkscript/macro-tests.ark
  tests/errors/compiler/invalid_let.ark
  tests/errors/macros/argcount_unknown_arg.ark
  tests/errors/macros/argcount_unknown_arg.expected
  tests/errors/macros/max_unification_depth.ark
  tests/unittests/resources/ASTSuite/macros.ark
Labels: ark/compiler, ark/repl, ark/macros, ðŸ§ª tests

fix(formater): comments between 'fun' and the arguments block are now handled and not discarded
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser, ark/formatter

docs: updating git checkout to git switch
  CONTRIBUTING.md
Labels: none

feat(formatter): added --check CLI flag, returns 0 if the code is correctly formatted, 1 otherwise
  CHANGELOG.md
  README.md
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
  src/arkscript/main.cpp
Labels: ark/formatter, documentation

feat(tests): adding reset test for the VM
  tests/unittests/VMSuite.cpp
Labels: ðŸ§ª tests

fix(ci): using download-artifact v4
  .github/workflows/release.yml
Labels: ðŸ‘· ci

fix(formatter): do not remove \u and \U when formatting put 2 spaces in function definitions instead of 4
  include/Ark/Compiler/AST/Parser.hpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/escape_seq.ark
  tests/unittests/resources/FormatterSuite/escape_seq.expected
  tests/unittests/resources/FormatterSuite/functions.ark
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser, ark/formatter

fix(examples): correcting the examples so that they actually run
  examples/callbacks.ark
  examples/more-or-less.ark
  examples/sum_digits.ark
Labels: none

style: formatting examples
  examples/99bottles.ark
  examples/ackermann.ark
  examples/blockchain.ark
  examples/callbacks.ark
  examples/closures.ark
  examples/collatz.ark
  examples/counter.ark
  examples/error.ark
  examples/factorial.ark
  examples/fibo.ark
  examples/http.ark
  examples/macros.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
Labels: none

ci: adding an arkscript formatting step
  .github/workflows/ci.yml
  .github/workflows/format-check-arkscript/action.yaml
Labels: ðŸ‘· ci

fix(examples): correcting the examples so that they actually run
  examples/callbacks.ark
  examples/more-or-less.ark
  examples/sum_digits.ark
Labels: none

fix(formatter): do not remove \u and \U when formatting put 2 spaces in function definitions instead of 4
  include/Ark/Compiler/AST/Parser.hpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/escape_seq.ark
  tests/unittests/resources/FormatterSuite/escape_seq.expected
  tests/unittests/resources/FormatterSuite/functions.ark
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser, ark/formatter

ci: adding an arkscript formatting step
  .github/workflows/ci.yml
  .github/workflows/format-check-arkscript/action.yaml
Labels: ðŸ‘· ci

style: formatting examples
  examples/99bottles.ark
  examples/ackermann.ark
  examples/blockchain.ark
  examples/callbacks.ark
  examples/closures.ark
  examples/collatz.ark
  examples/counter.ark
  examples/error.ark
  examples/factorial.ark
  examples/fibo.ark
  examples/http.ark
  examples/macros.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
Labels: none

ci: adding an arkscript formatting step
  .github/workflows/ci.yml
  examples/games/game_of_life.ark
  examples/games/more-or-less.ark
  examples/games/snake/snake.ark
  examples/run-all
Labels: ðŸ‘· ci

refactor(ci): removing now defunct format-arkscript action (use ArkScript-lang/action-format)
  .github/workflows/format-check-arkscript/action.yaml
Labels: none

refactor: formatting arkscript examples
  examples/games/game_of_life.ark
  examples/games/snake/snake.ark
Labels: none

feat(ci): adding coverage support
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  .gitignore
  CMakeLists.txt
  README.md
  tests/llvm-gcov.sh
Labels: documentation, ðŸ‘· ci

refactor: formatting arkscript examples
  examples/games/game_of_life.ark
  examples/games/snake/snake.ark
Labels: none

feat(ci): adding coverage support
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  .gitignore
  CMakeLists.txt
  README.md
  tests/llvm-gcov.sh
Labels: documentation, ðŸ‘· ci

docs: adding coverage doc to readme and contributing.md
  CONTRIBUTING.md
  README.md
Labels: documentation

docs: removing stale links in the doxygen mainpage
  docs/MAINPAGE.md
Labels: documentation

feat(cmake): adding more flags for coverage
  CMakeLists.txt
Labels: none

chore: updating badges on readme [no ci]
  README.md
Labels: documentation

feat(cmake): adding more flags for coverage
  CMakeLists.txt
Labels: none

chore: updating badges on readme
  README.md
Labels: documentation

feat(vm): adding computed gotos in the VM on clang and gcc
  CMakeLists.txt
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
Labels: ark/compiler, ark/virtual machine

feat!: removing ARK_PROFILER_MIPS as it has served it's purpose and is no longer useful
  CMakeLists.txt
  README.md
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine, documentation

feat(vm): adding computed gotos in the VM on clang and gcc
  CMakeLists.txt
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
Labels: ark/compiler, ark/virtual machine

feat!: removing ARK_PROFILER_MIPS as it has served it's purpose and is no longer useful
  CMakeLists.txt
  README.md
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine, documentation

refactor(vm): making the VM class final
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

feat(compiler): name & scope resolution pass now checks for mutability errors
  CHANGELOG.md
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Welder.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/set_const.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler

feat!: new MAKE_CLOSURE instruction replacing a conditional LOAD_CONST based on a saved scope to create closure
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

docs: add documentation to every method
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/ImportSolver.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Compiler/Word.hpp
  include/Ark/Constants.hpp.in
  include/Ark/Files.hpp
  include/Ark/Literals.hpp
  include/Ark/Logger.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Future.hpp
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/Scope.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/UserType.hpp
  include/CLI/Formatter.hpp
  include/CLI/REPL/Repl.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/virtual machine, ark/macros

refactor(vm): removing the constness flag from the runtime values as we can now handle it at compile time
  include/Ark/VM/VM.inl
  include/Ark/VM/Value.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: ark/virtual machine

feat!: removing runtime checks on mutability as everything is now done at compile time
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/VM/ErrorKind.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_append_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_concat.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_concat.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/concat_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/pop_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/self_concat.expected
Labels: ark/compiler, ark/repl, ark/virtual machine
