Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

refactor: use X macros to generate the list of instructions, their names, and the VM's jump table
  docs/gen_instructions_documentation.py
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Instructions.x
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine, documentation

docs: update changelog
  CHANGELOG.md
Labels: none

feat(debugger): ARK-376 limit debugger traces length to 4096 elements
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(debugger): ARK-376 show IP and PP in the debugger traces
  CHANGELOG.md
  cppcheck-suppressions.txt
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/parsing.expected
Labels: ark/virtual machine

chore!: remove std.Range
  CHANGELOG.md
  CMakeLists.txt
  examples/fizz_buzz.ark
  tests/unittests/resources/RosettaSuite/100_doors.ark
  tests/unittests/resources/RosettaSuite/ascending_prime.ark
  tests/unittests/resources/RosettaSuite/calculating_value_of_e.ark
  tests/unittests/resources/RosettaSuite/sum_of_a_serie.ark
Labels: none

fix(diagnostics): ARK-381 check that we can properly create error messages when code is run from a string
  CHANGELOG.md
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: ark/compiler

ci: on release, trigger homebrew-tap workflow to create a new formula
  .github/workflows/release.yml
Labels: ðŸ‘· ci

asset: update logo
  .github/images/ArkTransparent-by-mazz.png
  .github/images/ArkTransparent-small.png
  .github/images/logo-2026-rectangle-256x85.png
  .github/images/logo-2026-rectangle.png
  .github/images/logo-by-mazz.svg
  .github/pull_request_template.md
  README.md
  cmake/packaging.cmake
  docs/Doxyfile
Labels: documentation

config: add custom scopes to pre-commit
  .pre-commit-config.yaml
Labels: none

config(jetbrain): add more run configs
  .run/ast a.ark.run.xml
  .run/format a.ark.run.xml
  .run/unittests.run.xml
Labels: none

chore: add the project logo in the repl
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

feat(syntax): adding raw strings
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/basics/raw_strings.ark
  tests/unittests/resources/FormatterSuite/basics/raw_strings.expected
  tests/unittests/resources/ParserSuite/success/compact.ark
  tests/unittests/resources/ParserSuite/success/compact.expected
  tests/unittests/resources/ParserSuite/success/strings.ark
  tests/unittests/resources/ParserSuite/success/strings.expected
Labels: ark/parser, ark/formatter

feat: @ can be used with dict
  CHANGELOG.md
  docs/arkdoc/Dict.txt
  include/Ark/VM/Helpers.hpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/at_list_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/at_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_at_num_zero.expected
Labels: ark/virtual machine

config(cmake): set minimum C++ version required
  CMakeLists.txt
Labels: none

feat(syntax): adding raw strings
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/basics/raw_strings.ark
  tests/unittests/resources/FormatterSuite/basics/raw_strings.expected
  tests/unittests/resources/ParserSuite/success/compact.ark
  tests/unittests/resources/ParserSuite/success/compact.expected
  tests/unittests/resources/ParserSuite/success/strings.ark
  tests/unittests/resources/ParserSuite/success/strings.expected
Labels: ark/parser, ark/formatter

config(cmake): set minimum C++ version required
  CMakeLists.txt
Labels: none

feat: @ can be used with dict
  CHANGELOG.md
  docs/arkdoc/Dict.txt
  include/Ark/VM/Helpers.hpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/at_list_str.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/at_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_at_num_zero.expected
Labels: ark/virtual machine

feat(dict): @= now works on dict and behaves like dict:add
  CHANGELOG.md
  docs/arkdoc/Dict.txt
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/at_eq_num_num_num.expected
Labels: ark/virtual machine

fix(vm): SET_AT should only push to the stack if its immediate argument is non-zero
  include/Ark/Compiler/Instructions.x
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

config(docker, cmake): re, hash and json modules are now compiled inside the docker images
  .dockerignore
  CMakeLists.txt
  Dockerfile
  README.md
  harden.dockerfile
Labels: documentation

test: use the proper package when using hash module
  tests/unittests/resources/CompilerSuite/ir/plugin.ark
Labels: none

config(docker): add missing package to harden.dockerfile
  harden.dockerfile
Labels: none

ci: use the new path for the .arkm module files (lib/std instead of lib)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/setup-tests/action.yaml
Labels: ðŸ‘· ci

feat(inliner): use a constant to define how many instructions can be inlined
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

refactor: move installer.iss.in to packaging/
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  CMakeLists.txt
  Dockerfile
  harden.dockerfile
  packaging/Installer.iss.in
Labels: ðŸ‘· ci

ci: use the new path for the .arkm module files (lib/std instead of lib)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/setup-tests/action.yaml
Labels: ðŸ‘· ci

refactor: move installer.iss.in to packaging/
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  CMakeLists.txt
  Dockerfile
  harden.dockerfile
  packaging/Installer.iss.in
Labels: ðŸ‘· ci

feat(inliner): use a constant to define how many instructions can be inlined
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

fix(formatter): always return 0 in dry run
  CHANGELOG.md
  src/arkscript/main.cpp
Labels: none

feat: add '--stats' when compiling, outputting a JSON of compilation stats
  CHANGELOG.md
  README.md
  cppcheck-suppressions.txt
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Statistics.hpp
  include/Ark/Compiler/Statistics.x
  include/Ark/Compiler/Welder.hpp
  include/Ark/State.hpp
  include/Ark/Utils/Logger.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/Statistics.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/State.cpp
  src/arkscript/main.cpp
Labels: ark/compiler, ark/parser, ark/macros, documentation

feat: add '--stats' when compiling, outputting a JSON of compilation stats
  CHANGELOG.md
  README.md
  cppcheck-suppressions.txt
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Statistics.hpp
  include/Ark/Compiler/Statistics.x
  include/Ark/Compiler/Welder.hpp
  include/Ark/State.hpp
  include/Ark/Utils/Logger.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/Statistics.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/State.cpp
  src/arkscript/main.cpp
Labels: ark/compiler, ark/parser, ark/macros, documentation

feat(parser): support escaped quotes in raw strings
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/success/strings.ark
  tests/unittests/resources/ParserSuite/success/strings.expected
Labels: ark/parser

chore(docker): upgrade to alpine 3.24
  CHANGELOG.md
  Dockerfile
  harden.dockerfile
Labels: none

chore: move all docker files to packaging/
  .dockerignore
  .github/workflows/docker.yml
  packaging/Dockerfile
  packaging/harden.dockerfile
  packaging/harden_docker.sh
Labels: ðŸ‘· ci

feat(import solver): track what packages are available (when imported directly and indirectly) to a given package
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Namespace.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler, ark/macros
