Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat: adding build date to repl header and help command of the cli
  CMakeLists.txt
  Dockerfile
  harden.dockerfile
  include/Ark/Constants.hpp.in
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: ark/repl

feat(repl): add a ARKSCRIPT_REPL_STARTUP env var, that points to an optional .ark file to load when the REPL starts
  .envrc
  CHANGELOG.md
  include/CLI/REPL/Repl.hpp
  src/arkscript/REPL/Repl.cpp
  tools/repl.ark
Labels: ark/repl

feat(repl): add repl:load to load code from a file in the repl
  include/CLI/REPL/Repl.hpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

feat(repl): remove unused commands
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

refactor(instructions): rename LOAD_SYMBOL and LOAD_SYMBOL_BY_INDEX to LOAD_FAST and LOAD_FAST_BY_INDEX to emphasize they load refs
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: ark/compiler, ark/virtual machine

feat(instructions): add LOAD_SYMBOL that will load symbols and skip the creation of a reference
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(instructions, compiler): use LOAD_SYMBOL (that won't load refs) for tail-calls, instead of LOAD_FAST
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

refactor(instructions): rename instructions for consistency ISNIL -> IS_NIL, EMPTY -> IS_EMPTY, HASFIELD -> HAS_FIELD
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
Labels: ark/compiler, ark/virtual machine

chore(tests): test tail calls to ensure arguments are correct when swapping them around between calls
  tests/unittests/resources/CompilerSuite/ir/tail_call.ark
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(instructions): add LOAD_SYMBOL that will load symbols and skip the creation of a reference
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(instructions, compiler): use LOAD_SYMBOL (that won't load refs) for tail-calls, instead of LOAD_FAST
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

chore(tests): test tail calls to ensure arguments are correct when swapping them around between calls
  tests/unittests/resources/CompilerSuite/ir/tail_call.ark
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

refactor(instructions): rename instructions for consistency ISNIL -> IS_NIL, EMPTY -> IS_EMPTY, HASFIELD -> HAS_FIELD
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
Labels: ark/compiler, ark/virtual machine

refactor(instructions): rename LOAD_SYMBOL and LOAD_SYMBOL_BY_INDEX to LOAD_FAST and LOAD_FAST_BY_INDEX to emphasize they load refs
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: ark/compiler, ark/virtual machine

chore: update changelog for 4.1.2
  CHANGELOG.md
Labels: none

feat(instructions, vm, compiler)!: adding BREAKPOINT instruction and turning ASSERT into a builtin
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/assert_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/assert_too_many_args.expected
Labels: ark/compiler, ark/virtual machine

feat(error messages): enhance operator arity error messages by adding the operator name in the message
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_at_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/no_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ope_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/type_no_args.expected
Labels: ark/compiler

feat(ast lowerer): breakpoints can be placed anywhere without disturbing the argument counts for functions and operators, as they produce nothing
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.ark
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
Labels: none

fix(formatter): don't forget to add the indentation when a condition is on a newline
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/codeSamples/permutations.ark
  tests/unittests/resources/FormatterSuite/codeSamples/permutations.expected
  tools/ark_format
Labels: ark/formatter

fix(formatter): don't forget to add the indentation when a condition is on a newline
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/codeSamples/permutations.ark
  tests/unittests/resources/FormatterSuite/codeSamples/permutations.expected
  tools/ark_format
Labels: ark/formatter

feat(cli): add -fdebugger to toggle the debugger in the VM when an error is caught
  include/Ark/Constants.hpp.in
  include/Ark/VM/State.hpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
Labels: ark/virtual machine

refactor: create a dedicated Ark/VM/Value/ folder for better organization
  include/Ark/Ark.hpp
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/State.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/DefaultValues.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value/ClosureScope.hpp
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Future.hpp
  include/Ark/VM/Value/Value.hpp
  include/CLI/REPL/Repl.hpp
  src/arkreactor/State.cpp
  src/arkreactor/VM/Value/Future.cpp
  src/arkreactor/VM/Value/Procedure.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/benchmarks/main.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/compiler, ark/repl, ark/virtual machine

refactor: print vm pointers in VM::showBacktraceWithException instead of VM::backtrace, so that we have access to the pointers when creating the debugger
  src/arkreactor/VM/VM.cpp
  tests/unittests/TestsHelper.cpp
Labels: ark/virtual machine, ðŸ§ª tests

feat(vm): enhancing the arity error handling and adding a test for when we have 0 argument
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_fun_no_arg.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_fun_no_arg.expected
Labels: ark/virtual machine

feat(debugger): creating a very basic debugger, started by VM::showBacktraceWithException
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/ValTableElem.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/State.hpp
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/State.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor(macro processor): compute the arg_name of a function macro only after checking the node type
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
Labels: none

feat(tests): testing the new functionalities developped for the debugger
  include/Ark/State.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/StateSuite.cpp
Labels: ark/virtual machine

feat(breakpoints): allow 'breakpoint' to take 0 or 1 argument (boolean condition to trigger the breakpoint)
  include/Ark/VM/Debugger.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/breakpoint_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/breakpoint_too_many_args.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

feat(debugger): create a minimalistic shell for the debugger
  include/Ark/Utils/Utils.hpp
  include/Ark/VM/Debugger.hpp
  include/CLI/REPL/Utils.hpp
  src/arkreactor/Utils/Utils.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/Suites/ReplSuite.cpp
  tests/unittests/Suites/ToolsSuite.cpp
Labels: ark/repl, ark/virtual machine

feat(debugger): adding a way to use a prompt file for the debugger, instead of requiring the user to provide an input
  include/Ark/Constants.hpp.in
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
  tests/unittests/resources/DebuggerSuite/basic.ark
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/basic.prompt
  tests/unittests/resources/DebuggerSuite/debugger_quit.ark
  tests/unittests/resources/DebuggerSuite/debugger_quit.expected
  tests/unittests/resources/DebuggerSuite/debugger_quit.prompt
  tests/unittests/resources/DebuggerSuite/loop.ark
  tests/unittests/resources/DebuggerSuite/loop.expected
  tests/unittests/resources/DebuggerSuite/loop.prompt
  tests/unittests/resources/DebuggerSuite/modify_program_state.ark
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.prompt
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

chore: use const vector& when loading lambdas into Ark::State
  .github/workflows/static_analysis.yml
  src/arkscript/REPL/Repl.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
Labels: ark/repl, ðŸ‘· ci

chore: addressing cppcheck recommandations: more ranges, less variable shadowing
  include/Ark/State.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(tests, debugger): testing the debugger triggering on errors
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.prompt
  tests/unittests/resources/DebuggerSuite/on_error.ark
  tests/unittests/resources/DebuggerSuite/on_error.expected
  tests/unittests/resources/DebuggerSuite/on_error.prompt
Labels: ark/virtual machine

feat(debugger): creating a very basic debugger, started by VM::showBacktraceWithException
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/ValTableElem.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/State.hpp
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/State.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(instructions, vm, compiler)!: adding BREAKPOINT instruction and turning ASSERT into a builtin
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/assert_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/assert_too_many_args.expected
Labels: ark/compiler, ark/virtual machine

feat(cli): add -fdebugger to toggle the debugger in the VM when an error is caught
  include/Ark/Constants.hpp.in
  include/Ark/VM/State.hpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
Labels: ark/virtual machine

refactor: print vm pointers in VM::showBacktraceWithException instead of VM::backtrace, so that we have access to the pointers when creating the debugger
  src/arkreactor/VM/VM.cpp
  tests/unittests/TestsHelper.cpp
Labels: ark/virtual machine, ðŸ§ª tests

feat(debugger): adding a way to use a prompt file for the debugger, instead of requiring the user to provide an input
  include/Ark/Constants.hpp.in
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
  tests/unittests/resources/DebuggerSuite/basic.ark
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/basic.prompt
  tests/unittests/resources/DebuggerSuite/debugger_quit.ark
  tests/unittests/resources/DebuggerSuite/debugger_quit.expected
  tests/unittests/resources/DebuggerSuite/debugger_quit.prompt
  tests/unittests/resources/DebuggerSuite/loop.ark
  tests/unittests/resources/DebuggerSuite/loop.expected
  tests/unittests/resources/DebuggerSuite/loop.prompt
  tests/unittests/resources/DebuggerSuite/modify_program_state.ark
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.prompt
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(error messages): enhance operator arity error messages by adding the operator name in the message
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_at_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/no_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ope_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/type_no_args.expected
Labels: ark/compiler

feat(tests): testing the new functionalities developped for the debugger
  include/Ark/State.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/StateSuite.cpp
Labels: ark/virtual machine
