Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

refactor(value, dev_info): better printing of the sizes of our data types
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/Procedure.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/VM/Value/Procedure.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

feat(tools): rename triaged fuzzer output to have a .ark extension when using fuzzer-crash-triage.py
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

refactor(builtins): create a macro to easily declare builtins
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat(vm): adding custom hash for the new Value::Dict_t
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/Procedure.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

feat(value, builtins): updating the value to handle dictionaries and adding the first builtins to handle dicts
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Procedure.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Dict.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Dict.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

fix(builtins): using nil/true/false from Builtins.hpp instead of VM.hpp
  src/arkreactor/Builtins/Dict.cpp
Labels: none

feat(vm): execution contexts created for async calls can now get reused
  CHANGELOG.md
  include/Ark/Module.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Future.hpp
  include/Ark/VM/ScopeView.hpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/async-tests.ark
Labels: ark/virtual machine

feat(tests): adding type checking tests for the new dict builtins
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_add_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_add_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_contains_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_contains_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_get_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_get_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_keys_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_keys_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_odd_args.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_odd_args.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_remove_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_remove_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_size_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_size_num.expected
Labels: none

chore(docs): rename Builtins/Mathematics.cpp to Builtins/Maths.cpp to match with the documentation
  src/arkreactor/Builtins/Math.cpp
Labels: none

fix: addressing cppcheck warnings
  include/Ark/Utils/Logger.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Dict.cpp
Labels: ark/virtual machine

feat(vm): execution contexts created for async calls can now get reused
  CHANGELOG.md
  include/Ark/Module.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Future.hpp
  include/Ark/VM/ScopeView.hpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/async-tests.ark
Labels: ark/virtual machine

fix: addressing cppcheck warnings
  include/Ark/Utils/Logger.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Dict.cpp
Labels: ark/virtual machine

feat(tests): adding type checking tests for the new dict builtins
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_add_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_add_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_contains_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_contains_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_get_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_get_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_keys_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_keys_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_odd_args.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_odd_args.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_remove_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_remove_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_size_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/dict_size_num.expected
Labels: none

chore(docs): rename Builtins/Mathematics.cpp to Builtins/Maths.cpp to match with the documentation
  src/arkreactor/Builtins/Math.cpp
Labels: none

refactor(tests): reorganizing the Lang tests
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(closures): captures are no longer fully qualified
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/ExecutionContext.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.ark
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture/b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn/b.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/parser, ark/virtual machine

chore: enhancing code with cppcheck suggestions
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Builtins/Dict.cpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix(vm): loading a module was breaking LOAD_SYMBOL_BY_INDEX instructions, because it put its mapping at the end of the global scope
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/ClosureScope.cpp
  src/arkscript/main.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/TestModule/CMakeLists.txt
  tests/unittests/TestModule/TestModule.cpp
  tests/unittests/TestsHelper.hpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/assert.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/assert.expected
  tests/unittests/resources/LangSuite/module-tests.ark
  tests/unittests/resources/LangSuite/unittests.ark
Labels: ark/virtual machine, ðŸ§ª tests

refactor: moving the default Ark values to Ark/VM/DefaultValues.hpp
  include/Ark/Ark.hpp
  include/Ark/Module.hpp
  include/Ark/VM/DefaultValues.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/Value/Dict.cpp
Labels: ark/virtual machine

refactor(vm, module): moving the module mapping type definition to a separate file to avoid code duplication and circular includes
  include/Ark/Constants.hpp.in
  include/Ark/Module.hpp
  include/Ark/VM/ModuleMapping.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor: renaming Plugin.hpp to SharedLibrary.hpp to better reflect what's in it
  include/Ark/VM/SharedLibrary.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/SharedLibrary.cpp
Labels: ark/virtual machine

fix(ci): import tests/unittests/testmodule.arkm in artifacts
  .github/workflows/ci.yml
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ðŸ‘· ci

chore: enhancing code with cppcheck suggestions
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Builtins/Dict.cpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor: renaming Plugin.hpp to SharedLibrary.hpp to better reflect what's in it
  include/Ark/VM/SharedLibrary.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/SharedLibrary.cpp
Labels: ark/virtual machine

fix(ci): import tests/unittests/testmodule.arkm in artifacts
  .github/workflows/ci.yml
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ðŸ‘· ci

refactor(vm, module): moving the module mapping type definition to a separate file to avoid code duplication and circular includes
  include/Ark/Constants.hpp.in
  include/Ark/Module.hpp
  include/Ark/VM/ModuleMapping.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix(vm): loading a module was breaking LOAD_SYMBOL_BY_INDEX instructions, because it put its mapping at the end of the global scope
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/ClosureScope.cpp
  src/arkscript/main.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/TestModule/CMakeLists.txt
  tests/unittests/TestModule/TestModule.cpp
  tests/unittests/TestsHelper.hpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/assert.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/assert.expected
  tests/unittests/resources/LangSuite/module-tests.ark
  tests/unittests/resources/LangSuite/unittests.ark
Labels: ark/virtual machine, ðŸ§ª tests

refactor: moving the default Ark values to Ark/VM/DefaultValues.hpp
  include/Ark/Ark.hpp
  include/Ark/Module.hpp
  include/Ark/VM/DefaultValues.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/Value/Dict.cpp
Labels: ark/virtual machine

feat(closures): captures are no longer fully qualified
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/ExecutionContext.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.ark
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture/b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn/b.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/parser, ark/virtual machine

chore(bytecode reader): update bytecode reader to support all the new super instructions and display their arguments
  include/Ark/Compiler/IntermediateRepresentation/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

chore(docs): update readme
  README.md
Labels: documentation

refactor(arkscript cli)!: reorder arguments so that file to compile/run is always at the end
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
  tests/fuzzing/docker/2-fuzz.sh
Labels: documentation, ðŸ‘· ci

fix(cli): argument matching was failing because of duplication
  README.md
  src/arkscript/main.cpp
Labels: documentation

fix(Value): adding dictionary comparison
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Dict.hpp
  src/arkreactor/VM/Value.cpp
Labels: ark/virtual machine

feat(tests): adding rosetta code nested items solution
  tests/unittests/resources/RosettaSuite/nested_functions.ark
Labels: none

fix(cli): fixed arkscript cli to properly receive script arguments and pass them along to the running code
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/State.cpp
  src/arkscript/main.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
Labels: ark/compiler, ark/virtual machine

feat(tests): unittests target can take a filter as an argument
  tests/unittests/Main.cpp
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

feat(parser): all the subparsers now take a FilePosition
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): fixing the position of the function calls in the parser
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/Main.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args.expected
Labels: ark/parser, ðŸ§ª tests

fix(parser): set position for each macro node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
