Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/Lexer.*
  - include/Ark/Compiler/Node.*
  - include/Ark/Compiler/Parser.*
  - src/arkreactor/Compiler/Lexer.*
  - src/arkreactor/Compiler/Parser.*
  - src/arkreactor/Compiler/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/MacroProcessor.*
  - src/arkreactor/Compiler/MacroProcessor.*

fix: remove some old testing code
  src/arkreactor/VM/State.cpp
Labels: virtual machine

style: remove NULL occurences
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

refactor: implement PR changes
  include/Ark/Compiler/Parser.hpp
  include/Ark/REPL/Repl.hpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine

fix: using the operator ''_name syntax to avoid warning on reserved token
  include/Ark/Literals.hpp
Labels: none

fix: using the operator ''_name syntax to avoid warning on reserved token
  include/Ark/Literals.hpp
Labels: none

fix: formatting code
  .github/workflows/clang-format.yml
  include/Ark/Literals.hpp
Labels: none

fix: formatting code
  .github/workflows/clang-format.yml
  include/Ark/Literals.hpp
Labels: none

fix(utils): using std::accumulate to join strings, only where needed
  include/Ark/Utils.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix(utils): using std::accumulate to join strings, only where needed
  include/Ark/Utils.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine
