Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

test: add a test for the new debugger command 'scopes'
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.prompt
Labels: none

test: add specific IR inlining test where inlining shouldn't happen
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow_2_no_inline.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow_2_no_inline.expected
Labels: none

fix(compiler): keep provenance information of IR blocks inside the IROptimiser
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/inlined_optimised_ir/shadow_2_no_inline.ark
  tests/unittests/resources/CompilerSuite/inlined_optimised_ir/shadow_2_no_inline.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/99bottles.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/ackermann.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/builtins.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/call_builtin_not_optimized.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/factorial.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/fused_math_ops.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/mul.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/type.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/type.expected
Labels: none

feat(compiler, vm): ARK-325, instruction POP_SCOPE now takes a mode, used by the IR inliner to materialise references
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(inliner): ARK-325, add a very basic IR inliner
  .run/a.ark.run.xml
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  include/Ark/Compiler/ValTableElem.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(compiler): ARK-325, generate new labels when inlining code
  .run/a.ark.run.xml
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

feat(compiler): ARK-325, track the origin of an ir block
  CHANGELOG.md
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: none

test: add specific IR inlining test where inlining shouldn't happen
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow_2_no_inline.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow_2_no_inline.expected
Labels: none

fix: add missing header in Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
Labels: none

fix(compiler): do not try to optimise IR that uses labels that might be outside the valid range of values for super instructions (12 bits)
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

fix(compiler): keep provenance information of IR blocks inside the IROptimiser
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/inlined_optimised_ir/shadow_2_no_inline.ark
  tests/unittests/resources/CompilerSuite/inlined_optimised_ir/shadow_2_no_inline.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/99bottles.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/ackermann.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/builtins.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/call_builtin_not_optimized.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/factorial.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/fused_math_ops.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/jumps.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/mul.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimised_ir/type.ark
  tests/unittests/resources/CompilerSuite/optimised_ir/type.expected
Labels: none

feat(config): add a feature toggle for the ir inliner, distinct from the ir optimiser
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/main.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
Labels: ark/compiler

feat(cli): new toggle -f(no-)irinliner
  CHANGELOG.md
  src/arkscript/main.cpp
Labels: none

feat(tests): duplicate lang suite to run with and without the ir inliner
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  tests/unittests/Suites/LangSuite.cpp
Labels: none

fix(ast lowerer): check for breakpoints at the end of begin nodes to determine if a node is unused or terminal
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.ark
Labels: none

test: ARK-374, add empty escape sequence test
  tests/unittests/resources/ParserSuite/failure/unknown_escape_seq.ark
  tests/unittests/resources/ParserSuite/failure/unknown_escape_seq.expected
Labels: none

chore: update tests
  include/Ark/Constants.hpp.in
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/lt_len_sym_jump_if_false_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/store_len_num.expected
Labels: none

feat(compiler): ARK-325, do not inline functions mutating their arguments
  .run/a.ark.run.xml
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat(compiler): ARK-325, inline builtin proxies
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

feat(debugger): add new 'scopes' command, and avoid tracing instructions for code comming from the debugger
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/VM/Debugger.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(compiler): ARK-325, add an empty ir inliner in between the ast lowerer and the ir optimizer
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

test: add a test for the new debugger command 'scopes'
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.prompt
Labels: none

fix(compiler): set the correct source location when inlining code
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
Labels: none

feat(compiler): add the number of instructions in a page in the textual IR
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  tests/unittests/resources/CompilerSuite/inlined_ir/builtin_proxies.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/chained.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/shadows.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/simple_function.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: none

fix: use a constexpr string_view instead of a constexpr string, otherwise some compilers complain the expression is not a constant expression and performs head allocations
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat(compiler): ARK-325, inline only when argument count matches
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

feat(compiler): ARK-325, add more metadata to IR blocks, and create a basic inlining heuristic
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: none

feat(compiler): ARK-325, inline functions that have been declared only once
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

chore: ARK-325, add tests for inlined IR
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/resources/CompilerSuite/inlined_ir/builtin_proxies.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/builtin_proxies.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/chained.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/chained.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow/lambda.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow/weird.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadows.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadows.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/simple_function.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/simple_function.expected
Labels: none

refactor(compiler): centralise IR::Block creation
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/resources/CompilerSuite/optimised_ir/closures.expected
Labels: none

chore: fix the broken star history chart
  README.md
Labels: documentation

feat: add new macros let*, mut*, set*
  CHANGELOG.md
Labels: none

feat: add necessary config to generate .deb, .rpm, .dmg and PKGBUILDs
  CMakeLists.txt
  cmake/packaging.cmake
  packaging/PKGBUILD-bin.in
  packaging/PKGBUILD-src.in
Labels: none

ci: add publishing to AUR as well as building debian and rpm packages
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  CMakeLists.txt
  cmake/packaging.cmake
Labels: ðŸ‘· ci

fix: check in the installation lib folder when looking for the stdlib
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkscript/main.cpp
Labels: none

chore: release 4.7.2
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  CHANGELOG.md
Labels: ðŸ‘· ci

ci: release workflow now uploads SHA256 checksums
  .github/workflows/release.yml
Labels: ðŸ‘· ci

refactor(cmake): split configuration for the different target into their own cmakelist
  CMakeLists.txt
  src/arkemscripten/CMakeLists.txt
  src/arkscript/CMakeLists.txt
  tests/benchmarks/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Labels: ðŸ§ª tests

ci: add paths-ignore to the workflows, to run only when needed
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/codspeed.yml
  .github/workflows/docker.yml
  .github/workflows/validate-links.yml
Labels: ðŸ‘· ci

docs: add the different support types of commits in .pre-commit-config
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
