Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

the vm state is now a reference instead of a raw non owning pointer
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

the vm state is now a reference instead of a raw non owning pointer
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

updating the integration tests to use the new vm api
  tests/cpp/01.cpp
  tests/cpp/02.cpp
  tests/cpp/03.cpp
Labels: tests

updating the integration tests to use the new vm api
  tests/cpp/01.cpp
  tests/cpp/02.cpp
  tests/cpp/03.cpp
Labels: tests

updating the VM to use a better alternative to ~0: numeric_limits
  include/Ark/VM/inline/VM.inl
  include/Ark/VM/inline/Value.inl
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

updating the VM to use a better alternative to ~0: numeric_limits
  include/Ark/VM/inline/VM.inl
  include/Ark/VM/inline/Value.inl
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fixing the pointer to state -> reference to state
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: repl

fixing the pointer to state -> reference to state
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: repl

reorganizing files
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/Value/Closure.cpp
  src/arkreactor/VM/Value/UserType.cpp
Labels: virtual machine

reorganizing files
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/Value/Closure.cpp
  src/arkreactor/VM/Value/UserType.cpp
Labels: virtual machine

adding an ExecutionHandler to ease the transition to a parallelized VM
  .vscode/launch.json
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionHandler.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: repl, virtual machine

adding an ExecutionHandler to ease the transition to a parallelized VM
  .vscode/launch.json
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionHandler.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: repl, virtual machine

handy debug info about stack trash
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

handy debug info about stack trash
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

adding deprecation hint on VM(State*)
  CHANGELOG.md
  include/Ark/VM/VM.hpp
Labels: virtual machine

adding deprecation hint on VM(State*)
  CHANGELOG.md
  include/Ark/VM/VM.hpp
Labels: virtual machine

using emplace_back(vals...) instead of a mix with std::pair, as stated by @Loki-Astari
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

using emplace_back(vals...) instead of a mix with std::pair, as stated by @Loki-Astari
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

fixing error with 'max' macro being defined
  include/Ark/VM/ExecutionHandler.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine

fixing error with 'max' macro being defined
  include/Ark/VM/ExecutionHandler.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine

adding doc header for ExecutionHandler.hpp [skip ci]
  include/Ark/VM/ExecutionHandler.hpp
Labels: virtual machine

adding doc header for ExecutionHandler.hpp [skip ci]
  include/Ark/VM/ExecutionHandler.hpp
Labels: virtual machine

splitting utils.hpp into multiple files for maintenance
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Files.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: parser, repl, virtual machine

splitting utils.hpp into multiple files for maintenance
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Files.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: parser, repl, virtual machine

chore: updating code to compile without warnings and errors
  .vscode/launch.json
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler, parser

chore: updating code to compile without warnings and errors
  .vscode/launch.json
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler, parser

chore: update changelog
  CHANGELOG.md
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: none

generalizing the execution context: we can have many of them running separatly now
  .vscode/launch.json
  CHANGELOG.md
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: repl, virtual machine

generalizing the execution context: we can have many of them running separatly now
  .vscode/launch.json
  CHANGELOG.md
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: repl, virtual machine

adding collatz example
  examples/collatz.ark
Labels: none

adding collatz example
  examples/collatz.ark
Labels: none

adding an ARK_PROFILER_MIPS toggle
  src/arkreactor/VM/VM.cpp
  tests/arkscript/coz-profiler/ackermann_3_6.ark
  tests/arkscript/coz-profiler/unittests.ark
Labels: virtual machine

adding an ARK_PROFILER_MIPS toggle
  src/arkreactor/VM/VM.cpp
  tests/arkscript/coz-profiler/ackermann_3_6.ark
  tests/arkscript/coz-profiler/unittests.ark
Labels: virtual machine

updating docs and changelog [skip ci]
  CHANGELOG.md
  README.md
Labels: documentation

updating docs and changelog [skip ci]
  CHANGELOG.md
  README.md
Labels: documentation

reserving a default scope size of 3 as this yields good performances
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

reserving a default scope size of 3 as this yields good performances
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

refreshing the readme a bit
  README.md
Labels: documentation

more details added to CONTRIBUTING.md (#356)
  CONTRIBUTING.md
Labels: none
