Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

refactor(vm): move include where they are needed
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

chore: add missing include for std::get_time on debian
  src/arkreactor/Builtins/Time.cpp
Labels: none

chore(ci): ignore leaks when copying a ClosureScope
  .github/workflows/ci.yml
  lsan-suppressions.txt
  valgrind-suppressions.txt
Labels: ðŸ‘· ci

chore(ci): ignore leaks when copying a ClosureScope
  .github/workflows/ci.yml
  lsan-suppressions.txt
  valgrind-suppressions.txt
Labels: ðŸ‘· ci

chore: add missing include for std::get_time on debian
  src/arkreactor/Builtins/Time.cpp
Labels: none

refactor(vm): move include where they are needed
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

chore: update cppcheck configuration
  .gitignore
  .pre-commit-config.yaml
  cppcheck-suppressions.txt
Labels: none

docs: explain the potential memory leak with self referencing closures
  .pre-commit-config.yaml
  src/arkreactor/VM/Value/Closure.cpp
Labels: ark/virtual machine

fix(cmake): add warning and default value for CMAKE_BUILD_TYPE when it's not provided
  CMakeLists.txt
Labels: none

chore: fix grammar and formatting
  Installer.iss.in
  README.md
  docs/arkdoc/Macros.txt
  examples/calendar.ark
  examples/games/game_of_life.ark
  examples/games/snake/snake.ark
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
Labels: ark/macros, documentation

chore: fix grammar in changelog and readme
  CHANGELOG.md
  README.md
Labels: documentation

chore(bytecode reader): display the length of code segments as the number of instructions instead of bytes
  CHANGELOG.md
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
Labels: ark/compiler

fix: added un-included cstdint header in VM/Value/Closure.hpp
  include/Ark/VM/Value/Closure.hpp
Labels: ark/virtual machine

fix(ci): use a dedicated workflow to write comments on PR
  .github/workflows/ci.yml
  .github/workflows/comment_pr.yml
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

fix: added un-included cstdint header in VM/Value/Closure.hpp
  include/Ark/VM/Value/Closure.hpp
Labels: ark/virtual machine

perf: ARK-373 improve fqn lookups in namespaces
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
Labels: none

perf: ARK-373 improve fqn lookups in namespaces
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
Labels: none

feat(debugger): add new 'scopes' command, and avoid tracing instructions for code comming from the debugger
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/VM/Debugger.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

chore: update tests
  include/Ark/Constants.hpp.in
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/lt_len_sym_jump_if_false_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/store_len_num.expected
Labels: none

feat(compiler): ARK-325, add an empty ir inliner in between the ast lowerer and the ir optimizer
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

feat(compiler): ARK-325, track the origin of an ir block
  CHANGELOG.md
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: none

feat(compiler, vm): ARK-325, instruction POP_SCOPE now takes a mode, used by the IR inliner to materialise references
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(compiler): ARK-325, add more metadata to IR blocks, and create a basic inlining heuristic
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: none

feat(compiler): ARK-325, do not inline functions mutating their arguments
  .run/a.ark.run.xml
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat(compiler): ARK-325, inline builtin proxies
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

feat(config): add a feature toggle for the ir inliner, distinct from the ir optimiser
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/main.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
Labels: ark/compiler

feat(inliner): ARK-325, add a very basic IR inliner
  .run/a.ark.run.xml
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  include/Ark/Compiler/ValTableElem.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

fix(ast lowerer): check for breakpoints at the end of begin nodes to determine if a node is unused or terminal
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.ark
Labels: none

feat(tests): duplicate lang suite to run with and without the ir inliner
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  tests/unittests/Suites/LangSuite.cpp
Labels: none

feat(cli): new toggle -f(no-)irinliner
  CHANGELOG.md
  src/arkscript/main.cpp
Labels: none

feat(compiler): ARK-325, generate new labels when inlining code
  .run/a.ark.run.xml
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

fix: add missing header in Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
Labels: none

fix: use a constexpr string_view instead of a constexpr string, otherwise some compilers complain the expression is not a constant expression and performs head allocations
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat(compiler): ARK-325, inline only when argument count matches
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

chore: ARK-325, add tests for inlined IR
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/resources/CompilerSuite/inlined_ir/builtin_proxies.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/builtin_proxies.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/chained.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/chained.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow/lambda.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadow/weird.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadows.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/shadows.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/simple_function.ark
  tests/unittests/resources/CompilerSuite/inlined_ir/simple_function.expected
Labels: none

fix(compiler): do not try to optimise IR that uses labels that might be outside the valid range of values for super instructions (12 bits)
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

feat(compiler): ARK-325, inline functions that have been declared only once
  include/Ark/Compiler/IntermediateRepresentation/IRInliner.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
Labels: none

test: ARK-374, add empty escape sequence test
  tests/unittests/resources/ParserSuite/failure/unknown_escape_seq.ark
  tests/unittests/resources/ParserSuite/failure/unknown_escape_seq.expected
Labels: none

feat(compiler): add the number of instructions in a page in the textual IR
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  tests/unittests/resources/CompilerSuite/inlined_ir/builtin_proxies.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/chained.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/shadows.expected
  tests/unittests/resources/CompilerSuite/inlined_ir/simple_function.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
Labels: none

fix(compiler): set the correct source location when inlining code
  src/arkreactor/Compiler/IntermediateRepresentation/IRInliner.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
