Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

Bug: https://github.com/ArkScript-lang/Ark/issues/337
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

Fix move semantics on VM
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

Fix move semantics for Value
  include/Ark/VM/Value.hpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

Make sure plugin is not copyable as it contains an 'owned' pointer
  include/Ark/VM/Plugin.hpp
Labels: virtual machine

Fix move semantics on Parser
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

Add commits about VM pointers
  include/Ark/VM/VM.hpp
Labels: virtual machine

Fix move semantics for Scope
  include/Ark/VM/Scope.hpp
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

Fix move semantics on Compiler
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

Fix the formatting rules
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine, macros

Added comment on Executer about its none owned pointer member
  include/Ark/Compiler/Macros/Executor.hpp
Labels: macros

Fix move semantics on UserType
  include/Ark/VM/UserType.hpp
  include/Ark/VM/inline/UserType.inl
  src/arkreactor/VM/UserType.cpp
  src/arkreactor/VM/VM.cpp
  tests/cpp/03.cpp
Labels: virtual machine, tests

Temporary Fix to show it compiles. Will revert before merge
  .gitmodules
Labels: none

Fix comments
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine, macros

Put Submodules back
  .gitmodules
Labels: none

Temporary Fix to show it compiles. Will revert before merge
  .gitmodules
Labels: none

Fix move semantics on UserType
  include/Ark/VM/UserType.hpp
  include/Ark/VM/inline/UserType.inl
  src/arkreactor/VM/UserType.cpp
  src/arkreactor/VM/VM.cpp
  tests/cpp/03.cpp
Labels: virtual machine, tests

Put Submodules back
  .gitmodules
Labels: none

Fix move semantics on UserType
  include/Ark/VM/UserType.hpp
  include/Ark/VM/inline/UserType.inl
  src/arkreactor/VM/UserType.cpp
  src/arkreactor/VM/VM.cpp
  tests/cpp/03.cpp
Labels: virtual machine, tests

Fix move semantics for Value
  include/Ark/VM/Value.hpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

Fix move semantics for Scope
  include/Ark/VM/Scope.hpp
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

Fix move semantics on Parser
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

Fix move semantics on Parser
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

Add commits about VM pointers
  include/Ark/VM/VM.hpp
Labels: virtual machine

Fix comments
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine, macros

Added comment on Executer about its none owned pointer member
  include/Ark/Compiler/Macros/Executor.hpp
Labels: macros

Fix comments
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine, macros

Add commits about VM pointers
  include/Ark/VM/VM.hpp
Labels: virtual machine

Fix move semantics on Compiler
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

Added comment on Executer about its none owned pointer member
  include/Ark/Compiler/Macros/Executor.hpp
Labels: macros

Fix move semantics for Scope
  include/Ark/VM/Scope.hpp
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

Fix move semantics on VM
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

Put Submodules back
  .gitmodules
Labels: none

Fix move semantics for Value
  include/Ark/VM/Value.hpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

Temporary Fix to show it compiles. Will revert before merge
  .gitmodules
Labels: none

Make sure plugin is not copyable as it contains an 'owned' pointer
  include/Ark/VM/Plugin.hpp
Labels: virtual machine

Fix the formatting rules
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine, macros

Fix the formatting rules
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
Labels: virtual machine, macros

Make sure plugin is not copyable as it contains an 'owned' pointer
  include/Ark/VM/Plugin.hpp
Labels: virtual machine

Fix move semantics on Compiler
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

Fix move semantics on VM
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
Labels: virtual machine
