Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

Error Context: Fix underline bug in context error
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Move termcolor include from .hpp to .cpp
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Move termcolor include from .hpp to .cpp
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Fix VS build errors
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Fix VS build errors
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Remove ref from in isPairableChar
  include/Ark/Compiler/AST/makeErrorCtx.hpp
Labels: none

Error Context: Remove ref from in isPairableChar
  include/Ark/Compiler/AST/makeErrorCtx.hpp
Labels: none

Error Context: Change pairing_color to constexpr std::array
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Change pairing_color to constexpr std::array
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

fix: the ci should download the artifact under artifact/ and not temp/ as it is used by the tests
  .github/workflows/ci.yml
Labels: ci

fix: the ci should download the artifact under artifact/ and not temp/ as it is used by the tests
  .github/workflows/ci.yml
Labels: ci

moving the benchmarks to the appropriate repository
  tests/arkscript/coz-profiler/ackermann_3_6.ark
  tests/arkscript/coz-profiler/fibo_28.ark
  tests/arkscript/coz-profiler/unittests.ark
Labels: none

moving the benchmarks to the appropriate repository
  tests/arkscript/coz-profiler/ackermann_3_6.ark
  tests/arkscript/coz-profiler/fibo_28.ark
  tests/arkscript/coz-profiler/unittests.ark
Labels: none

docs: updating the architecture tutorial and adding links to the other pages
  docs/MAINPAGE.md
  docs/impl_architecture.md
  docs/tutorial_embedding.md
  docs/tutorial_modules.md
Labels: documentation

docs: updating the architecture tutorial and adding links to the other pages
  docs/MAINPAGE.md
  docs/impl_architecture.md
  docs/tutorial_embedding.md
  docs/tutorial_modules.md
Labels: documentation

docs: updating the readme more or less example
  README.md
  examples/more-or-less.ark
Labels: documentation

docs: updating the readme more or less example
  README.md
  examples/more-or-less.ark
Labels: documentation

misc: adding ark/typechecker.hpp in ark/ark.hpp
  include/Ark/Ark.hpp
Labels: none

misc: adding ark/typechecker.hpp in ark/ark.hpp
  include/Ark/Ark.hpp
Labels: none

docs: adding documentation about usertype handling and common pitfalls with it
  docs/tutorial_modules.md
Labels: documentation

docs: adding documentation about usertype handling and common pitfalls with it
  docs/tutorial_modules.md
Labels: documentation

docs: adding the modules documentation on the website with the help of doxygen
  docs/Doxyfile
  docs/tutorial_ark_modules.md
  docs/tutorial_builtins.md
  docs/tutorials.md
Labels: documentation

docs: adding the modules documentation on the website with the help of doxygen
  docs/Doxyfile
  docs/tutorial_ark_modules.md
  docs/tutorial_builtins.md
  docs/tutorials.md
Labels: documentation

docs: removing unused file as everything about the modules is now documented
  docs/tutorial_ark_modules.md
Labels: documentation

docs: removing unused file as everything about the modules is now documented
  docs/tutorial_ark_modules.md
Labels: documentation

chore: updating changelog
  CHANGELOG.md
Labels: none

chore: updating changelog
  CHANGELOG.md
Labels: none

chore: updating project map
  images/diagram.svg
Labels: none

chore: updating project map
  images/diagram.svg
Labels: none

docs: adding the beginning of the compiler implementation documentation
  docs/impl_compiler.md
Labels: documentation

docs: adding the beginning of the compiler implementation documentation
  docs/impl_compiler.md
Labels: documentation

docs: documenting the compilation process
  docs/impl_compiler.md
Labels: documentation

docs: documenting the compilation process
  docs/impl_compiler.md
Labels: documentation

fix: valgrind install in github ci
  .github/workflows/ci.yml
Labels: ci

ci: do not run the ci when modifying the documentation
  .github/workflows/ci.yml
Labels: ci

fix: valgrind install in github ci
  .github/workflows/ci.yml
Labels: ci

ci: do not run the ci when modifying the documentation
  .github/workflows/ci.yml
Labels: ci

ci: do not run the ci when modifying the documentation Former-commit-id: 488a81efe3081fc1324c02e7f901e958b5325966
  .github/workflows/ci.yml
Labels: ci
