Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

adding needed method to free used futures
  async.ark
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

tests: adding basic tests for async/await
  include/Ark/VM/inline/VM.inl
  tests/arkscript/async-tests.ark
  tests/arkscript/unittests.ark
Labels: virtual machine, tests

tests: adding basic tests for async/await
  include/Ark/VM/inline/VM.inl
  tests/arkscript/async-tests.ark
  tests/arkscript/unittests.ark
Labels: virtual machine, tests

chore: formatting code
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

chore: formatting code
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

reverting signature change on resolve(const Value*, Args&&...)
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
Labels: virtual machine

reverting signature change on resolve(const Value*, Args&&...)
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
Labels: virtual machine

chore: updated the changelog
  CHANGELOG.md
Labels: none

chore: updated the changelog
  CHANGELOG.md
Labels: none

tests: adding checks on the computed values
  tests/arkscript/async-tests.ark
Labels: tests

tests: adding checks on the computed values
  tests/arkscript/async-tests.ark
Labels: tests

fix: initializing the scope_count_to_delete to fix a memory leak in async calls
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: initializing the scope_count_to_delete to fix a memory leak in async calls
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

ci: pass an additional argument to the unit tests to tell them we are running inside valgrind
  .github/workflows/ci.yml
  tests/arkscript/async-tests.ark
Labels: ci, tests

ci: pass an additional argument to the unit tests to tell them we are running inside valgrind
  .github/workflows/ci.yml
  tests/arkscript/async-tests.ark
Labels: ci, tests

build: adding link time optimization support
  CHANGELOG.md
  CMakeLists.txt
Labels: none

build: adding link time optimization support
  CHANGELOG.md
  CMakeLists.txt
Labels: none

feat: add JSON output to frontend using --ast
  CHANGELOG.md
  include/Ark/Compiler/JsonCompiler.hpp
  src/arkreactor/Compiler/JsonCompiler.cpp
  src/arkscript/main.cpp
Labels: compiler

feat: add JSON output to frontend using --ast
  CHANGELOG.md
  include/Ark/Compiler/JsonCompiler.hpp
  src/arkreactor/Compiler/JsonCompiler.cpp
  src/arkscript/main.cpp
Labels: compiler

fix: clang-format
  src/arkreactor/Compiler/JsonCompiler.cpp
Labels: compiler

fix: clang-format
  src/arkreactor/Compiler/JsonCompiler.cpp
Labels: compiler

adding ARK_API macro tag to exported functions
  include/Ark/Compiler/JsonCompiler.hpp
Labels: compiler

adding ARK_API macro tag to exported functions
  include/Ark/Compiler/JsonCompiler.hpp
Labels: compiler

switching to fixed size instructions
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: cleaning up the compiler code
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: removed unused nodetype::closure
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler, parser, macros

refactor: renaming methods and removing useless ones in the compiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat: the bytecode reader works with the 4 bytes long instructions
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fix: the bytecode reader CLI can now use --page in conjunction with --slice
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

feat: added the current instruction hex representation alongside its name and value
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

updating the virtual machine to be able to use instructions on 4 bytes
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

ArkScript v3.3.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

ArkScript v3.3.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

ci: should run for every pull request
  .github/workflows/ci.yml
Labels: ci

fix: copying the locals of the primary execution context to be able to call functions defined outside the async func
  CHANGELOG.md
  include/Ark/VM/ExecutionContext.hpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: copying the locals of the primary execution context to be able to call functions defined outside the async func
  CHANGELOG.md
  include/Ark/VM/ExecutionContext.hpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: macros should always be evaluated and argcount has to work with both Symbols and anonymous Functions
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/arkscript/macro-tests.ark
Labels: macros, tests

fix: macros should always be evaluated and argcount has to work with both Symbols and anonymous Functions
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/arkscript/macro-tests.ark
Labels: macros, tests

removed deprecated code
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Builtins/BuiltinsErrors.inl
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkscript/main.cpp
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
Labels: virtual machine, tests

cleanup: removing coz profiler
  .gitignore
  .gitmodules
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/Ark/Profiling.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: virtual machine, documentation
