Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

fix(compiler): ensure there is a variable to mark as unreachable
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

chore: disable force inlining in fuzzed builds
  include/Ark/Utils/Platform.hpp
Labels: none

chore: remove internal builtin__list:slice and use builtin__slice implementation instead
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/List.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/listslice_str_num_bool_nil.expected
Labels: none

feat(builtins): add builtin__string:codepoints to compute the unicode codepoints of a string
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_codepoints_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_codepoints_num.expected
Labels: none

feat(macro): $symcat accepts a string or a symbol as its first argument
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

fix(macro): $repr should be able to show the representation of a macro, when given one
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/macros

chore: remove internal builtin__list:slice and use builtin__slice implementation instead
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/List.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/listslice_str_num_bool_nil.expected
Labels: none

feat(builtins): add builtin__string:codepoints to compute the unicode codepoints of a string
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_codepoints_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_codepoints_num.expected
Labels: none

feat(macro): $symcat accepts a string or a symbol as its first argument
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

fix(macro): $repr should be able to show the representation of a macro, when given one
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/macros

fix(docker): use alpine 3.23
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
  harden.dockerfile
Labels: ðŸ‘· ci

feat(builtins): add bitwise builtins
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Math.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
Labels: ark/virtual machine

fix(math): fix the size of the numbers used for bitwise operations on 64 bits
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/Builtins/Math.cpp
  src/arkreactor/VM/Value/Value.cpp
Labels: ark/virtual machine

fix(builtins): redo the count left 0/1 bits to use an arbitrary number of bits
  CHANGELOG.md
  src/arkreactor/Builtins/Math.cpp
Labels: none

fix(builtins): redo the count left 0/1 bits to use an arbitrary number of bits
  CHANGELOG.md
  src/arkreactor/Builtins/Math.cpp
Labels: none

feat(builtins): add bitwise builtins
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Math.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
Labels: ark/virtual machine

fix(math): fix the size of the numbers used for bitwise operations on 64 bits
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/Builtins/Math.cpp
  src/arkreactor/VM/Value/Value.cpp
Labels: ark/virtual machine

fix(docker): use alpine 3.23
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
  harden.dockerfile
Labels: ðŸ‘· ci

chore: release 4.6.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

feat(builtins): add a string:bytes builtin
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
Labels: none

fix(benchmarks): use a copy of std.Math for the welder benchmarks, to avoid triggering false regressions
  tests/benchmarks/resources/parser/big.ark
  tests/benchmarks/resources/parser/some/Math.ark
Labels: none

feat(builtins): add two new builtins to manipulate dates
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Time.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.expected
Labels: none

feat(builtins): builtin__list:find can take an optional 3rd argument to specify where to start looking from
  CHANGELOG.md
  src/arkreactor/Builtins/List.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/listfind_str_num.expected
Labels: none

feat(builtins): use a gmtime_r impl from newlib
  .run/a.ark.run.xml
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Time.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.expected
  thirdparties/README.md
  thirdparties/newlib/include/newlib/gmtime_r.h
  thirdparties/newlib/include/newlib/local.h
  thirdparties/newlib/src/gmtime_r.c
Labels: ðŸ§ª tests

feat(builtins): use a gmtime_r impl from newlib
  .run/a.ark.run.xml
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Time.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.expected
  thirdparties/README.md
  thirdparties/newlib/include/newlib/gmtime_r.h
  thirdparties/newlib/include/newlib/local.h
  thirdparties/newlib/src/gmtime_r.c
Labels: ðŸ§ª tests

feat(builtins): builtin__list:find can take an optional 3rd argument to specify where to start looking from
  CHANGELOG.md
  src/arkreactor/Builtins/List.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/listfind_str_num.expected
Labels: none

feat(builtins): add two new builtins to manipulate dates
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Time.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timeparsedate_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_timetodate.expected
Labels: none

feat(parser): add new escape sequences \0xx and \xyz
  CHANGELOG.md
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Predicates.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_escape_seq.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_escape_seq.expected
  tests/unittests/resources/FormatterSuite/basics/escape_sequences.ark
  tests/unittests/resources/FormatterSuite/basics/escape_sequences.expected
  tests/unittests/resources/ParserSuite/failure/invalid_hex2_escape_seq.ark
  tests/unittests/resources/ParserSuite/failure/invalid_hex2_escape_seq.expected
  tests/unittests/resources/ParserSuite/failure/invalid_hex2_escape_seq_0.ark
  tests/unittests/resources/ParserSuite/failure/invalid_hex2_escape_seq_0.expected
  tests/unittests/resources/ParserSuite/failure/invalid_octal_escape_seq.ark
  tests/unittests/resources/ParserSuite/failure/invalid_octal_escape_seq.expected
  tests/unittests/resources/ParserSuite/failure/invalid_octal_escape_seq_4.ark
  tests/unittests/resources/ParserSuite/failure/invalid_octal_escape_seq_4.expected
Labels: ark/parser

chore: ArkScript 4.7.0 prerelease 1
  CMakeLists.txt
Labels: none

chore: invert logger debug and trace levels, so that debug is higher than trace
  include/Ark/Utils/Logger.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
Labels: ark/parser, ark/macros

feat(formatter): format 'switch' on multiple lines
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/codeSamples/switch.ark
  tests/unittests/resources/FormatterSuite/codeSamples/switch.expected
Labels: ark/formatter

chore: add calendar example
  examples/calendar.ark
Labels: none

fix(formatter): function calls that are on multiple lines should start on a newly indented line
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/codeSamples/calendar.ark
  tests/unittests/resources/FormatterSuite/codeSamples/calendar.expected
Labels: ark/formatter

fix(ci): use windows-2022 instead of windows-latest
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ðŸ‘· ci

feat(ci): add a job testing on windows with visual studio 2026
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
Labels: ðŸ‘· ci

chore: release 4.7.0
  .github/workflows/release.yml
  CHANGELOG.md
Labels: ðŸ‘· ci

fix(builtins): parseDate had an off by one error due to integer division not flooring for negative numbers, offseting some dates by a year
  CHANGELOG.md
  src/arkreactor/Builtins/Time.cpp
Labels: none

chore: release 4.7.1
  CHANGELOG.md
Labels: none

feat(builtins): add sys:version builtin
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Constants.hpp.in
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/State.cpp
  src/arkreactor/VM/Value/Dict.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
Labels: ark/compiler, ark/virtual machine

fix(vm): self referencing closures were crashing the VM
  CHANGELOG.md
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: ark/virtual machine
