Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

chore: formatting builtins.hpp
  include/Ark/Builtins/Builtins.hpp
Labels: none

fix: using build/arkscript as the main executable instead of build/ark
  .github/workflows/ci.yml
  .github/workflows/release.yml
  examples/run-all
Labels: ci

fix: formatting word.hpp
  .github/workflows/ci.yml
  .github/workflows/release.yml
  include/Ark/Compiler/Word.hpp
Labels: compiler, ci

updating to v3.4.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

updating to v3.4.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

ci: launch all the std lib tests one after another
  .github/launch-tests
Labels: none

ci: launch all the std lib tests one after another
  .github/launch-tests
Labels: none

ci: launch all the std lib tests one after another
  .github/launch-tests
Labels: none

feat: adding closure comparison, per field
  include/Ark/VM/Scope.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/Value/Closure.cpp
Labels: virtual machine

chore: update changelog
  CHANGELOG.md
Labels: none

optimizing the closure comparison and adding tests
  src/arkreactor/VM/Scope.cpp
  tests/arkscript/vm-tests.ark
Labels: virtual machine, tests

chore: updating the logging strategy (streams/printf removed, using fmt::print)
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/REPL/Repl.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine, macros

refactor: removing termcolor in BytecodeReader and using fmt instead
  include/Ark/Compiler/BytecodeReader.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

refactor: removed unused debug level attribute
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Compiler/AST/Lexer.hpp
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/JsonCompiler.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/JsonCompiler.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine, macros

fix: adding fmt as a cmake target instead of compiling its sources on every target
  CMakeLists.txt
  src/arkreactor/Builtins/IO.cpp
Labels: none

refacto: moving Ark/Module.hpp inside Ark repository
  include/Ark/Module.hpp
Labels: none

refacto: moving Ark/Module.hpp inside Ark repository
  include/Ark/Module.hpp
Labels: none

docs: updating the module creation tutorial
  CHANGELOG.md
  docs/tutorial_modules.md
Labels: documentation

fix: changing the lookup algorithm for modules
  .vscode/launch.json
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

docs: updating the module creation tutorial
  CHANGELOG.md
  docs/tutorial_modules.md
Labels: documentation

fix: changing the lookup algorithm for modules
  .vscode/launch.json
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

modules: new way of declaring modules, easier to use and to understand
  CHANGELOG.md
  docs/tutorial_modules.md
  include/Ark/Module.hpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine, documentation

modules: new way of declaring modules, easier to use and to understand
  CHANGELOG.md
  docs/tutorial_modules.md
  include/Ark/Module.hpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine, documentation

feat: adding specific AFL blocks to make fuzzing easier
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

feat: adding specific AFL blocks to make fuzzing easier
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

feat: adding a fuzzing corpus and scripts to make fuzzing easier
  .gitignore
  fuzzing/build.sh
  fuzzing/corpus/99bottles.ark
  fuzzing/corpus/ackermann.ark
  fuzzing/corpus/callbacks.ark
  fuzzing/corpus/closures.ark
  fuzzing/corpus/collatz.ark
  fuzzing/corpus/counter.ark
  fuzzing/corpus/error.ark
  fuzzing/corpus/events-tests.arkc
  fuzzing/corpus/exceptions-tests.arkc
  fuzzing/corpus/factorial.ark
  fuzzing/corpus/fibo.ark
  fuzzing/corpus/functional-tests.arkc
  fuzzing/corpus/lazy-tests.arkc
  fuzzing/corpus/list-tests.arkc
  fuzzing/corpus/macros-tests.arkc
  fuzzing/corpus/macros.ark
  fuzzing/corpus/math-tests.arkc
  fuzzing/corpus/quicksort.ark
  fuzzing/corpus/quote.ark
  fuzzing/corpus/range-tests.arkc
  fuzzing/corpus/string-tests.arkc
  fuzzing/corpus/sum_digits.ark
  fuzzing/corpus/switch-tests.arkc
  fuzzing/corpus/tests-tools.arkc
  fuzzing/fuzz.sh
  fuzzing/gen_corpus.sh
Labels: none

feat: adding a fuzzing corpus and scripts to make fuzzing easier
  .gitignore
  fuzzing/build.sh
  fuzzing/corpus/99bottles.ark
  fuzzing/corpus/ackermann.ark
  fuzzing/corpus/callbacks.ark
  fuzzing/corpus/closures.ark
  fuzzing/corpus/collatz.ark
  fuzzing/corpus/counter.ark
  fuzzing/corpus/error.ark
  fuzzing/corpus/events-tests.arkc
  fuzzing/corpus/exceptions-tests.arkc
  fuzzing/corpus/factorial.ark
  fuzzing/corpus/fibo.ark
  fuzzing/corpus/functional-tests.arkc
  fuzzing/corpus/lazy-tests.arkc
  fuzzing/corpus/list-tests.arkc
  fuzzing/corpus/macros-tests.arkc
  fuzzing/corpus/macros.ark
  fuzzing/corpus/math-tests.arkc
  fuzzing/corpus/quicksort.ark
  fuzzing/corpus/quote.ark
  fuzzing/corpus/range-tests.arkc
  fuzzing/corpus/string-tests.arkc
  fuzzing/corpus/sum_digits.ark
  fuzzing/corpus/switch-tests.arkc
  fuzzing/corpus/tests-tools.arkc
  fuzzing/fuzz.sh
  fuzzing/gen_corpus.sh
Labels: none

fix: setting shell scripts permissions
  fuzzing/build.sh
  fuzzing/fuzz.sh
  fuzzing/gen_corpus.sh
Labels: none

fix: setting shell scripts permissions
  fuzzing/build.sh
  fuzzing/fuzz.sh
  fuzzing/gen_corpus.sh
Labels: none

chore: adding the corpus generated by AFL
  fuzzing/input/99bottles.ark
  fuzzing/input/ackermann.ark
  fuzzing/input/callbacks.ark
  fuzzing/input/closures.ark
  fuzzing/input/collatz.ark
  fuzzing/input/error.ark
  fuzzing/input/factorial.ark
  fuzzing/input/macros.ark
  fuzzing/input/quote.ark
  fuzzing/input/sum_digits.ark
  fuzzing/input/tests-tools.arkc
  fuzzing/unique/99bottles.ark
  fuzzing/unique/ackermann.ark
  fuzzing/unique/callbacks.ark
  fuzzing/unique/closures.ark
  fuzzing/unique/collatz.ark
  fuzzing/unique/error.ark
  fuzzing/unique/factorial.ark
  fuzzing/unique/macros.ark
  fuzzing/unique/quote.ark
  fuzzing/unique/sum_digits.ark
  fuzzing/unique/tests-tools.arkc
Labels: none

chore: adding the corpus generated by AFL
  fuzzing/input/99bottles.ark
  fuzzing/input/ackermann.ark
  fuzzing/input/callbacks.ark
  fuzzing/input/closures.ark
  fuzzing/input/collatz.ark
  fuzzing/input/error.ark
  fuzzing/input/factorial.ark
  fuzzing/input/macros.ark
  fuzzing/input/quote.ark
  fuzzing/input/sum_digits.ark
  fuzzing/input/tests-tools.arkc
  fuzzing/unique/99bottles.ark
  fuzzing/unique/ackermann.ark
  fuzzing/unique/callbacks.ark
  fuzzing/unique/closures.ark
  fuzzing/unique/collatz.ark
  fuzzing/unique/error.ark
  fuzzing/unique/factorial.ark
  fuzzing/unique/macros.ark
  fuzzing/unique/quote.ark
  fuzzing/unique/sum_digits.ark
  fuzzing/unique/tests-tools.arkc
Labels: none

crashing the VM only on unknown errors
  .gitignore
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

crashing the VM only on unknown errors
  .gitignore
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: coding style
  README.md
  examples/99bottles.ark
  examples/ackermann.ark
  examples/blockchain.ark
  examples/callbacks.ark
  examples/closures.ark
  examples/counter.ark
  examples/error.ark
  examples/factorial.ark
  examples/fibo.ark
  examples/http.ark
  examples/macros.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
  tests/arkscript/async-tests.ark
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
  tests/arkscript/macro-tests.ark
  tests/arkscript/string-tests.ark
  tests/arkscript/tests-tools.ark
  tests/arkscript/unittests.ark
  tests/arkscript/utf8-tests.ark
  tests/arkscript/vm-tests.ark
Labels: documentation, tests

fix: coding style
  README.md
  examples/99bottles.ark
  examples/ackermann.ark
  examples/blockchain.ark
  examples/callbacks.ark
  examples/closures.ark
  examples/counter.ark
  examples/error.ark
  examples/factorial.ark
  examples/fibo.ark
  examples/http.ark
  examples/macros.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
  tests/arkscript/async-tests.ark
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
  tests/arkscript/macro-tests.ark
  tests/arkscript/string-tests.ark
  tests/arkscript/tests-tools.ark
  tests/arkscript/unittests.ark
  tests/arkscript/utf8-tests.ark
  tests/arkscript/vm-tests.ark
Labels: documentation, tests

adding script to run all the crashes and sort them
  .gitignore
  CHANGELOG.md
  fuzzing/run_crashes.py
Labels: none

adding script to run all the crashes and sort them
  .gitignore
  CHANGELOG.md
  fuzzing/run_crashes.py
Labels: none

fix: macro processor function registring now handles empty nodes
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: check if the variable being captured isn't unbound
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: compiler checks if operators receive the correct number of arguments
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt
