Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

feat(builtins): adding slice
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name_bis.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/RosettaSuite/abbreviations_easy.ark
  tests/unittests/resources/RosettaSuite/middle_three_digits.ark
Labels: ark/parser

chore: add more tests for slice builtin
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

feat(macro processor): ARK-332, all predefined macros can run on any code, no need for a node to match some obscur criteria
  docs/arkdoc/Macros.txt
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/LangSuite/macro-tests.ark
  tests/unittests/resources/LangSuite/operators-tests.ark
Labels: ark/macros

feat(macro processor): ARK-332, type-checking builtin macros arguments
  CHANGELOG.md
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_list_string.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_list_string.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_number_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_number_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_number.expected
Labels: ark/macros

fix: remove noreturn attribute from ASTLowerer::makeError
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
Labels: none

chore(builtin): adding more tests for slice builtin
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Slice.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/parser

fix(ir optimizer): do not optimize functions calling builtins in their first expression to a CALL_BUILTIN_WITHOUT_ADDRESS, if there isn't a RET after the builtin call
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
Labels: none

feat(cli): add -fno-cache cli option to disable the bytecode cache folder creation
  CHANGELOG.md
  README.md
  include/Ark/Constants.hpp.in
  include/Ark/State.hpp
  src/arkreactor/State.cpp
  src/arkscript/main.cpp
Labels: documentation

chore: rename the new slice builtin to 'builtin__slice' and mark it as an experiment for now
  CHANGELOG.md
  src/arkreactor/Builtins/Builtins.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/RosettaSuite/abbreviations_easy.ark
  tests/unittests/resources/RosettaSuite/middle_three_digits.ark
Labels: none

feat(cli): ARK-336, accept '-' as a filename to mean 'read code from stdin'
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation, ðŸ‘· ci

chore: rename the new slice builtin to 'builtin__slice' and mark it as an experiment for now
  CHANGELOG.md
  src/arkreactor/Builtins/Builtins.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/RosettaSuite/abbreviations_easy.ark
  tests/unittests/resources/RosettaSuite/middle_three_digits.ark
Labels: none

refactor(ast lowerer): uniformize error messages for invalid nodes
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/function_shadowing_from_inside.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_ope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_tail_call.expected
Labels: none

feat(cli): add -fno-cache cli option to disable the bytecode cache folder creation
  CHANGELOG.md
  README.md
  include/Ark/Constants.hpp.in
  include/Ark/State.hpp
  src/arkreactor/State.cpp
  src/arkscript/main.cpp
Labels: documentation

feat(macro processor): ARK-332, type-checking builtin macros arguments
  CHANGELOG.md
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_list_string.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_list_string.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_number_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_at_number_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_number.expected
Labels: ark/macros

feat(builtins): adding slice
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name_bis.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/RosettaSuite/abbreviations_easy.ark
  tests/unittests/resources/RosettaSuite/middle_three_digits.ark
Labels: ark/parser

feat(macro processor): ARK-332, all predefined macros can run on any code, no need for a node to match some obscur criteria
  docs/arkdoc/Macros.txt
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/LangSuite/macro-tests.ark
  tests/unittests/resources/LangSuite/operators-tests.ark
Labels: ark/macros

chore: add more tests for slice builtin
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

feat(cli): ARK-336, accept '-' as a filename to mean 'read code from stdin'
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation, ðŸ‘· ci

chore(builtin): adding more tests for slice builtin
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Slice.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_of_step_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/slice_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_num_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/slice_str_str_num.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/parser

fix(ir optimizer): do not optimize functions calling builtins in their first expression to a CALL_BUILTIN_WITHOUT_ADDRESS, if there isn't a RET after the builtin call
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
Labels: none

chore(tests): add more tests for empty? and add builtins
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_add_nothing.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_add_nothing.expected
  tests/unittests/resources/LangSuite/operators-tests.ark
Labels: none

fix: remove noreturn attribute from ASTLowerer::makeError
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
Labels: none

fix(cli): when taking input from stdin, clearly separate the lines instead of concatenating everything (resulting in comments being longer than expected)
  .github/workflows/ci.yml
  src/arkscript/main.cpp
Labels: ðŸ‘· ci

fix(cmake): do not overwrite the install dir of the stdlib when using a custom install prefix
  CMakeLists.txt
Labels: none

Replace `std::cout` with `std::cerr` in the error diagnostics handler
  include/Ark/Error/Diagnostics.hpp
Labels: none

feat(welder): dump IR to arkscript cache folder
  CHANGELOG.md
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

chore(ci): update clang format version used in CI
  .github/workflows/ci.yml
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler, ðŸ‘· ci

chore(ci): update clang format version used in CI
  .github/workflows/ci.yml
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler, ðŸ‘· ci

chore: release 4.3.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

Save benchmark test results
  tests/benchmarks/results/013-f533ccb6.csv
Labels: none

fix: tail calls have to reset the scope of the function, otherwise it messes up the indices used for loading variables
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/virtual machine

fix(tests): when updating .expected files, add a new line at the end so the pre-commit hook doesn't have to fix that every time
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

Delete benchmark test results
  tests/benchmarks/results/013-f533ccb6.csv
Labels: none

chore(docs): add placeholder description for macros.txt parameters
  docs/arkdoc/Macros.txt
Labels: none

fix: replace `std::cout` with `std::cerr` in the error diagnostics handler (#644)
  include/Ark/Error/Diagnostics.hpp
Labels: none

chore(docs): add placeholder description for macros.txt parameters
  docs/arkdoc/Macros.txt
Labels: none

fix(tests): when updating .expected files, add a new line at the end so the pre-commit hook doesn't have to fix that every time
  tests/unittests/TestsHelper.cpp
Labels: ðŸ§ª tests

fix: tail calls have to reset the scope of the function, otherwise it messes up the indices used for loading variables
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/virtual machine

Update the README file in "tests/benchmarks"
  tests/benchmarks/README.md
Labels: none

Update the README file in "tests/benchmarks"
  tests/benchmarks/README.md
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
