Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/Lexer.*
  - include/Ark/Compiler/Node.*
  - include/Ark/Compiler/Parser.*
  - src/arkreactor/Compiler/Lexer.*
  - src/arkreactor/Compiler/Parser.*
  - src/arkreactor/Compiler/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/MacroProcessor.*
  - src/arkreactor/Compiler/MacroProcessor.*

fix(lexer): fixing a bug in the lexer when adding content to the buffer from a comment
  src/arkreactor/Compiler/Lexer.cpp
Labels: compiler, parser

refactor(compiler): small enhancements
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat: adding spdlog
  .gitmodules
  CMakeLists.txt
Labels: none

WIP
  include/Ark/Compiler/Optimizer.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Optimizer.cpp
  trash.ark
Labels: compiler

feat(log): integrating spdlog
  CHANGELOG.md
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Lexer.cpp
  src/arkreactor/Compiler/MacroProcessor.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/State.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine, macros

Replaced printf() with cout()
  src/arkscript/REPL/Repl.cpp
Labels: repl

Replaced printf() with cout()
  src/arkscript/REPL/Repl.cpp
Labels: repl

Replaced printf() with cout()
  src/arkscript/REPL/Repl.cpp
Labels: repl

fix: correcting as much warnings as possible
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Optimizer.cpp
  src/arkreactor/Compiler/Parser.cpp
  src/arkreactor/VM/UserType.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine

refactor(cmake): adding more warning flags
  CMakeLists.txt
Labels: none

refactor(cmake): adding more warning flags
  CMakeLists.txt
Labels: none

refactor(compiler): better handling of keywords
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

refactor(compiler): better handling of keywords
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

refactor(compiler): removing useless using Inst_t = uint8_t
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/inline/Compiler.inl
Labels: compiler

refactor(compiler): removing useless using Inst_t = uint8_t
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/inline/Compiler.inl
Labels: compiler

refactor(compiler): enhancing the handling of closure.field.field... in let/mut/set
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

refactor(compiler): enhancing the handling of closure.field.field... in let/mut/set
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fix(builtins): adding attribute maybe_unused where needed
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Builtins/Time.cpp
Labels: none

fix(builtins): adding attribute maybe_unused where needed
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Builtins/Time.cpp
Labels: none

fix(bytecodereader): adding missing instructions
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

fix(bytecodereader): adding missing instructions
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

updating changelog to reflect changes
  CHANGELOG.md
Labels: none

updating changelog to reflect changes
  CHANGELOG.md
Labels: none

fix(compiler): we had a segfault before because n++ was done multiple times
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fix(compiler): we had a segfault before because n++ was done multiple times
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat(literals): adding user defined literals utilities
  include/Ark/Literals.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat(literals): adding user defined literals utilities
  include/Ark/Literals.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

refactor(compiler): added UDL and improved the page selector of the compiler
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/inline/Compiler.inl
  include/Ark/Literals.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

refactor(compiler): added UDL and improved the page selector of the compiler
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/inline/Compiler.inl
  include/Ark/Literals.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

config(vscode): updating launch.json configuration
  .vscode/launch.json
Labels: none

config(vscode): updating launch.json configuration
  .vscode/launch.json
Labels: none

refactor(compiler): moved everything related to the AST under Compiler/AST
  CHANGELOG.md
  include/Ark/Compiler/AST/Lexer.hpp
  include/Ark/Compiler/AST/Lexer.inl
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Node.inl
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/Parser.inl
  include/Ark/Compiler/AST/Token.hpp
  include/Ark/Compiler/CValue.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Lexer.hpp
  include/Ark/Compiler/MacroExecutor.hpp
  include/Ark/Compiler/MacroExecutors/ConditionalExecutor.hpp
  include/Ark/Compiler/MacroExecutors/ListExecutor.hpp
  include/Ark/Compiler/MacroExecutors/SymbolExecutor.hpp
  include/Ark/Compiler/MacroProcessor.hpp
  include/Ark/Compiler/Optimizer.hpp
  include/Ark/Compiler/inline/Lexer.inl
  include/Ark/Compiler/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/MacroExecutors/ListExecutor.cpp
  src/arkreactor/Compiler/MacroProcessor.cpp
Labels: compiler, parser, macros

refactor(compiler): moved everything related to the AST under Compiler/AST
  CHANGELOG.md
  include/Ark/Compiler/AST/Lexer.hpp
  include/Ark/Compiler/AST/Lexer.inl
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Node.inl
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/Parser.inl
  include/Ark/Compiler/AST/Token.hpp
  include/Ark/Compiler/CValue.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Lexer.hpp
  include/Ark/Compiler/MacroExecutor.hpp
  include/Ark/Compiler/MacroExecutors/ConditionalExecutor.hpp
  include/Ark/Compiler/MacroExecutors/ListExecutor.hpp
  include/Ark/Compiler/MacroExecutors/SymbolExecutor.hpp
  include/Ark/Compiler/MacroProcessor.hpp
  include/Ark/Compiler/Optimizer.hpp
  include/Ark/Compiler/inline/Lexer.inl
  include/Ark/Compiler/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/MacroExecutors/ListExecutor.cpp
  src/arkreactor/Compiler/MacroProcessor.cpp
Labels: compiler, parser, macros

refactor(node): improving the node and the includes it needs
  include/Ark/Compiler/AST/Lexer.inl
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Node.inl
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/MacroExecutors/ListExecutor.cpp
  src/arkreactor/Compiler/MacroExecutors/SymbolExecutor.cpp
Labels: compiler

refactor(node): improving the node and the includes it needs
  include/Ark/Compiler/AST/Lexer.inl
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Node.inl
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/MacroExecutors/ListExecutor.cpp
  src/arkreactor/Compiler/MacroExecutors/SymbolExecutor.cpp
Labels: compiler

refactor(parser): improving the include list and getting rid of the .inl
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/Parser.inl
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: none

refactor(parser): improving the include list and getting rid of the .inl
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/Parser.inl
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: none

refactor(compiler): moving macros stuff under Compiler/Macros
  CHANGELOG.md
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/ConditionalExecutor.hpp
  include/Ark/Compiler/Macros/Executors/ListExecutor.hpp
  include/Ark/Compiler/Macros/Executors/Pipeline.hpp
  include/Ark/Compiler/Macros/Executors/SymbolExecutor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/inline/MacroProcessor.inl
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/ConditionalExecutor.cpp
  src/arkreactor/Compiler/Macros/Executors/ListExecutor.cpp
  src/arkreactor/Compiler/Macros/Executors/Pipeline.cpp
  src/arkreactor/Compiler/Macros/Executors/SymbolExecutor.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor(compiler): moving macros stuff under Compiler/Macros
  CHANGELOG.md
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/ConditionalExecutor.hpp
  include/Ark/Compiler/Macros/Executors/ListExecutor.hpp
  include/Ark/Compiler/Macros/Executors/Pipeline.hpp
  include/Ark/Compiler/Macros/Executors/SymbolExecutor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/inline/MacroProcessor.inl
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/ConditionalExecutor.cpp
  src/arkreactor/Compiler/Macros/Executors/ListExecutor.cpp
  src/arkreactor/Compiler/Macros/Executors/Pipeline.cpp
  src/arkreactor/Compiler/Macros/Executors/SymbolExecutor.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor(compiler): reorganizing and renaming the executors
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/List.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/List.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Pipeline.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: none
