Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

chore: remove GET_CURRENT_PAGE_ADDR instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
Labels: ark/compiler, ark/virtual machine

feat(ci): add a job to report the super instructions usage
  .github/workflows/ci.yml
  tools/ark_frequent_instructions.py
Labels: ðŸ‘· ci

feat(vm): add a new super instruction CALL_SYMBOL_BY_INDEX
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

fix(ast lowerer): generate the proper symbol index when optimising a LOAD_FAST_BY_INDEX + CALL into a CALL_SYMBLOL_BY_INDEX
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/LangSuite/unittests.ark
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

feat: when using let/mut/set as expressions, load the variable as a copy and not a ref
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/call_let_mut_not_a_function.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/call_let_mut_not_a_function.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

feat(vm): in type errors, display the bad values as code, to add the quotes around strings
  include/Ark/VM/VM.inl
  tests/unittests/resources/DiagnosticsSuite/runtime/call_let_mut_not_a_function.expected
Labels: ark/virtual machine

feat: when using let/mut/set as expressions, load the variable as a copy and not a ref
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/call_let_mut_not_a_function.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/call_let_mut_not_a_function.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

feat(vm): in type errors, display the bad values as code, to add the quotes around strings
  include/Ark/VM/VM.inl
  tests/unittests/resources/DiagnosticsSuite/runtime/call_let_mut_not_a_function.expected
Labels: ark/virtual machine

chore: release 4.4.1
  CHANGELOG.md
  CMakeLists.txt
Labels: none

feat(docker): add less packages when building the docker images
  CHANGELOG.md
  Dockerfile
  harden.dockerfile
Labels: none

feat(cmake): allow MinSizeRel to use LTO
  cmake/link_time_optimization.cmake
Labels: none

fix(ast lowerer): track how many arguments function have when performing tail calls, to run some arity checks
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args_tail_call.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args_tail_call.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
Labels: none

fix(ast lowerer): all paths in 'if' should return something (closes #661)
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

feat(macro processor): add new macro $gensym
  CHANGELOG.md
  docs/arkdoc/Macros.txt
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_gensym_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_gensym_too_many_args.expected
Labels: ark/macros

chore(docs): add documentation for apply
  docs/arkdoc/Builtins.txt
Labels: none

feat(tool): improve ark_frequent_instructions.py script for the CI
  .github/workflows/ci.yml
  tools/ark_frequent_instructions.py
Labels: ðŸ‘· ci

fix(ast lowerer): track how many arguments function have when performing tail calls, to run some arity checks
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args_tail_call.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args_tail_call.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/stackoverflow_recur.expected
Labels: none

feat(macro processor): add new macro $gensym
  CHANGELOG.md
  docs/arkdoc/Macros.txt
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_gensym_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_gensym_too_many_args.expected
Labels: ark/macros

chore(docs): add documentation for apply
  docs/arkdoc/Builtins.txt
Labels: none

fix(ast lowerer): all paths in 'if' should return something (closes #661)
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

feat(tool): improve ark_frequent_instructions.py script for the CI
  .github/workflows/ci.yml
  tools/ark_frequent_instructions.py
Labels: ðŸ‘· ci

fix(ast lowerer): add arity check for 'pop' and 'pop!'
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_in_place_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_in_place_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_too_many_args.expected
Labels: none

fix(ast lowerer): add arity check for 'pop' and 'pop!'
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_in_place_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_in_place_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_list_too_many_args.expected
Labels: none

chore: adding more real life arkscript examples, with ungolfed (and non-optimal) golf code solutions
  tests/unittests/Suites/UngolfedSuite.cpp
  tests/unittests/resources/UngolfedSuite/abundant_numbers.ark
  tests/unittests/resources/UngolfedSuite/arithmetics_numbers.ark
  tests/unittests/resources/UngolfedSuite/christmas_trees.ark
  tests/unittests/resources/UngolfedSuite/diamonds.ark
  tests/unittests/resources/UngolfedSuite/e.ark
  tests/unittests/resources/UngolfedSuite/emirp.ark
  tests/unittests/resources/UngolfedSuite/multitap.ark
  tests/unittests/resources/UngolfedSuite/recaman.ark
  tests/unittests/resources/UngolfedSuite/rot13.ark
  tests/unittests/resources/UngolfedSuite/sierpinski.ark
  tests/unittests/resources/UngolfedSuite/tic_tac_toe.ark
  tools/ark_frequent_instructions.py
Labels: none

fix(ast lowerer): ARK-353, load arguments in tail calls by value and not by ref
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/ref_args.ark
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

fix(ast lowerer): ARK-353, load arguments in tail calls by value and not by ref
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/ref_args.ark
  tests/unittests/resources/CompilerSuite/ir/ref_args.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

chore: store CLion run configurations
  .run/a.ark.run.xml
  .run/ast a.ark.run.xml
  .run/bcr a.ark.run.xml
  .run/benchmarks.run.xml
  .run/build arkscript.run.xml
  .run/cpp unittests.run.xml
  .run/dbg a.ark.run.xml
  .run/format a.ark.run.xml
  .run/format b.ark.run.xml
  .run/repl.run.xml
  .run/update expected tests.run.xml
Labels: none

feat(debugger): commands should have the option to resume the program execution or stay in the debugger
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

refactor(debugger): create an abstraction for describing commands
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

docs: provide special instructions for AI agents
  .github/pull_request_template.md
  .gitignore
  README.md
Labels: documentation

feat(debugger): ARK-346, add a new command to show the values of the vm pointers
  include/Ark/VM/Debugger.hpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/basic.prompt
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.prompt
Labels: ark/virtual machine, ðŸ§ª tests

feat(debugger): enhance command definition to add a description
  CHANGELOG.md
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(debugger): commands should have the option to resume the program execution or stay in the debugger
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(debugger): enhance command definition to add a description
  CHANGELOG.md
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

refactor(debugger): create an abstraction for describing commands
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

docs: provide special instructions for AI agents
  .github/pull_request_template.md
  .gitignore
  README.md
Labels: documentation

feat(debugger): ARK-346, add a new command to show the values of the vm pointers
  include/Ark/VM/Debugger.hpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/basic.prompt
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.prompt
Labels: ark/virtual machine, ðŸ§ª tests

chore: store CLion run configurations
  .run/a.ark.run.xml
  .run/ast a.ark.run.xml
  .run/bcr a.ark.run.xml
  .run/benchmarks.run.xml
  .run/build arkscript.run.xml
  .run/cpp unittests.run.xml
  .run/dbg a.ark.run.xml
  .run/format a.ark.run.xml
  .run/format b.ark.run.xml
  .run/repl.run.xml
  .run/update expected tests.run.xml
Labels: none

chore: update changelog and change the regexes in REPL/Utils.cpp so that sloccount can parse the file
  CHANGELOG.md
  src/arkscript/REPL/Utils.cpp
Labels: ark/repl

fix(builtins): ARK-350, string:ord need to check it get only one utf8 char ; add string:utf8len
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/utf8.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_empty_str.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_empty_str.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_str_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_str_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/utf8len_num_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/utf8len_num_num.expected
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
