Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

feat(tests): more VM tests and fixing a test without extension
  tests/unittests/resources/DiagnosticsSuite/runtime/out_of_range_in_place
  tests/unittests/resources/DiagnosticsSuite/runtime/out_of_range_in_place.ark
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(name resolution): prevent name collisions with builtins when resolving namespaces
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/list.ark
Labels: none

feat(ast optimizer): (re)enable and tweak the AST optimizer to work with namespaces
  include/Ark/Compiler/AST/Optimizer.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  tests/unittests/resources/LangSuite/unittests.ark
Labels: none

feat(ast optimizer): adding AST optimization tests and fixing the json compiler to accept (if cond then) and not just (if cond then else)
  CHANGELOG.md
  include/Ark/Compiler/AST/Optimizer.hpp
  include/CLI/JsonCompiler.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/OptimizerSuite.cpp
  tests/unittests/resources/OptimizerSuite/dead_code_elimination.ark
  tests/unittests/resources/OptimizerSuite/dead_code_elimination.json
  tests/unittests/resources/OptimizerSuite/unused_symbols.ark
  tests/unittests/resources/OptimizerSuite/unused_symbols.json
Labels: ark/compiler, ark/parser, ðŸ§ª tests

feat(tests): compile time mutability tests on @= and @@=
  CHANGELOG.md
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_immutable.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_immutable.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_immutable.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_immutable.expected
Labels: none

feat(ast optimizer): (re)enable and tweak the AST optimizer to work with namespaces
  include/Ark/Compiler/AST/Optimizer.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  tests/unittests/resources/LangSuite/unittests.ark
Labels: none

feat(builtins, tests): string:setAt and list:setAt are properly tested and bound checked, working with negative indices
  CHANGELOG.md
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/list_set_at.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_set_at.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_set_at.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/string_set_at.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

refactor(tests): reorganizing langsuite tests so that it makes more sense
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(compiler): adding check on and/or argument count
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.expected
Labels: ark/compiler

feat(ast optimizer): adding AST optimization tests and fixing the json compiler to accept (if cond then) and not just (if cond then else)
  CHANGELOG.md
  include/Ark/Compiler/AST/Optimizer.hpp
  include/CLI/JsonCompiler.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/OptimizerSuite.cpp
  tests/unittests/resources/OptimizerSuite/dead_code_elimination.ark
  tests/unittests/resources/OptimizerSuite/dead_code_elimination.json
  tests/unittests/resources/OptimizerSuite/unused_symbols.ark
  tests/unittests/resources/OptimizerSuite/unused_symbols.json
Labels: ark/compiler, ark/parser, ðŸ§ª tests

feat(vm, errors): improving error messages for @= and @@=, along with tests
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_y.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_y.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_eq_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_eq_out_of_range.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/virtual machine

feat(ir optimizer): increment & decrement super instructions can support an additional number, between 0 and 4095 (included)
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
Labels: ark/virtual machine

feat(tests): more VM tests and fixing a test without extension
  tests/unittests/resources/DiagnosticsSuite/runtime/out_of_range_in_place
  tests/unittests/resources/DiagnosticsSuite/runtime/out_of_range_in_place.ark
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

fix(parser): reading empty files shouldn't crash
  include/Ark/Files.hpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.expected
Labels: none

feat(tests): adding args count check on append/concant/pop and their in place version
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_append_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_append_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_concat_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_concat_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_pop_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_pop_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_not_enough_args.expected
Labels: none

feat(name resolution): prevent name collisions with builtins when resolving namespaces
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/list.ark
Labels: none

feat(tests): adding more argument checking tests
  src/arkreactor/Compiler/Compiler.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_bad_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_bad_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_bad_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_bad_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.expected
Labels: ark/compiler

feat(name resolution): adding test on symbol import error
  include/Ark/Files.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_in_package.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_in_package.expected
Labels: none

feat(compiler, vm, name resolution): add a dedicated scope for while loops
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ark/virtual machine

feat(vm, compiler): new operator '@@' to get element in 2D list
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_at_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_at_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_inner_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_inner_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_out_of_range.expected
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: ark/compiler, ark/virtual machine

chore: format examples/macros.ark
  examples/macros.ark
Labels: none

chore: format examples/macros.ark
  examples/macros.ark
Labels: none

feat(vm, compiler): new operator '@@' to get element in 2D list
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_at_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_at_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_inner_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_inner_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_out_of_range.expected
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm, name resolution): add a dedicated scope for while loops
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ark/virtual machine

feat(parser): allow defining non-function macros with a macro call inside
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro_arg_list.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro_arg_list.expected
Labels: ark/parser

feat(macro processor): improve error messages, evaluate condition result and pre-compute macro values
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
Labels: ark/macros

feat(tests): adding more macros tests
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: none

feat(tests): adding more macros tests
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: none

feat(tests, fuzzing): improve fuzzer-crash-triage script
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

docs: adding the documentation for the instructions directly in Instructions.hpp, using a script to output code for the website
  docs/gen_instructions_documentation.py
  include/Ark/Compiler/Instructions.hpp
Labels: ark/compiler, documentation

chore: update link to main website in doxygen docs
  Installer.iss.in
  docs/MAINPAGE.md
Labels: documentation

docs: documenting adding a new test to arkscript for new contributors
  CONTRIBUTING.md
Labels: none

feat(tests, repl): adding repl utils test suite
  CMakeLists.txt
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/ReplSuite.cpp
Labels: ark/repl, ðŸ§ª tests

feat(tests, repl): add first repl test using pexpect
  tests/repl/test.py
Labels: none

feat(ci, tests): adding a CI job to run the repl tests
  .github/workflows/ci.yml
  tests/repl/requirements.txt
  tests/repl/test.py
Labels: ðŸ‘· ci

refactor(repl): move keyword and color per keyword collection outside the REPL class
  include/CLI/REPL/Utils.hpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/repl

feat(ci, tests): adding a CI job to run the repl tests
  .github/workflows/ci.yml
  tests/repl/requirements.txt
  tests/repl/test.py
Labels: ðŸ‘· ci

feat(tests, repl): adding repl utils test suite
  CMakeLists.txt
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/ReplSuite.cpp
Labels: ark/repl, ðŸ§ª tests

feat(tests, repl): add first repl test using pexpect
  tests/repl/test.py
Labels: none

refactor(repl): move keyword and color per keyword collection outside the REPL class
  include/CLI/REPL/Utils.hpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/repl

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
