Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

ci(release): fix artifact name for ubuntu gcc
  .github/workflows/release.yml
Labels: ðŸ‘· ci

fix: remove -Wno-overflow which was needed for utf8_decoder
  CMakeLists.txt
Labels: none

fix: allow deprecated declarations to stay as warning instead of being promoted to errors by -Werror
  CMakeLists.txt
Labels: none

feat: enable warning as errors and warnings about shadowing
  CMakeLists.txt
  include/Ark/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  src/arkreactor/Compiler/ImportSolver.cpp
Labels: ark/compiler

feat(cmake): enable -Wconversion and mark includes as SYSTEM to not propagate warnings to them
  CMakeLists.txt
Labels: none

fix: handling all conversions inside the code so that it doesn't throw any warnings
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/ValTableElem.hpp
  include/Ark/Files.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/VM.inl
  include/CLI/REPL/Repl.hpp
  include/utf8.hpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/Utils.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/virtual machine, ark/macros

fix: addressing cppcheck warnings
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/Predicates.hpp
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/TypeChecker.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: ark/compiler, ark/parser, ark/virtual machine

fix(vm): addressing more cppcheck warnings
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix(macro processor): added a max evaluation depth for macros
  CHANGELOG.md
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Pipeline.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/max_depth_eval.ark
  tests/errors/macros/max_depth_eval.expected
Labels: ark/macros

fix: types in error should be capitalized
  src/arkreactor/VM/VM.cpp
  tests/errors/type/not_a_closure.expected
Labels: ark/virtual machine

fix(ci): do not try to find a comment to update/create outside a PR, in the fuzzing job (closes #483)
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

feat(macro processor): removing C macros from the evaluate definition
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor: removing the MacroExecutorPipeline and integrating it directly inside the MacroProcessor
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Pipeline.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

feat(cmake, windows): increasing the stack size on windows to 8MB
  CMakeLists.txt
Labels: none

fix(ci): use PR.outputs.pr_found instead of comparing an unknown property (number) to null
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(ci): adding debug logging about PR informations
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(ci): adding debug logging about PR informations
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

chore: fix the github workflow status badge in the readme
  README.md
Labels: documentation

feat(compiler): introducing compiler passes
  CHANGELOG.md
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/ImportSolver.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/JsonCompiler.cpp
Labels: ark/compiler, ark/parser, ark/macros

feat(cli): allow passing feature flag to toggle compiler passes
  CHANGELOG.md
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Constants.hpp.in
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/State.cpp
  src/arkscript/main.cpp
Labels: ark/compiler, ark/virtual machine

feat(benchmarks): adding a welder benchmark to see how long a full compilation takes
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/parser/big.ark
  tests/benchmarks/resources/parser/medium.ark
  tests/benchmarks/resources/parser/simple.ark
  tests/benchmarks/resources/parser/some/important.ark
Labels: none

feat(compiler): enhance the name resolution pass to include the unbound capture check
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/errors/capture/unbound.expected
Labels: ark/compiler

feat(compiler): refactoring the specific instructions into a single listInstructions vector + lookup by name to get their index and map it to an instruction
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
Labels: ark/compiler

feat(compiler): adding a name resolution pass, which was originally done by the compiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/State.cpp
  tests/errors/compiler/invalid_while.ark
  tests/errors/compiler/invalid_while.expected
  tests/errors/compiler/well_formed_args.ark
  tests/errors/compiler/well_formed_args.expected
Labels: ark/compiler, ark/virtual machine

feat(name resolution pass): precomputing a language symbols list for faster lookup
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
Labels: ark/compiler

feat(compiler): adding basic scope resolution to the name resolution pass
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/errors/capture/capture_out_of_scope.ark
  tests/errors/capture/capture_out_of_scope.expected
  tests/errors/capture/unbound.expected
Labels: ark/compiler

fix(compiler): adding a check for forbidden variable/constant names (builtins and operators)
  CHANGELOG.md
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/errors/compiler/forbidden_name.ark
  tests/errors/compiler/forbidden_name.expected
  tests/errors/compiler/forbidden_name_bis.ark
  tests/errors/compiler/forbidden_name_bis.expected
Labels: ark/compiler

refactor: using fmtlib instead of string concatenation as much as possible
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/VM/Plugin.cpp
Labels: ark/compiler, ark/parser, ark/virtual machine, ark/macros

feat(repl): repl completion and colors are generated automatically
  CHANGELOG.md
  include/CLI/REPL/Repl.hpp
  include/CLI/REPL/Utils.hpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/repl

refactor(pass): moving the logging outside the Pass object to a proper Logger object
  .pre-commit-config.yaml
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Logger.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Logger.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/ParserSuite.cpp
Labels: ark/compiler, ark/parser, ark/formatter, ark/macros, ðŸ§ª tests

chore: replacing std::printf by std::cout
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor: remove termcolor to use fmt color support
  .gitmodules
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Exceptions.hpp
  include/Ark/Literals.hpp
  include/Ark/Logger.hpp
  include/termcolor/proxy.hpp
  lib/README.md
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
  tests/errors/run-tests
  tests/unittests/ParserSuite.cpp
Labels: ark/compiler, ark/repl, ark/formatter, ark/virtual machine, ðŸ§ª tests

fix(repl): adding ARK_API to export 'builtins' so that MSVC doesn't complain when linking
  include/Ark/Builtins/Builtins.hpp
Labels: none

feat: checking for NOCOLOR env var before using colors in diagnostics
  src/arkreactor/Exceptions.cpp
  tests/errors/run-tests
Labels: none

feat(macros): adding resolving 'empty?' as a macro when possible
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(compiler): enhancing handleCalls
  src/arkreactor/Compiler/Compiler.cpp
Labels: ark/compiler

feat(compiler): adding short circuiting to and/or once compiled
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  tests/arkscript/vm-tests.ark
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(compiler): adding short circuiting to and/or once compiled
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  tests/arkscript/vm-tests.ark
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

refactor(compiler): enhancing handleCalls
  src/arkreactor/Compiler/Compiler.cpp
Labels: ark/compiler

docs: updating git checkout to git switch
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
