Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

refactor: moving Word.hpp to Compiler/IR/
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/Word.hpp
  tests/unittests/CompilerSuite.cpp
Labels: ðŸ§ª tests

chore: cleaning up dead code and old todos
  .github/workflows/ci.yml
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Files.hpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/plugin.ark
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
Labels: ark/compiler, ark/parser, ark/virtual machine, ark/macros, ðŸ‘· ci

feat(compiler, vm, instructions): adding super instructions for list manipulation using load by index
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
Labels: ark/compiler, ark/virtual machine

docs: update examples suite reference
  examples/README.md
Labels: none

docs: update examples suite reference
  examples/README.md
Labels: none

feat(tests, type checker): adding tests for the type checker error message generation (in isolation)
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/resources/TypeCheckerSuite/not_enough_args.ark
  tests/unittests/resources/TypeCheckerSuite/not_enough_args.expected
  tests/unittests/resources/TypeCheckerSuite/num.ark
  tests/unittests/resources/TypeCheckerSuite/num.expected
  tests/unittests/resources/TypeCheckerSuite/sum_type.ark
  tests/unittests/resources/TypeCheckerSuite/sum_type.expected
  tests/unittests/resources/TypeCheckerSuite/too_many_args.ark
  tests/unittests/resources/TypeCheckerSuite/too_many_args.expected
Labels: none

refactor(tests): improve the unit tests tooling to retrieve resources
  tests/benchmarks/main.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/ExamplesSuite.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
  tests/unittests/Suites/RosettaSuite.cpp
  tests/unittests/Suites/ValidAstSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

feat(tests): adding support for variadic arguments in contract definition inside the typechecker suite
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/resources/TypeCheckerSuite/variadic.ark
  tests/unittests/resources/TypeCheckerSuite/variadic.expected
Labels: none

refactor(tests): enhancing tests suites
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/FormatterSuite.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/Suites/RosettaSuite.cpp
  tests/unittests/Suites/ValidAstSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

feat(tests): reading multiple files inside subfolders to construct multiple Ark::types::Contract inside TypeCheckerSuite, to test alternatives
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/resources/TypeCheckerSuite/multi.expected
  tests/unittests/resources/TypeCheckerSuite/multi/a1.ark
  tests/unittests/resources/TypeCheckerSuite/multi/a2.ark
  tests/unittests/resources/TypeCheckerSuite/multi_varying_arity.expected
  tests/unittests/resources/TypeCheckerSuite/multi_varying_arity/a1.ark
  tests/unittests/resources/TypeCheckerSuite/multi_varying_arity/a2.ark
Labels: none

feat(compiler, vm, scopes): adding RESET_SCOPE instruction to be able to reuse a scope inside while loops
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/ScopeView.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm, scopes): adding RESET_SCOPE instruction to be able to reuse a scope inside while loops
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/ScopeView.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ark/virtual machine

fix(ci): include the proxified version of picosha2
  include/Proxy/Picosha2.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/State.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
Labels: ark/compiler, ark/virtual machine

feat(tests, rosetta): adding Munchhausen example
  tests/unittests/resources/RosettaSuite/munchausen.ark
Labels: none

feat(vm)!: delete the deprecated VM::resolve overload not taking an execution context
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

docs(vm): documenting the internal utils of the VM
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/compiler, ark/virtual machine

feat(ci): create dependabot.yml
  .github/dependabot.yml
Labels: none

feat(ci): update and pin dependencies using commit hashes
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

feat(ci): update and pin dependencies using commit hashes
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

docs(vm): documenting the internal utils of the VM
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/compiler, ark/virtual machine

feat(vm)!: delete the deprecated VM::resolve overload not taking an execution context
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

chore: fixing spelling mistakes in the changelog
  CHANGELOG.md
Labels: none

feat(vm)!: reducing the VM stack size from 8192 to 4096 (closes #427)
  CHANGELOG.md
  include/Ark/Constants.hpp.in
Labels: none

fix(ci): update docker workflow to use the new context required by v6
  .github/workflows/docker.yml
Labels: ðŸ‘· ci

fix(vm): self referencing values can be printed as such
  src/arkreactor/VM/Value.cpp
Labels: ark/virtual machine

feat(compiler, vm): adding instruction source location tracking to the generated bytecode
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/InstLoc.hpp
  include/Ark/Compiler/Serialization/IntegerSerializer.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/State.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
Labels: ark/compiler, ark/virtual machine

feat(vm): using the instruction source locations to display better error messages at runtime
  CHANGELOG.md
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Serialization/IntegerSerializer.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

chore(bytecodereader): fix instruction location table display when it's empty
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

chore(vm): adding some breathing room in error messages, to separate the error from the context
  include/Ark/Exceptions.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/fmt_arg_not_found.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_set_at.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_set_at.expected
Labels: ark/virtual machine

feat(vm): compressing identical traces when displaying the stacktrace of an error
  include/Ark/TypeChecker.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/too_many_args.expected
Labels: ark/virtual machine

chore(ci): update format arkscript job
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(docs): update doxygen config to point at the correct modules
  docs/Doxyfile
  docs/DoxygenLayout.xml
Labels: documentation

fix(errors): error messages for concat and concat! now report the correct number of arguments
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/concat_in_place_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/concat_num_num.expected
Labels: ark/virtual machine

feat(errors, vm): enhanced arity error messages by adding details about expected call and the values that were actually given
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_async.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/too_many_args.expected
Labels: ark/virtual machine

refactor(vm): deduplicate code to call a builtin
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

fix(vm): error messages for not callable values shouldn't rely on the last symbol loaded but the value we tried to use as a function
  include/Ark/VM/VM.inl
  tests/unittests/resources/DiagnosticsSuite/runtime/not_callable_with_args.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/not_callable_with_args.expected
Labels: ark/virtual machine

feat(runtime type checking): use the notion of variadic arguments in the error message to provide better messages
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/append_in_place_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/append_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioremovefiles_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioremovefiles_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/stringformat_num.expected
  tests/unittests/resources/TypeCheckerSuite/variadic.expected
Labels: ark/virtual machine

fix(ci): adding the permission for actions to write comments in PRs
  .github/workflows/ci.yml
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

fix(ci): switch codeql cpp build to manual
  .github/workflows/codeql.yml
  .github/workflows/setup-compilers/action.yaml
Labels: ðŸ‘· ci

chore: following cppcheck recommandations
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/JsonCompiler.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/parser, ark/repl, ark/formatter, ark/virtual machine, ark/macros
