Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat: adding pre-commit configuration
  .pre-commit-config.yaml
  README.md
Labels: documentation

docs: updating CONTRIBUTING.md and guidelines_coding to add mentions of precommit
  CONTRIBUTING.md
  docs/guidelines_coding.md
Labels: documentation

feat: adding pre-commit configuration
  .pre-commit-config.yaml
  README.md
Labels: documentation

docs: updating CONTRIBUTING.md and guidelines_coding to add mentions of precommit
  CONTRIBUTING.md
  docs/guidelines_coding.md
Labels: documentation

feat(tests): adding VM benchmarks, useful for optimization exploration and code refactoring
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/CPM.cmake
  tests/benchmarks/ackermann.ark
  tests/benchmarks/fibonacci.ark
  tests/benchmarks/main.cpp
  tests/benchmarks/quicksort.ark
Labels: none

fix: adding cppcheck suppressed rules to a file
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
  cppcheck-suppressions.txt
Labels: ðŸ‘· ci

fix: cppcheck report can now be on multiple lines in static analysis workflow
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

feat(benchmarks): adding a python script to compare GBench csv outputs from several runs
  tests/benchmarks/compare.py
Labels: none

feat(benchmarks): adding the man or boy test from Knuth to the benchmarks
  tests/benchmarks/main.cpp
  tests/benchmarks/man_or_boy_test.ark
  tests/benchmarks/results/0-684ea758.csv
Labels: none

feat(tests): adding VM benchmarks, useful for optimization exploration and code refactoring
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/CPM.cmake
  tests/benchmarks/ackermann.ark
  tests/benchmarks/fibonacci.ark
  tests/benchmarks/main.cpp
  tests/benchmarks/quicksort.ark
Labels: none

feat(benchmarks): adding the man or boy test from Knuth to the benchmarks
  tests/benchmarks/main.cpp
  tests/benchmarks/man_or_boy_test.ark
  tests/benchmarks/results/0-684ea758.csv
Labels: none

feat: adding pre-commit configuration
  .pre-commit-config.yaml
  README.md
Labels: documentation

feat(benchmarks): adding a python script to compare GBench csv outputs from several runs
  tests/benchmarks/compare.py
Labels: none

docs: updating CONTRIBUTING.md and guidelines_coding to add mentions of precommit
  CONTRIBUTING.md
  docs/guidelines_coding.md
Labels: documentation

fix: adding cppcheck suppressed rules to a file
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
  cppcheck-suppressions.txt
Labels: ðŸ‘· ci

fix: cppcheck report can now be on multiple lines in static analysis workflow
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

refacto(vm)!: removing dead code
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refacto(vm)!: removing shared_ptr around the scope
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Scope.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/arkscript/vm-tests.ark
Labels: ark/virtual machine, ðŸ§ª tests

feat(benchmarks): adding the results of the benchmarks and updating the comparison script decimal numbers formatting
  tests/benchmarks/compare.py
  tests/benchmarks/results/1-d45d7ea1.csv
Labels: none

feat(benchmarks): adding the results of the benchmarks and updating the comparison script decimal numbers formatting
  tests/benchmarks/compare.py
  tests/benchmarks/results/1-d45d7ea1.csv
Labels: none

refacto(vm)!: removing dead code
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refacto(vm)!: removing shared_ptr around the scope
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Scope.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/arkscript/vm-tests.ark
Labels: ark/virtual machine, ðŸ§ª tests

refactor(vm): remove ARK_PROFILER_COUNT define
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/Ark/VM/Value.hpp
  src/arkreactor/VM/Value.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine, documentation

refactor(vm): making more value member function inline
  .pre-commit-config.yaml
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  src/arkreactor/VM/Value.cpp
Labels: ark/virtual machine

fix(vm): remove unecessary resolveReferenceInPlace inside the VM
  include/Ark/VM/inline/VM.inl
Labels: ark/virtual machine

refactor(vm): cleaning code
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/results/2-abb043b4.csv
Labels: ark/virtual machine

fix(vm): removing unecessary resolveRef inside the VM
  include/Ark/VM/inline/VM.inl
Labels: ark/virtual machine

feat(vm): adding likely and unlikely attributes to help the compiler
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/compare.py
  tests/benchmarks/results/3-75161de7.csv
Labels: ark/virtual machine

chore(benchmarks): adding the VM benchmarks results
  tests/benchmarks/results/4-ad889963.csv
Labels: none

feat(errors): enhance runtime error messages
  include/Ark/Exceptions.hpp
  include/Ark/VM/ErrorKind.hpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/VM/VM.cpp
  tests/errors/mutability/set_const.ark
  tests/errors/mutability/set_const.expected
  tests/errors/scope/unbound.ark
  tests/errors/scope/unbound.expected
Labels: ark/compiler, ark/virtual machine

feat(value)!: changing the signature of Value::toString to be able to return a string
  CHANGELOG.md
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Closure.cpp
Labels: ark/virtual machine

feat(error): adding more tests on the error messages and enhancing existing ones
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/errors/callable/not_callable.expected
  tests/errors/callable/not_enough_args.expected
  tests/errors/callable/recursion_depth.expected
  tests/errors/callable/too_many_args.expected
  tests/errors/capture/unbound.expected
  tests/errors/index/at_out_of_range.ark
  tests/errors/index/at_out_of_range.expected
  tests/errors/index/at_str_out_of_range.ark
  tests/errors/index/at_str_out_of_range.expected
  tests/errors/index/out_of_range_in_place
  tests/errors/index/out_of_range_in_place.expected
  tests/errors/index/pop_out_of_range.ark
  tests/errors/index/pop_out_of_range.expected
  tests/errors/mutability/append_in_place.ark
  tests/errors/mutability/append_in_place.expected
  tests/errors/mutability/concat_in_place.ark
  tests/errors/mutability/concat_in_place.expected
  tests/errors/mutability/pop_in_place.ark
  tests/errors/mutability/pop_in_place.expected
  tests/errors/mutability/redefine.ark
  tests/errors/mutability/redefine.expected
  tests/errors/mutability/set_const.expected
  tests/errors/operators/db0.ark
  tests/errors/operators/db0.expected
  tests/errors/operators/out_of_range.ark
  tests/errors/operators/out_of_range.expected
  tests/errors/scope/del_unbound.ark
  tests/errors/scope/del_unbound.expected
  tests/errors/scope/set_unbound.ark
  tests/errors/scope/set_unbound.expected
  tests/errors/type/not_a_closure.ark
  tests/errors/type/not_a_closure.expected
  tests/errors/type/unknown_field.ark
  tests/errors/type/unknown_field.expected
Labels: ark/virtual machine

feat(parser): adding error handling when no node was matched, to report invalid syntax
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/failure/invalid.ark
  tests/unittests/resources/ParserSuite/failure/invalid.expected
Labels: ark/parser

feat(parser, formatter): attach comment after node inside macro conditions when needed
  .pre-commit-config.yaml
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/FormatterSuite/comment_after_macro_cond.ark
  tests/unittests/resources/FormatterSuite/comment_after_macro_cond.expected
  tests/unittests/resources/ParserSuite/failure/invalid.expected
Labels: ark/parser

feat(error): enhancing the error reporting in the builtins
  include/Ark/VM/Value.hpp
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
Labels: ark/virtual machine

ci: fixing path to clang on macos ; small improvements on the static analysis job
  .github/launch-lizard.py
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

feat(error): replaced Node::operator<< with Node::debugPrint, using Node::repr in error messages as it is more suited
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/ParserSuite.cpp
Labels: ark/compiler, ark/parser, ark/macros, ðŸ§ª tests

feat(error): adding proper error messages to str:format when fmtlib fails to format
  src/arkreactor/Builtins/String.cpp
  tests/errors/callable/fmt_arg_not_found.ark
  tests/errors/callable/fmt_arg_not_found.expected
Labels: none

ci: add back the modules tests
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  CMakeLists.txt
Labels: ðŸ‘· ci

refactor(repl): use modern C++ instead of C, tidy up the code and make it more maintainable
  include/CLI/REPL/ConsoleStyle.hpp
  include/CLI/REPL/Repl.hpp
  include/CLI/REPL/Utils.hpp
  include/CLI/REPL/replxx/Util.hpp
  include/utf8.hpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/repl
