Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat(name resolver): fixing an import shadowing bug with symbol imports and hidden imports
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/shadowing_symbol/a.ark
  tests/unittests/resources/NameResolutionSuite/shadowing_symbol/b.ark
  tests/unittests/resources/NameResolutionSuite/shadowing_symbol/c.ark
  tests/unittests/resources/NameResolutionSuite/shadowing_symbol_swap_import_order/a.ark
  tests/unittests/resources/NameResolutionSuite/shadowing_symbol_swap_import_order/b.ark
  tests/unittests/resources/NameResolutionSuite/shadowing_symbol_swap_import_order/c.ark
Labels: ðŸ§ª tests

feat(tests): updating langsuite to launch the stdlib tests too
  tests/unittests/LangSuite.cpp
  tests/unittests/resources/LangSuite/macro-tests.ark
  tests/unittests/resources/LangSuite/unittests.ark
Labels: ðŸ§ª tests

fix(name resolution): glob importing was broken and expected names to be fully qualified from the get go
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  tests/unittests/resources/NameResolutionSuite/basic/a.ark
Labels: none

refactor(name resolver): optimize a bit global symbol resolution inside recursiveHasSymbol to bypass the call to 'get(symbol, extensive_lookup=false)'
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
Labels: none

fix(ci): use valgrind 3.24 from ftp.us.debian.org instead of 3.20 as it disappeared
  .github/images/diagram.svg
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, ðŸ‘· ci

feat(tests): adding tests for the rosetta code solutions and the examples ; removing duplicated examples and unmaintained ones
  examples/99bottles.ark
  examples/README.md
  examples/ackermann.ark
  examples/blockchain.ark
  examples/counter.ark
  examples/error.ark
  examples/fibo.ark
  examples/http.ark
  examples/quicksort.ark
  tests/unittests/ExamplesSuite.cpp
  tests/unittests/RosettaSuite.cpp
  tests/unittests/resources/RosettaSuite/100_doors.ark
  tests/unittests/resources/RosettaSuite/a_plus_b.ark
  tests/unittests/resources/RosettaSuite/abc_correlation.ark
  tests/unittests/resources/RosettaSuite/ackermann.ark
  tests/unittests/resources/RosettaSuite/fibonacci_iterative.ark
  tests/unittests/resources/RosettaSuite/fibonacci_recursive.ark
  tests/unittests/resources/RosettaSuite/quicksort.ark
  tests/unittests/resources/RosettaSuite/res/words.txt
Labels: ðŸ§ª tests

fix(ci): close unused file descriptors before running valgrind
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(ci): close unused file descriptors before running valgrind
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(ci): use softprops/action-gh-release@v2 instead of actions/create-release@v1 since it is deprecated
  .github/workflows/release.yml
Labels: ðŸ‘· ci

feat(tests): adding solution for Closures/Value capture on Rosetta Code
  tests/unittests/resources/RosettaSuite/closures_value_capture.ark
Labels: none

feat(build): enable visibility=hidden and no-semantic-interposition to have the shared lib ArkReactor optimized by the compiler
  CMakeLists.txt
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/Exceptions.hpp
  include/Ark/VM/Scope.hpp
Labels: ark/virtual machine

feat(tests): adding Rosetta Code solution for Calculating the value of e
  tests/unittests/resources/RosettaSuite/calculating_value_of_e.ark
Labels: none

feat(tests): adding more Rosetta Code solutions to the tests
  tests/unittests/resources/RosettaSuite/arithmetic_complex.ark
  tests/unittests/resources/RosettaSuite/arithmetic_integer.ark
  tests/unittests/resources/RosettaSuite/array_concatenation.ark
  tests/unittests/resources/RosettaSuite/array_length.ark
  tests/unittests/resources/RosettaSuite/sum_and_product_of_an_array.ark
  tests/unittests/resources/RosettaSuite/sum_digits_of_an_integer.ark
  tests/unittests/resources/RosettaSuite/sum_of_a_serie.ark
  tests/unittests/resources/RosettaSuite/sum_of_squares.ark
Labels: none

fix: mark the Optimizer, MacroProcessor, NameResolutionPass and ImportSolver as exported
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
Labels: ark/compiler, ark/macros

fix(msvc): mark the StaticScope and the NamespaceScope as non-copyable and non-movable, otherwise msvc and its stdlib crap themselves trying to make a vector of unique_ptr copyable
  include/Ark/Compiler/NameResolution/StaticScope.hpp
Labels: none

fix(cmake): set fmtlib visibility to default, upgrade fmtlib to 11.1.3
  CHANGELOG.md
  CMakeLists.txt
Labels: none

fix(msvc): mark the StaticScope and the NamespaceScope as non-copyable and non-movable, otherwise msvc and its stdlib crap themselves trying to make a vector of unique_ptr copyable
  include/Ark/Compiler/NameResolution/StaticScope.hpp
Labels: none

fix(cmake): set fmtlib visibility to default, upgrade fmtlib to 11.1.3
  CHANGELOG.md
  CMakeLists.txt
Labels: none

fix: mark the Optimizer, MacroProcessor, NameResolutionPass and ImportSolver as exported
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
Labels: ark/compiler, ark/macros

feat(tests): adding Rosetta Code solution to Abbrevations, easy
  tests/unittests/resources/RosettaSuite/abbreviations_easy.ark
Labels: none

feat(tests): adding Rosetta Code solutions
  tests/unittests/resources/RosettaSuite/apply_a_callback_to_an_array.ark
  tests/unittests/resources/RosettaSuite/call_an_object_method.ark
  tests/unittests/resources/RosettaSuite/catamorphism.ark
  tests/unittests/resources/RosettaSuite/even_or_odd.ark
  tests/unittests/resources/RosettaSuite/flatten_a_list.ark
  tests/unittests/resources/RosettaSuite/infinity.ark
  tests/unittests/resources/RosettaSuite/string_append.ark
Labels: none

feat(examples): adding fizz buzz and show ascii table examples
  examples/fizz_buzz.ark
  examples/show_ascii_table.ark
Labels: none

feat(tests): adding Rosetta Code solutions
  tests/unittests/resources/RosettaSuite/compound_data_type.ark
  tests/unittests/resources/RosettaSuite/currying.ark
  tests/unittests/resources/RosettaSuite/extend_your_language.ark
  tests/unittests/resources/RosettaSuite/string_matching.ark
Labels: none

feat(builtins): turning random into a builtin
  CHANGELOG.md
  README.md
  examples/games/more-or-less.ark
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  tests/fuzzing/arkscript.dict
  tests/fuzzing/corpus-cmin-tmin/examples_games_more-or-less.ark
  tests/fuzzing/corpus-cmin/examples_games_more-or-less.ark
  tests/fuzzing/corpus/examples_games_more-or-less.ark
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: documentation

feat(builtins): turning random into a builtin
  CHANGELOG.md
  README.md
  examples/games/more-or-less.ark
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  tests/fuzzing/arkscript.dict
  tests/fuzzing/corpus-cmin-tmin/examples_games_more-or-less.ark
  tests/fuzzing/corpus-cmin/examples_games_more-or-less.ark
  tests/fuzzing/corpus/examples_games_more-or-less.ark
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: documentation

refactor: rename $paste to $as-is
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/fuzzing/corpus-cmin-tmin/tests_unittests_resources_diagnosticssuite_compiletime_macro_paste_arity_error.ark
  tests/fuzzing/corpus-cmin/tests_unittests_resources_diagnosticssuite_compiletime_macro_paste_arity_error.ark
  tests/fuzzing/corpus/tests_unittests_resources_diagnosticssuite_compiletime_macro_paste_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
Labels: ark/compiler, ark/macros

refactor: rename $paste to $as-is
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/fuzzing/corpus-cmin-tmin/tests_unittests_resources_diagnosticssuite_compiletime_macro_paste_arity_error.ark
  tests/fuzzing/corpus-cmin/tests_unittests_resources_diagnosticssuite_compiletime_macro_paste_arity_error.ark
  tests/fuzzing/corpus/tests_unittests_resources_diagnosticssuite_compiletime_macro_paste_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
Labels: ark/compiler, ark/macros

feat(closure): allow capture in nested scopes
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/virtual machine

refactor(vm): mark pointers as const or pointer to const as recommended by cppcheck
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(closure): allow capture in nested scopes
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/virtual machine

refactor(vm): mark pointers as const or pointer to const as recommended by cppcheck
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor: rewrote examples/games/game_of_life.ark to use more stdlib constructs
  examples/games/game_of_life.ark
Labels: none

feat(tests): adding Rosetta Code solution to balanced brackets
  tests/unittests/resources/RosettaSuite/balanced_brackets.ark
Labels: none

refactor(vm): using ref instead of plain value type in the definition of @ and @@, to avoid copying the original list ; yields a big perf improvement on list manipulation
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

chore: format game_of_life.ark
  examples/games/game_of_life.ark
Labels: none

feat(tests): compile the resources for the bytecode reader suite during the test, to avoid relying on a static binary file
  tests/unittests/BytecodeReaderSuite.cpp
  tests/unittests/resources/BytecodeReaderSuite/ackermann.ark
  tests/unittests/resources/BytecodeReaderSuite/ackermann.arkc
Labels: ðŸ§ª tests

feat(cli): -bcr now tries to compile the given file if it isn't a bytecode file
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

feat(compiler, vm)!: changed magic numbers in bytecode files to male them standout in hex editors
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
Labels: ark/compiler

refactor: moving bytecode related magic constants to Compiler/Common.hpp
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/State.cpp
  tests/unittests/BytecodeReaderSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(compiler, vm)!: changing numbers representation in the values table
  CHANGELOG.md
  include/Ark/Compiler/Serialization/IEEE754Serializer.hpp
  include/Ark/Compiler/Serialization/IntegerSerializer.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  tests/unittests/BytecodeReaderSuite.cpp
  tests/unittests/CompilerSuite.cpp
Labels: ark/compiler, ðŸ§ª tests
