Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

fix(builtins): ARK-350, string:ord need to check it get only one utf8 char ; add string:utf8len
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/utf8.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_empty_str.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_empty_str.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_str_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/string_ord_str_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/utf8len_num_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/utf8len_num_num.expected
Labels: none

feat(cmake): add a notion of prerelease when configuring Constants.hpp, and update to 4.5.0-pre
  CMakeLists.txt
  include/Ark/Constants.hpp.in
Labels: none

fix(tests): use the correct constants when matching the compiler version in StateSuite.cpp
  tests/unittests/Suites/StateSuite.cpp
Labels: none

fix(tests): update header matching for repl in test.py
  tests/repl/test.py
Labels: none

refactor(bytecode reader): move all the instruction formatting logic to a dedicated public method of the bytecode reader
  include/Ark/Compiler/BytecodeReader.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

feat(debugger): add a new 'trace' command to display the last n executed instructions
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(vm): VM.safeRun is now a template method, to enable instruction tracking without degrading performances
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/basic.prompt
Labels: ark/repl, ark/virtual machine

feat(debugger): make commands' arguments configurable when defining them
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
Labels: ark/virtual machine

fix(bytecode reader): bound check the symbols and values indices
  src/arkreactor/Compiler/BytecodeReader.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
Labels: ark/compiler

refactor(debugger): let commands handle their argument parsing
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/resources/DebuggerSuite/parsing.ark
  tests/unittests/resources/DebuggerSuite/parsing.expected
  tests/unittests/resources/DebuggerSuite/parsing.prompt
Labels: ark/virtual machine

refactor(vm): move the instruction eval loop to a template private VM::unsafeRun, introduce a safeRun that handles exceptions when calling unsafeRun
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl, ark/virtual machine

fix(bytecode reader): bound check the symbols and values indices
  src/arkreactor/Compiler/BytecodeReader.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
Labels: ark/compiler

feat(debugger): make commands' arguments configurable when defining them
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
Labels: ark/virtual machine

refactor(bytecode reader): move all the instruction formatting logic to a dedicated public method of the bytecode reader
  include/Ark/Compiler/BytecodeReader.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

refactor(vm): move the instruction eval loop to a template private VM::unsafeRun, introduce a safeRun that handles exceptions when calling unsafeRun
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl, ark/virtual machine

feat(vm): VM.safeRun is now a template method, to enable instruction tracking without degrading performances
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/basic.prompt
Labels: ark/repl, ark/virtual machine

refactor(debugger): let commands handle their argument parsing
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/resources/DebuggerSuite/parsing.ark
  tests/unittests/resources/DebuggerSuite/parsing.expected
  tests/unittests/resources/DebuggerSuite/parsing.prompt
Labels: ark/virtual machine

feat(debugger): add a new 'trace' command to display the last n executed instructions
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(cmake): add a toggle to build arkscript as a static executable
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  CHANGELOG.md
  CMakeLists.txt
  README.md
Labels: documentation, ðŸ‘· ci

chore: put force inline attributes so that critical methods of the VM are inlined and can be easily optimized by the compiler
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/State.hpp
  include/Ark/Utils/Platform.hpp
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/Helpers.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/results/015-2f53e79e.csv
Labels: ark/parser, ark/virtual machine

fix(cmake): do not build the modules when building arkscript statically, and disable asan&ubsan for static builds
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: ðŸ‘· ci

chore: put force inline attributes so that critical methods of the VM are inlined and can be easily optimized by the compiler
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/State.hpp
  include/Ark/Utils/Platform.hpp
  include/Ark/VM/Debugger.hpp
  include/Ark/VM/Helpers.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/results/015-2f53e79e.csv
Labels: ark/parser, ark/virtual machine

fix(cmake): do not build the modules when building arkscript statically, and disable asan&ubsan for static builds
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: ðŸ‘· ci

chore(optimisation): place ARK_ALWAYS_INLINE more carefully in the VM and ScopeView
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
Labels: ark/virtual machine

chore(optimisation): place ARK_ALWAYS_INLINE more carefully in the VM and ScopeView
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
Labels: ark/virtual machine

refactor(vm): remove unnecessary allocations
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor(vm): remove unnecessary allocations
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

chore(vm): remove non-needed variable in VM::call when computing the page to jump to
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

chore: release 4.5.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

chore: update pull_request_template.md wording about AI usage
  .github/pull_request_template.md
Labels: none

chore: delete unused .vscode directory
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

feat(name resolution): add a special error message when trying to use a hidden symbol (missing from a symbols import list)
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/d.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var_suggestion.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/use_not_in_import_list_prefixed.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/use_not_in_import_list_prefixed.expected
Labels: ark/compiler

feat(vm): use a bitwise op instead of modulo in the VM when checking for stack overflows
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(tests): add lambda core as a test suite, to ensure it keeps working as intended
  tests/unittests/resources/LangSuite/lambda-core-tests.ark
  tests/unittests/resources/LangSuite/unittests.ark
Labels: none

chore(docs): add ai policy
  README.md
Labels: documentation

fix(ast lowerer): ARK-357, allow generating a LOAD_FAST_BY_INDEX only if there is no 'if' between the variable and its use
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.ark
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

fix(ast lowerer): ARK-357, allow generating a LOAD_FAST_BY_INDEX only if there is no 'if' between the variable and its use
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.ark
  tests/unittests/resources/CompilerSuite/ir/load_fast_by_index_after_cond.expected
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

chore: release 4.5.1
  CHANGELOG.md
  CMakeLists.txt
Labels: none

fix(compiler): ensure there is a variable to mark as unreachable
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  tests/unittests/resources/LangSuite/weird-tests.ark
Labels: none

chore: disable force inlining in fuzzed builds
  include/Ark/Utils/Platform.hpp
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
