Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

feat(build, ci): enable unity builds
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  CMakeLists.txt
  Dockerfile
  harden.dockerfile
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: ark/compiler, ðŸ‘· ci

refactor(builtins): use std::numbers instead of <cmath> for M_PI and HUGE_VAL (float inf)
  src/arkreactor/Builtins/Builtins.cpp
Labels: none

feat(compiler, vm)!: changed magic numbers in bytecode files to male them standout in hex editors
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
Labels: ark/compiler

feat(cli): -bcr now tries to compile the given file if it isn't a bytecode file
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

feat(build, ci): enable unity builds
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  CMakeLists.txt
  Dockerfile
  harden.dockerfile
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: ark/compiler, ðŸ‘· ci

feat(compiler, vm)!: changing numbers representation in the values table
  CHANGELOG.md
  include/Ark/Compiler/Serialization/IEEE754Serializer.hpp
  include/Ark/Compiler/Serialization/IntegerSerializer.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  tests/unittests/BytecodeReaderSuite.cpp
  tests/unittests/CompilerSuite.cpp
Labels: ark/compiler, ðŸ§ª tests

refactor: moving bytecode related magic constants to Compiler/Common.hpp
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/State.cpp
  tests/unittests/BytecodeReaderSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

refactor(builtins): use std::numbers instead of <cmath> for M_PI and HUGE_VAL (float inf)
  src/arkreactor/Builtins/Builtins.cpp
Labels: none

feat(tests): compile the resources for the bytecode reader suite during the test, to avoid relying on a static binary file
  tests/unittests/BytecodeReaderSuite.cpp
  tests/unittests/resources/BytecodeReaderSuite/ackermann.ark
  tests/unittests/resources/BytecodeReaderSuite/ackermann.arkc
Labels: ðŸ§ª tests

tests: adding new benchmarks
  .envrc
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/binary_trees.ark
  tests/benchmarks/resources/runtime/for.ark
  tests/benchmarks/results/8-eb9ada44.csv
  tools/ark_benchmarks
  tools/ark_compare_bench
Labels: none

feat(vm): make use of the basic bloom filter inside Scope::operator[]
  include/Ark/VM/Scope.hpp
  src/arkreactor/VM/Scope.cpp
Labels: ark/virtual machine

feat(tests, tools): enhance the benchmarks comparison script
  tests/benchmarks/compare.py
Labels: none

fix(docker): updating docker images to alpine 3.21 and fixing project build via clang 17/alpine inside docker
  Dockerfile
  harden.dockerfile
  include/utf8.hpp
  tools/ark_docker
Labels: none

feat(tests): update binary trees benchmark to use closures
  tests/benchmarks/resources/runtime/binary_trees.ark
Labels: none

fix(ci): updating benchmarks.yml so thay we can push to the repo
  .github/workflows/benchmarks.yml
Labels: ðŸ‘· ci

feat(scope): use a single contiguous data structure to store scopes data
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/ClosureScope.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  src/arkreactor/VM/Value/ClosureScope.cpp
  src/arkscript/main.cpp
  tests/benchmarks/results/9-d1be6b9f.csv
Labels: ark/virtual machine

refactor: remove a layer of indirection when accessing the scopes storage
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor: remove a layer of indirection when accessing the scopes storage
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(scope): use a single contiguous data structure to store scopes data
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/ClosureScope.hpp
  src/arkreactor/VM/Scope.cpp
  src/arkreactor/VM/ScopeView.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  src/arkreactor/VM/Value/ClosureScope.cpp
  src/arkscript/main.cpp
  tests/benchmarks/results/9-d1be6b9f.csv
Labels: ark/virtual machine

feat(vm): adding LOAD_SYMBOL_BY_INDEX instruction
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor: rename Compiler to ASTLowerer
  include/Ark/Ark.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

feat(scope): using symbol loading by stack index when the symbol is known in a given scope
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  include/Ark/VM/ScopeView.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor: moving Word.hpp to Compiler/IR/
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/Word.hpp
  tests/unittests/CompilerSuite.cpp
Labels: ðŸ§ª tests

feat(compiler, optimizer): add new super instructions using the _BY_INDEX version of LOAD_SYMBOL, fix a corner case in the index computation inside if branches
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
Labels: ark/compiler, ark/virtual machine

feat(ir optimizer): improve instructions merging to use a list of rules, easier to maintain with less code repetition
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

feat(compiler, vm, instructions): adding super instructions for list manipulation using load by index
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
Labels: ark/compiler, ark/virtual machine

feat(tests): printing a diff when multiline strings do not match in the tests
  .gitmodules
  CMakeLists.txt
  lib/README.md
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
  tests/unittests/Suites/ExamplesSuite.cpp
  tests/unittests/Suites/FormatterSuite.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/Suites/ReplSuite.cpp
  tests/unittests/Suites/RosettaSuite.cpp
  tests/unittests/Suites/ToolsSuite.cpp
  tests/unittests/Suites/Utf8Suite.cpp
  tests/unittests/Suites/ValidAstSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

refactor(vm): removing dead code in the VM
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix: adding missing cassert include
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

refactor: created Proxy/MiniWindows.h to include only what we need for loading DLLs
  include/Ark/VM/Plugin.hpp
  include/Proxy/MiniWindows.h
Labels: ark/virtual machine

chore: cleaning up dead code and old todos
  .github/workflows/ci.yml
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Files.hpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/plugin.ark
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
Labels: ark/compiler, ark/parser, ark/virtual machine, ark/macros, ðŸ‘· ci

feat(vm): adding LOAD_SYMBOL_BY_INDEX instruction
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor: rename Compiler to ASTLowerer
  include/Ark/Ark.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

fix: adding missing cassert include
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

refactor(vm): removing dead code in the VM
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

refactor: created Proxy/MiniWindows.h to include only what we need for loading DLLs
  include/Ark/VM/Plugin.hpp
  include/Proxy/MiniWindows.h
Labels: ark/virtual machine

feat(scope): using symbol loading by stack index when the symbol is known in a given scope
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  include/Ark/VM/ScopeView.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(ir optimizer): improve instructions merging to use a list of rules, easier to maintain with less code repetition
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

feat(compiler, optimizer): add new super instructions using the _BY_INDEX version of LOAD_SYMBOL, fix a corner case in the index computation inside if branches
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lowerer/LocalsLocator.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Lowerer/LocalsLocator.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
Labels: ark/compiler, ark/virtual machine

feat(tests): printing a diff when multiline strings do not match in the tests
  .gitmodules
  CMakeLists.txt
  lib/README.md
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
  tests/unittests/Suites/ExamplesSuite.cpp
  tests/unittests/Suites/FormatterSuite.cpp
  tests/unittests/Suites/LangSuite.cpp
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/Suites/OptimizerSuite.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/Suites/ReplSuite.cpp
  tests/unittests/Suites/RosettaSuite.cpp
  tests/unittests/Suites/ToolsSuite.cpp
  tests/unittests/Suites/Utf8Suite.cpp
  tests/unittests/Suites/ValidAstSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
