Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

chore: formatting builtins.hpp
  include/Ark/Builtins/Builtins.hpp
Labels: none

fixing changelog
  CHANGELOG.md
Labels: none

formatting code
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat: adding a very basic bloom filter to the scope to speed up the variable lookup
  include/Ark/VM/Scope.hpp
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

chore: updating changelog
  CHANGELOG.md
Labels: none

chore: removing .cache from git
  .gitignore
Labels: none

fixing various merge related errors
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: compiler, virtual machine

fix: changing workflow status badge according to https://github.com/badges/shields/issues/8671
  README.md
Labels: documentation

docs: updating changelog
  CHANGELOG.md
Labels: none

chore: removed unused nodetype::closure
  CHANGELOG.md
Labels: none

updating the virtual machine to be able to use instructions on 4 bytes
  CHANGELOG.md
Labels: none

refacto: integrating the new parser and enhancing a lot of code surrounding it in the compiler side of things
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Lexer.hpp
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/Predicates.hpp
  include/Ark/Compiler/AST/Token.hpp
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/JsonCompiler.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Exceptions.hpp
  include/Ark/Files.hpp
  include/Ark/REPL/Repl.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/JsonCompiler.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, repl, virtual machine, macros

style: formatting headers
  include/Ark/Compiler/Welder.hpp
  include/Ark/Exceptions.hpp
  include/Ark/Files.hpp
Labels: compiler

refacto: mutualise code looking for the lib folders
  src/arkreactor/VM/State.cpp
  src/arkscript/main.cpp
Labels: virtual machine

feat: tracking imports during parsing
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

feat: exposing an imports() method in the parser
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/parser/main.cpp
Labels: parser

ci: reorganizing to add the parser tests
  .github/launch-tests
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/setup-deps/action.yaml
  .github/workflows/setup-tests/action.yaml
  .gitignore
  CMakeLists.txt
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Exceptions.hpp
  include/termcolor/proxy.hpp
  src/arkscript/main.cpp
Labels: compiler, parser, ci

ci(temp): do not run the modules tests in the CI
  .github/workflows/ci.yml
  tests/arkscript/run-tests
Labels: ci

fix: handle more compilation failure edge cases
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/State.cpp
Labels: compiler, virtual machine

chore: updating images/diagram.svg
  images/diagram.svg
Labels: none

chore: updating gitignore
  .gitignore
Labels: none

ci: remove not-needed test step when creating a release (if a commit lends on dev/master, it has already been tested)
  .github/workflows/release.yml
Labels: ci

docs(readme): adding info about cxx and c compiler that must match
  README.md
Labels: documentation

feat: updating to cpp20
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CMakeLists.txt
  cmake/link_time_optimization.cmake
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
Labels: ci

fix(ci): use a new action for checking code formatting rules
  .github/workflows/ci.yml
  include/Ark/Ark.hpp
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/ImportSolver.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/MacroScope.hpp
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/Compiler/ValTableElem.hpp
  include/Ark/Literals.hpp
  include/Ark/Platform.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Future.hpp
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/Scope.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/UserType.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Exceptions.cpp
Labels: compiler, virtual machine, macros, ci

fix: updating clang-format file with valid values
  .clang-format
Labels: none

feat: add boost/ut
  .gitmodules
  lib/README.md
Labels: none

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt
