Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

cleanup: removing coz profiler
  .gitignore
  .gitmodules
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/Ark/Profiling.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: virtual machine, documentation

docs: uadding a modules link in the sidebar, with every module documentation as a children of it
  docs/Doxyfile
  docs/modules.md
  docs/tutorials.md
Labels: documentation

docs: uadding a modules link in the sidebar, with every module documentation as a children of it
  docs/Doxyfile
  docs/modules.md
  docs/tutorials.md
Labels: documentation

misc: migrating issue forms to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

misc: migrating issue forms to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

ci: adding sqlite downloading and building on windows
  .github/workflows/ci.yml
Labels: ci

fixing the path where sqlite is checked out
  .github/workflows/ci.yml
Labels: ci

building sqlite with cl
  .github/workflows/ci.yml
Labels: ci

running the environment script on windows to get access to cl
  .github/workflows/ci.yml
Labels: ci

using the full path instead of just 'cl'
  .github/workflows/ci.yml
Labels: ci

using cmd and creating a findsqlite3.cmake
  .github/workflows/ci.yml
Labels: ci

better handling of the cache for sqlite
  .github/workflows/ci.yml
Labels: ci

ci: download sqlite binary and generate a .lib
  .github/workflows/ci.yml
Labels: ci

ci: adding sqlite downloading and building on windows (#393)
  .github/workflows/ci.yml
Labels: ci

ci: adding sqlite downloading and building on windows (#393)
  .github/workflows/ci.yml
Labels: ci

misc: working on the issue templates (skip-ci)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

misc: working on the issue templates (skip-ci)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

misc: updating project overview diagram
  images/diagram.svg
Labels: none

misc: updating project overview diagram
  images/diagram.svg
Labels: none

chore: updating donators section on the readme
  README.md
Labels: documentation

chore: updating donators section on the readme
  README.md
Labels: documentation

chore: enhancing the error when getting unknown node types
  src/arkreactor/Compiler/JsonCompiler.cpp
Labels: compiler

chore: enhancing the error when getting unknown node types
  src/arkreactor/Compiler/JsonCompiler.cpp
Labels: compiler

docs: adding a mini specification for the json compiler
  CHANGELOG.md
  docs/impl_compiler.md
Labels: documentation

docs: adding a mini specification for the json compiler
  CHANGELOG.md
  docs/impl_compiler.md
Labels: documentation

fix: using .data() on the string_view instead of .c_str()
  src/arkreactor/Compiler/JsonCompiler.cpp
Labels: compiler

fix: using .data() on the string_view instead of .c_str()
  src/arkreactor/Compiler/JsonCompiler.cpp
Labels: compiler

tests: adding the first AST test based on the project examples (should change in the future), fixing a bug in the json compiler generation of the argument list of functions
  .github/launch-tests
  src/arkreactor/Compiler/JsonCompiler.cpp
  tests/ast/ackermann.json
  tests/ast/run-tests
Labels: compiler

tests: adding the first AST test based on the project examples (should change in the future), fixing a bug in the json compiler generation of the argument list of functions
  .github/launch-tests
  src/arkreactor/Compiler/JsonCompiler.cpp
  tests/ast/ackermann.json
  tests/ast/run-tests
Labels: compiler

ci: fixing paths in the tests
  .github/launch-tests
Labels: none

ci: fixing paths in the tests
  .github/launch-tests
Labels: none

tests: more JSON AST tests
  tests/ast/99bottles.json
  tests/ast/closures.json
  tests/ast/error.json
  tests/ast/factorial.json
  tests/ast/macros.json
  tests/ast/run-tests
Labels: none

tests: more JSON AST tests
  tests/ast/99bottles.json
  tests/ast/closures.json
  tests/ast/error.json
  tests/ast/factorial.json
  tests/ast/macros.json
  tests/ast/run-tests
Labels: none

fix: the --ast mode can also take --lib
  src/arkscript/main.cpp
Labels: none

fix: the --ast mode can also take --lib
  src/arkscript/main.cpp
Labels: none

ci: trying to fix the blocking labelizer CI (should not be blocking the whole CI now)
  .github/workflows/label.yml
Labels: ci

ci: trying to fix the blocking labelizer CI (should not be blocking the whole CI now)
  .github/workflows/label.yml
Labels: ci

feat: adding sanitizers support in clang/g++ builds through a CMake toggle
  CMakeLists.txt
  README.md
  cmake/link_time_optimization.cmake
  cmake/sanitizers.cmake
Labels: documentation

feat: adding sanitizers support in clang/g++ builds through a CMake toggle
  CMakeLists.txt
  README.md
  cmake/link_time_optimization.cmake
  cmake/sanitizers.cmake
Labels: documentation

wip
  .github/workflows/release.yml
Labels: ci
