Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

fix(parser): detecting ill-formed value macros
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/DiagnosticsSuite.cpp
  tests/unittests/FormatterSuite.cpp
  tests/unittests/ParserSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro_arg_list.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro_arg_list.expected
Labels: ark/parser, ark/macros, ðŸ§ª tests

refactor(macro processor): moving $undef to MacroProcessor::evaluate() instead of hardcoding it inside registerMacro
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
Labels: ark/parser, ark/macros

refactor: removing dead code
  include/Ark/Compiler/Macros/Executor.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
Labels: ark/parser, ark/macros

fix(formatter): fix newline spacing between node in begin blocks to preserve user spacing
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/complex_comments_in_condition.ark
  tests/unittests/resources/FormatterSuite/complex_comments_in_condition.expected
  tests/unittests/resources/FormatterSuite/conditions.expected
Labels: ark/formatter

fix(parsing, formatter)!: fixing assignment of row/col to node in the parser, impacting the formatter and diagnostics
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_tail_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/FormatterSuite/comments_after_call.expected
  tests/unittests/resources/FormatterSuite/comments_after_cond.expected
  tests/unittests/resources/FormatterSuite/comments_after_variable.expected
  tests/unittests/resources/FormatterSuite/vars.expected
Labels: ark/parser, ark/formatter

feat(parser, tests): improving diagnostics for incomplete conditions and loops
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_body_while.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_body_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_cond_if.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_cond_if.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_cond_while.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_cond_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_then_if.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_then_if.expected
Labels: ark/parser

feat(parser, tests): improving diagnostics and tests for incomplete macros, macro condition, and imports
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_glob_import.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_glob_import.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/incomplete_macro.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/incomplete_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_import_symbol.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_import_symbol.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_cond_if_macro.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_cond_if_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_function_body.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_function_body.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_then_if_macro.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/missing_then_if_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/reused_macro_arg.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/reused_macro_arg.expected
Labels: ark/parser

refactor: more constexpr and getting rid of an initializer list in the macro processor
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine, ark/macros

feat: adding tracing to the logger as well as better log coloring
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Logger.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Logger.cpp
Labels: ark/compiler, ark/parser, ark/macros

refactor: enhancing IR dumping to file/stream to help with IR generation tests
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

feat(tests): adding first test for IR generation and optimization
  tests/unittests/CompilerSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann_iroptimized.ark
  tests/unittests/resources/CompilerSuite/ir/ackermann_iroptimized.expected
Labels: ðŸ§ª tests

feat(tests): improve testing of IR generation and optimization
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  tests/unittests/CompilerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.ark
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.ark
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/closures.ark
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.ark
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
Labels: ark/compiler, ðŸ§ª tests

feat(ci): stop jobs if new ones of the same workflow started
  .github/workflows/ci.yml
  .github/workflows/static_analysis.yml
Labels: ðŸ‘· ci

refactor(padding): rearranged fields in ExecutionContext to reduce padding
  include/Ark/VM/ExecutionContext.hpp
Labels: ark/virtual machine

refactor(macro processor): moving 'unify' to the function executor and renaming hadBegin to isBeginNode in the macro processor
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(macro processor): factorising the begin node deletion and unused node deletion
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(node, macro processor): replaces setWithFilenameAndPos by Node::updateValueAndType
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/parser, ark/macros

refactor(macro processor): removing dead code (Executor::applyMacroProxy)
  include/Ark/Compiler/Macros/Executor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
Labels: ark/macros

feat: addressing some todos in the compiler
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: ark/compiler

refactor(macro processor): renamed registerMacro to handleMacroNode, since it also has to handle conditional macros for consistency
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(macro processor): removing the need for a double apply macro + recursive apply in MacroProcessor::processNode
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(macro processor): renamed registerMacro to handleMacroNode, since it also has to handle conditional macros for consistency
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(macro processor): removing the need for a double apply macro + recursive apply in MacroProcessor::processNode
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(node, macro processor): replaces setWithFilenameAndPos by Node::updateValueAndType
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/parser, ark/macros

feat: addressing some todos in the compiler
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: ark/compiler

refactor(macro processor): factorising the begin node deletion and unused node deletion
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(macro processor): removing dead code (Executor::applyMacroProxy)
  include/Ark/Compiler/Macros/Executor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
Labels: ark/macros

refactor(macro processor): moving 'unify' to the function executor and renaming hadBegin to isBeginNode in the macro processor
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

fix(formatter): accessing static members via :: instead of .
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
Labels: ark/formatter

feat(namespace): starting to introduce namespaces, not using them yet
  .pre-commit-config.yaml
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Namespace.hpp
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Package/Module.hpp
  include/Ark/Compiler/Package/Package.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  tests/unittests/ParserSuite.cpp
  tests/unittests/resources/ParserSuite/success/import.expected
Labels: ark/compiler, ark/parser, ark/macros, ðŸ§ª tests

feat(namespaces): importing inside namespace, and skipping over them correctly in the macro processor, so that macros are still processed
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Package/Package.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: ark/compiler, ark/parser, ark/macros

refactor(node): adding Node::isStringLike
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Exceptions.cpp
Labels: ark/parser

feat(name resolution): crude resolution of prefixed, glob and symbol imports
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
Labels: ark/compiler

feat(name resolution): enhancing resolution of fully qualified names, to make it work with fields and captures
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: ark/compiler, ark/parser

fix(tests): updating tests to use the new context provided on errors with captures
  tests/unittests/resources/DiagnosticsSuite/compileTime/capture_out_of_scope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound.expected
Labels: none

chore(tests): removing unnecessary import in string-tests
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(tests): adding name resolution tests
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/basic/a.ark
  tests/unittests/resources/NameResolutionSuite/basic/b.ark
  tests/unittests/resources/NameResolutionSuite/basic/c.ark
  tests/unittests/resources/NameResolutionSuite/basic/d.ark
  tests/unittests/resources/NameResolutionSuite/forward_reference/a.ark
  tests/unittests/resources/NameResolutionSuite/forward_reference/b.ark
Labels: ðŸ§ª tests

feat(name resolution): enhance tracking variables and fully qualified names
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/shadowing/a.ark
  tests/unittests/resources/NameResolutionSuite/shadowing/b.ark
  tests/unittests/resources/NameResolutionSuite/shadowing/c.ark
Labels: ark/compiler, ðŸ§ª tests

feat(name resolution): preventing the generation of stacked namespaces in fully qualified names with a better scope tracking
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/namespace_stacking/a.ark
  tests/unittests/resources/NameResolutionSuite/namespace_stacking/b.ark
  tests/unittests/resources/NameResolutionSuite/namespace_stacking/c.ark
Labels: ark/compiler, ðŸ§ª tests

feat(name resolution): somewhat better handling of closures and captures
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn/b.ark
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
