Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

chore: release 4.3.1
  CHANGELOG.md
  CMakeLists.txt
Labels: none

fix: send VM errors to stderr
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/VM/VM.hpp
Labels: ark/virtual machine

fix: send typechecking errors and exceptions to stderr
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/TypeChecker.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(debugger): ARK-340, add 'stack' and 'locals' command to the debugger
  CHANGELOG.md
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.ark
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.prompt
Labels: ark/virtual machine

feat(debugger): ARK-340, add 'stack' and 'locals' command to the debugger
  CHANGELOG.md
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.ark
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.prompt
Labels: ark/virtual machine

feat(format builtin): new format specifiers for lists
  CHANGELOG.md
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_debug.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_debug.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_na.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_na.expected
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(format builtin): support integer format specifiers when the given number can be represented as one
  CHANGELOG.md
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_c.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_c.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_d.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_d.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_o.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_o.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_x.expected
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(format builtin): new format specifiers for lists
  CHANGELOG.md
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_debug.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_debug.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_na.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_list_invalid_na.expected
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(format builtin): support integer format specifiers when the given number can be represented as one
  CHANGELOG.md
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_c.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_c.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_d.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_d.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_upper_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_hashtag_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_o.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_o.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_b.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_b.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_upper_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/format_double_x.expected
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(warnings): move all warnings to stderr
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/main.cpp
Labels: ark/formatter

feat(logs): use the logger to emit standardized warnings
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Utils/Logger.hpp
  include/CLI/Formatter.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/main.cpp
Labels: ark/formatter

feat(deprecations): ARK-341 show deprecation warnings when using '@deprecated' functions/values
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Optimizer.cpp
Labels: none

feat(logs): allow using a custom output stream for warnings
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/State.hpp
  include/Ark/Utils/Logger.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/State.cpp
  src/arkreactor/Utils/Logger.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/warnings/deprecated.ark
  tests/unittests/resources/DiagnosticsSuite/warnings/deprecated.expected
  tests/unittests/resources/DiagnosticsSuite/warnings/ignoring_return_value.ark
  tests/unittests/resources/DiagnosticsSuite/warnings/ignoring_return_value.expected
  tests/unittests/resources/DiagnosticsSuite/warnings/statement_no_effect.ark
  tests/unittests/resources/DiagnosticsSuite/warnings/statement_no_effect.expected
Labels: ark/compiler, ark/macros

feat(deprecations): ARK-341 show deprecation warnings when using '@deprecated' functions/values
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Optimizer.cpp
Labels: none

feat(logs): allow using a custom output stream for warnings
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/State.hpp
  include/Ark/Utils/Logger.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/State.cpp
  src/arkreactor/Utils/Logger.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/warnings/deprecated.ark
  tests/unittests/resources/DiagnosticsSuite/warnings/deprecated.expected
  tests/unittests/resources/DiagnosticsSuite/warnings/ignoring_return_value.ark
  tests/unittests/resources/DiagnosticsSuite/warnings/ignoring_return_value.expected
  tests/unittests/resources/DiagnosticsSuite/warnings/statement_no_effect.ark
  tests/unittests/resources/DiagnosticsSuite/warnings/statement_no_effect.expected
Labels: ark/compiler, ark/macros

feat(logs): use the logger to emit standardized warnings
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/Utils/Logger.hpp
  include/CLI/Formatter.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/main.cpp
Labels: ark/formatter

feat(warnings): move all warnings to stderr
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/main.cpp
Labels: ark/formatter

feat: ARK-344, pop! return the removed value, @= and @@= return the inserted value
  CHANGELOG.md
  docs/arkdoc/List.txt
  docs/arkdoc/String.txt
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/ParserSuite/success/compact.ark
  tests/unittests/resources/ParserSuite/success/compact.expected
Labels: ark/compiler, ark/virtual machine

feat: ARK-344, append! and concat! return the modified list
  CHANGELOG.md
  docs/arkdoc/List.txt
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.expected
  tests/unittests/resources/LangSuite/list-tests.ark
Labels: none

feat: ARK-344, let, mut and set can return the assigned value
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/debugger_quit.expected
  tests/unittests/resources/DebuggerSuite/loop.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/on_error.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_breakpoint.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_breakpoint.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_breakpoint.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_breakpoint.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_mut.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_mut.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_let_1.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_let_1.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

chore: ARK-344, benchmarks comparison script color lines to make them easily identifiable
  tests/benchmarks/compare.py
  tests/benchmarks/results/013-74e64c67.csv
Labels: none

fix: when compiling code for the debugger, set is_result_unused to true
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/debugger_quit.expected
  tests/unittests/resources/DebuggerSuite/loop.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/on_error.expected
  tools/repl.ark
Labels: none

chore: ARK-344, benchmarks comparison script color lines to make them easily identifiable
  tests/benchmarks/compare.py
  tests/benchmarks/results/013-74e64c67.csv
Labels: none

feat: ARK-344, let, mut and set can return the assigned value
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/Debugger.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/debugger_quit.expected
  tests/unittests/resources/DebuggerSuite/loop.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/on_error.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_breakpoint.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_breakpoint.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_breakpoint.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_breakpoint.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_mut.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_mut.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_let_1.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_let_1.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

feat: ARK-344, append! and concat! return the modified list
  CHANGELOG.md
  docs/arkdoc/List.txt
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.expected
  tests/unittests/resources/LangSuite/list-tests.ark
Labels: none

feat: ARK-344, pop! return the removed value, @= and @@= return the inserted value
  CHANGELOG.md
  docs/arkdoc/List.txt
  docs/arkdoc/String.txt
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/ParserSuite/success/compact.ark
  tests/unittests/resources/ParserSuite/success/compact.expected
Labels: ark/compiler, ark/virtual machine

fix: when compiling code for the debugger, set is_result_unused to true
  CHANGELOG.md
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/builtins.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/mul.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/DebuggerSuite/basic.expected
  tests/unittests/resources/DebuggerSuite/debugger_quit.expected
  tests/unittests/resources/DebuggerSuite/loop.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/on_error.expected
  tools/repl.ark
Labels: none

fix: @= and @@= returned numbers instead of strings when working with strings/list of strings
  docs/arkdoc/List.txt
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/list-tests.ark
Labels: ark/virtual machine

fix(formatter): ARK-345, when the condition of a 'while' loop is on multiple lines, add the right amount of indentation before it
  CHANGELOG.md
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/codeSamples/list_range.ark
  tests/unittests/resources/FormatterSuite/codeSamples/list_range.expected
Labels: ark/formatter

chore: release 4.4.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

feat(bytecode reader): print the instruction number in hex and display the argument of push_return_address as hex
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: ark/compiler

fix: compile and register the arguments of a function call before the function
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat!: load the function before the arguments for function calls
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat!: invert arguments' evaluation order (to be left to right) in function calls
  CHANGELOG.md
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat!: handle the new argument order when embedding arkscript, and add a GET_FIELD_AS_CLOSURE instruction to call closure fields
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

fix: clean up the stack after a function call with the new calling convention
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix: apply optimisations for CALL instructions only when we have something to compile for a function
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat: reintroduce CALL_BUILTIN and CALL_SYMBOL
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/virtual machine

feat: reintroduce CALL_BUILTIN_WITHOUT_RETURN_ADDRESS in the IROptimizer
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/args_attr.expected
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/operators.expected
  tests/unittests/resources/CompilerSuite/ir/operators_as_builtins.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/ir/renamed_capture.expected
  tests/unittests/resources/CompilerSuite/ir/tail_call.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/call_builtin_not_optimized.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/DebuggerSuite/stack_and_locals.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/virtual machine

chore: update stored benchmarks results after changing the arguments evaluation order
  tests/benchmarks/results/014-b5039d40.csv
Labels: none
