Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

adding section about what to do before submitting a PR (#356)
  CONTRIBUTING.md
Labels: none

adding a few lines about contributing to a module
  CONTRIBUTING.md
Labels: none

adding a few words about the project architecture
  CONTRIBUTING.md
Labels: none

adding colors to the project architecture to easily identify the components
  docs/brief_architecture.md
Labels: documentation

adding tutorial one how to create a module
  docs/modules.md
Labels: documentation

trying to build arkscript only once (#351)
  tests/cpp/CMakeLists.txt
Labels: none

updating cmakelists to add more names
  tests/cpp/CMakeLists.txt
Labels: none

updating ci to build arkscript before configuring the integration tests
  .github/workflows/ci.yml
Labels: ci

copying the dlls from elsewhere since the integration tests do not build arkscript anymore
  .github/workflows/ci.yml
Labels: ci

Merge pull request #359 from ArkScript-lang/ci/build-ark-once
  .github/workflows/ci.yml
  tests/cpp/CMakeLists.txt
Labels: ci

Merge pull request #359 from ArkScript-lang/ci/build-ark-once
  .github/workflows/ci.yml
  tests/cpp/CMakeLists.txt
Labels: ci

adding a pull request template
  .github/pull_request_template.md
Labels: none

upgrading the error handling in the builtins to use BetterTypeError
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Exceptions.cpp
Labels: none

upgrading the error handling in the builtins to use BetterTypeError
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Exceptions.cpp
Labels: none

upgrading list.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/List.cpp
Labels: none

upgrading list.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/List.cpp
Labels: none

upgrading system.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/System.cpp
Labels: none

upgrading system.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/System.cpp
Labels: none

upgrading string.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/String.cpp
Labels: none

upgrading string.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/String.cpp
Labels: none

upgrading mathematics.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/Mathematics.cpp
Labels: none

upgrading mathematics.cpp error handling
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/Mathematics.cpp
Labels: none

chore: updating changelog to reflect changes
  CHANGELOG.md
Labels: none

chore: updating changelog to reflect changes
  CHANGELOG.md
Labels: none

working on a type checker to generate the checks and errors for builtins
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
Labels: none

working on a type checker to generate the checks and errors for builtins
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
Labels: none

display vm debug info on error at the end of the message instead of the top
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

display vm debug info on error at the end of the message instead of the top
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

improving the type checker
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
Labels: none

improving the type checker
  include/Ark/TypeChecker.hpp
  src/arkreactor/TypeChecker.cpp
Labels: none

fixing the function displaying the type(s) upon error
  src/arkreactor/TypeChecker.cpp
Labels: none

fixing the function displaying the type(s) upon error
  src/arkreactor/TypeChecker.cpp
Labels: none

using the new type checker in the builtins
  CHANGELOG.md
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
Labels: none

using the new type checker in the builtins
  CHANGELOG.md
  include/Ark/Builtins/BuiltinsErrors.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
Labels: none

fixing the typechecker to handle alternatives of the same length
  src/arkreactor/TypeChecker.cpp
Labels: none

fixing the typechecker to handle alternatives of the same length
  src/arkreactor/TypeChecker.cpp
Labels: none

fixes ARK_PROFILER_MIPS macro definition in CMake
  CMakeLists.txt
Labels: none

fixes ARK_PROFILER_MIPS macro definition in CMake
  CMakeLists.txt
Labels: none

formatting code
  include/Ark/TypeChecker.hpp
Labels: none

formatting code
  include/Ark/TypeChecker.hpp
Labels: none

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt
