Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

wip
  .github/workflows/release.yml
Labels: ci

ci: all builds are now debug builds, with sanitizers enabled
  .github/workflows/ci.yml
Labels: ci

ci: all builds are now debug builds, with sanitizers enabled
  .github/workflows/ci.yml
Labels: ci

ci: release ci now builds its own artifacts, run tests on them, and then create a draft release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci

ci: release ci now builds its own artifacts, run tests on them, and then create a draft release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci

fix: integrations tests can be built with sanitizers too now
  tests/cpp/CMakeLists.txt
Labels: none

fix: integrations tests can be built with sanitizers too now
  tests/cpp/CMakeLists.txt
Labels: none

cleanup: removing useless step in CI (building inno setup installer)
  .github/workflows/ci.yml
Labels: ci

cleanup: removing useless step in CI (building inno setup installer)
  .github/workflows/ci.yml
Labels: ci

ci: adding a clang 11 ubuntu build for valgrind, without sanitizers enabled
  .github/workflows/ci.yml
Labels: ci

ci: adding a clang 11 ubuntu build for valgrind, without sanitizers enabled
  .github/workflows/ci.yml
Labels: ci

ci: disabling valgrind builds on GCC
  .github/workflows/ci.yml
  cmake/sanitizers.cmake
Labels: ci

ci: disabling valgrind builds on GCC
  .github/workflows/ci.yml
  cmake/sanitizers.cmake
Labels: ci

fix: adding cmake folder to the docker image to build
  Dockerfile
Labels: none

fix: adding cmake folder to the docker image to build
  Dockerfile
Labels: none

ci: using actions/download-artifact@v3 in release.yml
  .github/workflows/release.yml
Labels: ci

ci: using actions/download-artifact@v3 in release.yml
  .github/workflows/release.yml
Labels: ci

ci: fixing release name
  .github/workflows/release.yml
Labels: ci

ci: fixing release name
  .github/workflows/release.yml
Labels: ci

fix: adding cmake to .dockerignore
  .dockerignore
Labels: none

fix: adding cmake to .dockerignore
  .dockerignore
Labels: none

refactor: deprecating resolve(Value*, Args&&... args) for resolve(ExecutionContext*, vector<Value>&)
  CHANGELOG.md
  include/Ark/VM/VM.hpp
Labels: virtual machine

refactor: deprecating resolve(Value*, Args&&... args) for resolve(ExecutionContext*, vector<Value>&)
  CHANGELOG.md
  include/Ark/VM/VM.hpp
Labels: virtual machine

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

feat: adding warnings during compilation
  CHANGELOG.md
  examples/warnings.ark
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

feat: adding warnings during compilation
  CHANGELOG.md
  examples/warnings.ark
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

fixing compilation errors related to termcolor on windows
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler, virtual machine

fixing compilation errors related to termcolor on windows
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler, virtual machine

chore: update Doxyfile
  docs/Doxyfile
Labels: documentation

chore: update Doxyfile
  docs/Doxyfile
Labels: documentation

fix: adding a proxy header for termcolor to avoid errors on errors due to Windows
  include/termcolor/proxy.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine

fix: adding a proxy header for termcolor to avoid errors on errors due to Windows
  include/termcolor/proxy.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: compiler, parser, virtual machine

refining warning messages
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

refining warning messages
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: fixing warning about braces in TypeChecker.hpp
  include/Ark/TypeChecker.hpp
Labels: none

chore: fixing warning about braces in TypeChecker.hpp
  include/Ark/TypeChecker.hpp
Labels: none

chore: ignore .DS_store files of MacOS
  .gitignore
Labels: none

chore: ignore .DS_store files of MacOS
  .gitignore
Labels: none

fix: using a specific version of the modules for the v4 and fixing the VM after having merged dev
  include/Ark/Compiler/Word.hpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine
