Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

fix: adding necessary includes and deleting copy constructors so that MSVC is happy
  CHANGELOG.md
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: none

refactor(builtins)!: renamed str:xyz builtins to string:xyz for uniformity with the standard library
  CHANGELOG.md
  examples/99bottles.ark
  examples/blockchain.ark
  examples/sum_digits.ark
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/fuzzing/arkscript.dict
  tests/fuzzing/corpus/examples_99bottles.ark
  tests/unittests/resources/ASTSuite/99bottles.ark
  tests/unittests/resources/ASTSuite/99bottles.json
  tests/unittests/resources/CompilerSuite/ir/99bottles.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/fmt_arg_not_found.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/fmt_arg_not_found.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
  tests/unittests/resources/LangSuite/utf8-tests.ark
Labels: none

refactor(name resolution): moving name resolution pass to its own subfolder
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

feat(name resolution): improving unbound error messages by suggesting names from the language too
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  tests/unittests/DiagnosticsSuite.cpp
  tests/unittests/LangSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_capture.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_capture.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var_suggestion.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var_suggestion.expected
Labels: ðŸ§ª tests

feat(name resolution): only allow unprefix names to be fully qualified in their own namespace
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/b.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.expected
Labels: none

fix: adding necessary includes and deleting copy constructors so that MSVC is happy
  CHANGELOG.md
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: none

feat(name resolution): enhance tracking variables and fully qualified names
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/shadowing/a.ark
  tests/unittests/resources/NameResolutionSuite/shadowing/b.ark
  tests/unittests/resources/NameResolutionSuite/shadowing/c.ark
Labels: ark/compiler, ðŸ§ª tests

refactor(name resolution): moving name resolution pass to its own subfolder
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

feat(name resolution): preventing the generation of stacked namespaces in fully qualified names with a better scope tracking
  src/arkreactor/Compiler/NameResolutionPass.cpp
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/namespace_stacking/a.ark
  tests/unittests/resources/NameResolutionSuite/namespace_stacking/b.ark
  tests/unittests/resources/NameResolutionSuite/namespace_stacking/c.ark
Labels: ark/compiler, ðŸ§ª tests

refactor(node): adding Node::isStringLike
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Exceptions.cpp
Labels: ark/parser

feat(namespaces): importing inside namespace, and skipping over them correctly in the macro processor, so that macros are still processed
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Package/Package.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: ark/compiler, ark/parser, ark/macros

feat(namespace): starting to introduce namespaces, not using them yet
  .pre-commit-config.yaml
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Namespace.hpp
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Package/Module.hpp
  include/Ark/Compiler/Package/Package.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  tests/unittests/ParserSuite.cpp
  tests/unittests/resources/ParserSuite/success/import.expected
Labels: ark/compiler, ark/parser, ark/macros, ðŸ§ª tests

fix(formatter): accessing static members via :: instead of .
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
Labels: ark/formatter

feat(name resolution): enhancing resolution of fully qualified names, to make it work with fields and captures
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
Labels: ark/compiler, ark/parser

chore(tests): removing unnecessary import in string-tests
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(name resolution): improving unbound error messages by suggesting names from the language too
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  tests/unittests/DiagnosticsSuite.cpp
  tests/unittests/LangSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_capture.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_capture.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var_suggestion.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var_suggestion.expected
Labels: ðŸ§ª tests

refactor(builtins)!: renamed str:xyz builtins to string:xyz for uniformity with the standard library
  CHANGELOG.md
  examples/99bottles.ark
  examples/blockchain.ark
  examples/sum_digits.ark
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
  tests/fuzzing/arkscript.dict
  tests/fuzzing/corpus/examples_99bottles.ark
  tests/unittests/resources/ASTSuite/99bottles.ark
  tests/unittests/resources/ASTSuite/99bottles.json
  tests/unittests/resources/CompilerSuite/ir/99bottles.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/fmt_arg_not_found.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/fmt_arg_not_found.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
  tests/unittests/resources/LangSuite/utf8-tests.ark
Labels: none

feat(name resolution): somewhat better handling of closures and captures
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/closure_field_wrong_fqn/b.ark
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

fix(tests): updating tests to use the new context provided on errors with captures
  tests/unittests/resources/DiagnosticsSuite/compileTime/capture_out_of_scope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound.expected
Labels: none

feat(name resolution): only allow unprefix names to be fully qualified in their own namespace
  include/Ark/Compiler/NameResolution/NameResolutionPass.hpp
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/b.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.expected
Labels: none

feat(name resolution): crude resolution of prefixed, glob and symbol imports
  include/Ark/Compiler/NameResolution/ScopeResolver.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
Labels: ark/compiler

feat(tests): adding name resolution tests
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/basic/a.ark
  tests/unittests/resources/NameResolutionSuite/basic/b.ark
  tests/unittests/resources/NameResolutionSuite/basic/c.ark
  tests/unittests/resources/NameResolutionSuite/basic/d.ark
  tests/unittests/resources/NameResolutionSuite/forward_reference/a.ark
  tests/unittests/resources/NameResolutionSuite/forward_reference/b.ark
Labels: ðŸ§ª tests

feat(name resolution): allow fqn if the scope is only exporting symbols
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
Labels: none

feat(name resolution): improving importing with a symbol list, to hide unspecified symbols
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  tests/fuzzing/corpus/tests_unittests_resources_nameresolutionsuite_basic_a.ark
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/c.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/use_not_in_import_list.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/use_not_in_import_list.expected
  tests/unittests/resources/NameResolutionSuite/basic/a.ark
Labels: ark/parser, ðŸ§ª tests

fix(parser): add source location tracking to function calls, and fix diagnostics tests
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_depth_eval.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/no_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ope_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/type_no_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/use_not_in_import_list.expected
Labels: ark/parser

refactor(name resolution): removing dead code and refactoring code when assigning names to symbols in namespaces
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
Labels: none

fix(name resolution): better handling of deep symbol list imports
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  tests/unittests/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/deep_import_symbols/a.ark
  tests/unittests/resources/NameResolutionSuite/deep_import_symbols/b.ark
  tests/unittests/resources/NameResolutionSuite/deep_import_symbols/c.ark
Labels: ðŸ§ª tests

feat(builtins): updating string:find to be able to add an optional startIndex for the lookup
  CHANGELOG.md
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

feat(builtins): adding experimental string:setAt
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/String.cpp
Labels: none

feat(list modifying in place): adding @= and @@= to modify lists in place
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/compiler, ark/virtual machine

fix(parser): fixing row/col computation while backtracking in the parser, leading to finally correct symbol underlined in errors
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/argcount_unknown_arg.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/capture_out_of_scope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/freestanding.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_sym_func_def.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/let_no_sym.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_concat.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_but_namespace.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_var_suggestion.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unevaluated_spread.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/use_not_in_import_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/well_formed_args.expected
  tests/unittests/resources/FormatterSuite/functions.expected
Labels: ark/parser

feat(tests): compile time mutability tests on @= and @@=
  CHANGELOG.md
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_immutable.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_immutable.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_immutable.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_immutable.expected
Labels: none

feat(builtins, tests): string:setAt and list:setAt are properly tested and bound checked, working with negative indices
  CHANGELOG.md
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/String.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/list_set_at.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_set_at.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/string_set_at.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/string_set_at.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

feat(ir optimizer): increment & decrement super instructions can support an additional number, between 0 and 4095 (included)
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
Labels: ark/virtual machine

feat(compiler): adding check on and/or argument count
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.expected
Labels: ark/compiler

feat(tests): adding args count check on append/concant/pop and their in place version
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_append_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_append_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_concat_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_concat_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_pop_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/inplace_pop_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_not_enough_args.expected
Labels: none

feat(tests): adding more argument checking tests
  src/arkreactor/Compiler/Compiler.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_bad_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_2d_bad_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_bad_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_set_at_bad_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.expected
Labels: ark/compiler

fix(parser): reading empty files shouldn't crash
  include/Ark/Files.hpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_file.expected
Labels: none

feat(vm, errors): improving error messages for @= and @@=, along with tests
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_x.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_x.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_y.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_out_of_range_y.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_eq_out_of_range.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_eq_out_of_range.expected
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: ark/virtual machine

refactor(tests): reorganizing langsuite tests so that it makes more sense
  tests/unittests/resources/LangSuite/builtins-tests.ark
  tests/unittests/resources/LangSuite/list-tests.ark
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none
