Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

chore: addressing cppcheck recommandations: more ranges, less variable shadowing
  include/Ark/State.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/Debugger.cpp
Labels: ark/virtual machine

feat(tests, debugger): testing the debugger triggering on errors
  include/Ark/VM/Debugger.hpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
  tests/unittests/resources/DebuggerSuite/modify_program_state.expected
  tests/unittests/resources/DebuggerSuite/modify_program_state.prompt
  tests/unittests/resources/DebuggerSuite/on_error.ark
  tests/unittests/resources/DebuggerSuite/on_error.expected
  tests/unittests/resources/DebuggerSuite/on_error.prompt
Labels: ark/virtual machine

feat(ast lowerer): breakpoints can be placed anywhere without disturbing the argument counts for functions and operators, as they produce nothing
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.ark
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
Labels: none

refactor(macro processor): compute the arg_name of a function macro only after checking the node type
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
Labels: none

feat(vm): enhancing the arity error handling and adding a test for when we have 0 argument
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_fun_no_arg.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_fun_no_arg.expected
Labels: ark/virtual machine

chore: use const vector& when loading lambdas into Ark::State
  .github/workflows/static_analysis.yml
  src/arkscript/REPL/Repl.cpp
  tests/unittests/Suites/DebuggerSuite.cpp
Labels: ark/repl, ðŸ‘· ci

refactor: create a dedicated Ark/VM/Value/ folder for better organization
  include/Ark/Ark.hpp
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/State.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/DefaultValues.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value/ClosureScope.hpp
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Future.hpp
  include/Ark/VM/Value/Value.hpp
  include/CLI/REPL/Repl.hpp
  src/arkreactor/State.cpp
  src/arkreactor/VM/Value/Future.cpp
  src/arkreactor/VM/Value/Procedure.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/benchmarks/main.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/compiler, ark/repl, ark/virtual machine

feat(debugger): create a minimalistic shell for the debugger
  include/Ark/Utils/Utils.hpp
  include/Ark/VM/Debugger.hpp
  include/CLI/REPL/Utils.hpp
  src/arkreactor/Utils/Utils.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/Suites/ReplSuite.cpp
  tests/unittests/Suites/ToolsSuite.cpp
Labels: ark/repl, ark/virtual machine

feat(breakpoints): allow 'breakpoint' to take 0 or 1 argument (boolean condition to trigger the breakpoint)
  include/Ark/VM/Debugger.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/breakpoints.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/breakpoint_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/breakpoint_too_many_args.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

fix: add missing import in Debugger.hpp
  include/Ark/VM/Debugger.hpp
Labels: ark/virtual machine

feat(ci): add a test build not using unity build
  .github/workflows/ci.yml
  .github/workflows/setup-compilers/action.yaml
Labels: ðŸ‘· ci

feat(ci): use slim runners for formatting jobs
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

feat(ci): use slim runners for formatting jobs
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

feat(diagnostics): ARK-321, allow generating diagnostics from string instead of files
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/PrettyPrinting.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: ark/compiler, ark/virtual machine

chore: update credits
  README.md
Labels: documentation

chore: update credits
  README.md
Labels: documentation

feat(diagnostics): ARK-321, allow generating diagnostics from string instead of files
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/PrettyPrinting.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  src/arkreactor/VM/Debugger.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: ark/compiler, ark/virtual machine

fix(cmake): add rpath properties for the executable, to find the libArkReactor in different setups
  .github/workflows/ci.yml
  .github/workflows/setup-tests/action.yaml
  CMakeLists.txt
  cmake/vars.cmake
Labels: ðŸ‘· ci

fix(cmake): add rpath properties for the executable, to find the libArkReactor in different setups
  .github/workflows/ci.yml
  .github/workflows/setup-tests/action.yaml
  CMakeLists.txt
  cmake/vars.cmake
Labels: ðŸ‘· ci

chore: update changelog and set correct version in CMakeLists.txt
  CHANGELOG.md
  CMakeLists.txt
Labels: none

fix: 'and' and 'or' now check that they are given valid nodes, producing outputs
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_mut.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_1_mut.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_let_1.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_let_1.expected
Labels: none

feat(vm)!: add support for dict in 'len' and 'empty?', and always return false when comparing two different types
  .gitignore
  CHANGELOG.md
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/empty_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/len_num.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

chore(docs): ARK-236, add documentation for ArkScript's builtins
  src/arkreactor/Builtins/Builtins.txt
  src/arkreactor/Builtins/Dict.txt
  src/arkreactor/Builtins/List.txt
  src/arkreactor/Builtins/Math.txt
  src/arkreactor/Builtins/String.txt
Labels: none

chore(docs): ARK-236, add documentation for ArkScript's builtins
  src/arkreactor/Builtins/Builtins.txt
  src/arkreactor/Builtins/Dict.txt
  src/arkreactor/Builtins/List.txt
  src/arkreactor/Builtins/Math.txt
  src/arkreactor/Builtins/String.txt
Labels: none

feat(vm)!: add support for dict in 'len' and 'empty?', and always return false when comparing two different types
  .gitignore
  CHANGELOG.md
  include/Ark/VM/Value/Value.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Value.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/empty_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/len_num.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/virtual machine

chore: release ArkScript 4.2.0
  .github/workflows/release.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: ðŸ‘· ci

feat: add 'apply' to call a function with a set of arguments from a list
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/apply_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/apply_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_fun_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_fun_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_num_list.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_num_list.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/repl, ark/virtual machine

refacto(ast lowerer): add method to check for recursive self call
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

refactor(ast lowerer): put all code using list of nodes in the same if statement
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

refactor(ast lowerer): split the calls lowering in multiple methods, to separate shortcircuit, operators and function calls
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

docs: move the builtins docs to docs/arkdoc/
  docs/arkdoc/Builtins.txt
  docs/arkdoc/Dict.txt
  docs/arkdoc/List.txt
  docs/arkdoc/Math.txt
  docs/arkdoc/String.txt
Labels: none

docs: adding arkdoc docstrings for append and friends, as well as assert
  docs/arkdoc/Builtins.txt
  docs/arkdoc/List.txt
Labels: none

docs: move the builtins docs to docs/arkdoc/
  docs/arkdoc/Builtins.txt
  docs/arkdoc/Dict.txt
  docs/arkdoc/List.txt
  docs/arkdoc/Math.txt
  docs/arkdoc/String.txt
Labels: none

refactor(ast lowerer): put all code using list of nodes in the same if statement
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat: add 'apply' to call a function with a set of arguments from a list
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/fused_math_ops.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/apply_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/apply_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_fun_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_fun_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_num_list.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/apply_num_list.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/repl, ark/virtual machine

docs: adding arkdoc docstrings for append and friends, as well as assert
  docs/arkdoc/Builtins.txt
  docs/arkdoc/List.txt
Labels: none

refacto(ast lowerer): add method to check for recursive self call
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

refactor(ast lowerer): split the calls lowering in multiple methods, to separate shortcircuit, operators and function calls
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

refactor(ast lowerer): uniformize error messages for invalid nodes
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_invalid_node.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/apply_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/function_shadowing_from_inside.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_ope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_tail_call.expected
Labels: none

chore(tests): add more tests for empty? and add builtins
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_add_nothing.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/builtin_add_nothing.expected
  tests/unittests/resources/LangSuite/operators-tests.ark
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
