Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat(repl): show when a block isn't closed
  CHANGELOG.md
  include/CLI/REPL/Repl.hpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

feat(repl): added help and save (writes history to disk) command to the repl
  CHANGELOG.md
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

feat(vm, repl): added force reloading of plugins in the VM, closes #337
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl, ark/virtual machine

feat(repl): adding more controls inside the REPL, closes #278
  CHANGELOG.md
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

feat(repl): added reset command to the repl, closes #278
  CHANGELOG.md
  include/CLI/REPL/Repl.hpp
  src/arkscript/REPL/Repl.cpp
Labels: ark/repl

fix(repl): handle imports of ArkScript code
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

feat(docker): adding an hardened docker image version of arskcript/nightly to be able to run untrusted user input
  .dockerignore
  .github/workflows/docker.yml
  harden.dockerfile
  harden_docker.sh
  include/utf8.hpp
Labels: ðŸ‘· ci

feat(docker): adding an hardened docker image version of arskcript/nightly to be able to run untrusted user input
  .dockerignore
  .github/workflows/docker.yml
  harden.dockerfile
  harden_docker.sh
  include/utf8.hpp
Labels: ðŸ‘· ci

refactor(welder): mutualising code
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/Formatter.cpp
Labels: ark/compiler, ark/parser, ark/formatter

docs: removing markdown files from docs/ and moving them to the website so that doxygen doesn't generate them under a random new link every time
  docs/DoxygenLayout.xml
  docs/MAINPAGE.md
  docs/guidelines_coding.md
  docs/guidelines_moduleserrorhandling.md
  docs/guidelines_naming.md
  docs/impl_architecture.md
  docs/impl_compiler.md
  docs/impl_vm.md
  docs/tutorial_builtins.md
  docs/tutorial_embedding.md
  docs/tutorial_modules.md
Labels: documentation

ci: updating compilers to use ranges
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/setup-tests/action.yaml
Labels: ðŸ‘· ci

fix(compiler): adding a guard on compileLetMutSet if we are passed something that isn't a symbol as the name of the variable
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/let_no_sym.ark
  tests/errors/compiler/let_no_sym.expected
Labels: ark/compiler

chore: updating the examples to use the new syntax for imports, and removing the (fake) quoting
  README.md
  examples/blockchain.ark
  examples/error.ark
  examples/games/snake/snake.ark
  examples/http.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
Labels: documentation

fix: adding missing includes
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/ParserSuite.cpp
Labels: ark/compiler, ark/repl, ark/virtual machine, ark/macros, ðŸ§ª tests

fix(macro processor): argcount should report an error when given an unknown argument
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/argcount_unknown_arg.ark
  tests/errors/macros/argcount_unknown_arg.expected
Labels: ark/macros

fix(compiler): check that the args list of a function is in fact a list before compiling it
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/well_formed_args.ark
  tests/errors/compiler/well_formed_args.expected
Labels: ark/compiler

docs: updating links to the website
  CONTRIBUTING.md
  README.md
Labels: documentation

docs: removing markdown files from docs/ and moving them to the website so that doxygen doesn't generate them under a random new link every time
  docs/DoxygenLayout.xml
  docs/MAINPAGE.md
  docs/guidelines_coding.md
  docs/guidelines_moduleserrorhandling.md
  docs/guidelines_naming.md
  docs/impl_architecture.md
  docs/impl_compiler.md
  docs/impl_vm.md
  docs/tutorial_builtins.md
  docs/tutorial_embedding.md
  docs/tutorial_modules.md
Labels: documentation

fix: adding missing includes
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Utils.cpp
  tests/unittests/ParserSuite.cpp
Labels: ark/compiler, ark/repl, ark/virtual machine, ark/macros, ðŸ§ª tests

fix(macro processor): argcount should report an error when given an unknown argument
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/argcount_unknown_arg.ark
  tests/errors/macros/argcount_unknown_arg.expected
Labels: ark/macros

chore: updating the examples to use the new syntax for imports, and removing the (fake) quoting
  README.md
  examples/blockchain.ark
  examples/error.ark
  examples/games/snake/snake.ark
  examples/http.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
Labels: documentation

ci: updating compilers to use ranges
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/setup-compilers/action.yaml
  .github/workflows/setup-tests/action.yaml
Labels: ðŸ‘· ci

fix(compiler): adding a guard on compileLetMutSet if we are passed something that isn't a symbol as the name of the variable
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/let_no_sym.ark
  tests/errors/compiler/let_no_sym.expected
Labels: ark/compiler

docs: updating links to the website
  CONTRIBUTING.md
  README.md
Labels: documentation

fix(compiler): check that the args list of a function is in fact a list before compiling it
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/well_formed_args.ark
  tests/errors/compiler/well_formed_args.expected
Labels: ark/compiler

refactor(welder): mutualising code
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/Formatter.cpp
Labels: ark/compiler, ark/parser, ark/formatter

feat(examples): adding game of life
  examples/games/game_of_life.ark
Labels: none

refactor: moving images/ to .github/ as it is only useful for the github project page, not building the project
  .github/images/ArkSnake.png
  .github/images/ArkTransparent-by-mazz.png
  .github/images/ArkTransparent-small.png
  .github/images/diagram.svg
  .github/images/logo-by-mazz.svg
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  docs/Doxyfile
  images/diagram.svg
Labels: documentation, ðŸ‘· ci

fix(parser, import): displaying an error instead of crashing on an unknown import
  CHANGELOG.md
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/ImportSolver.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler, ark/parser

feat(fuzzing, tests, vm, compiler): running the fuzzers locally to find a ton more bugs and fixing compiler/macro processor/vm bugs ; includes a pre-computed corpus
  CHANGELOG.md
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/VM/VM.cpp
  tests/errors/capture/can_not_call.ark
  tests/errors/capture/can_not_call.expected
  tests/errors/compiler/invalid_let.ark
  tests/errors/compiler/invalid_let.expected
  tests/errors/macros/at_out_of_range.ark
  tests/errors/macros/at_out_of_range.expected
  tests/errors/mutability/self_concat.ark
  tests/errors/mutability/self_concat.expected
  tests/errors/operators/freestanding.ark
  tests/errors/operators/freestanding.expected
  tests/errors/operators/no_args.ark
  tests/errors/operators/no_args.expected
  tests/errors/type/nil_not_a_function.ark
  tests/errors/type/nil_not_a_function.expected
  tests/fuzzing/arkscript.dict
  tests/fuzzing/corpus/can_not_call.ark
  tests/fuzzing/corpus/invalid_let.ark
  tests/fuzzing/corpus/macro_at_out_of_range.ark
  tests/fuzzing/corpus/nil_not_a_function.ark
  tests/fuzzing/corpus/ope_freestanding.ark
  tests/fuzzing/corpus/ope_no_args.ark
  tests/fuzzing/corpus/self_concat.ark
Labels: ark/compiler, ark/virtual machine, ark/macros

feat(fuzzing): updating the precomputed corpus and adding scripts to kickstart fuzzing with afl
  .github/workflows/ci.yml
  .gitignore
  tests/errors/operators/not_enough_args.expected
  tests/fuzzing/corpus-cmin-tmin/can_not_call.ark
  tests/fuzzing/corpus-cmin-tmin/invalid_let.ark
  tests/fuzzing/corpus-cmin-tmin/macro_at_out_of_range.ark
  tests/fuzzing/corpus-cmin-tmin/nil_not_a_function.ark
  tests/fuzzing/corpus-cmin-tmin/ope_freestanding.ark
  tests/fuzzing/corpus-cmin-tmin/ope_no_args.ark
  tests/fuzzing/corpus-cmin-tmin/out_of_range_in_place.ark
  tests/fuzzing/corpus-cmin-tmin/pop_in_place.ark
  tests/fuzzing/corpus-cmin-tmin/quicksort.ark
  tests/fuzzing/corpus-cmin-tmin/self_concat.ark
  tests/fuzzing/corpus-cmin-tmin/sum_digits.ark
  tests/fuzzing/corpus-cmin/can_not_call.ark
  tests/fuzzing/corpus-cmin/invalid_let.ark
  tests/fuzzing/corpus-cmin/macro_at_out_of_range.ark
  tests/fuzzing/corpus-cmin/nil_not_a_function.ark
  tests/fuzzing/corpus-cmin/ope_freestanding.ark
  tests/fuzzing/corpus-cmin/ope_no_args.ark
  tests/fuzzing/corpus-cmin/out_of_range_in_place.ark
  tests/fuzzing/corpus-cmin/pop_in_place.ark
  tests/fuzzing/corpus-cmin/self_concat.ark
  tests/fuzzing/fuzz.sh
  tests/fuzzing/prepare-corpus.sh
  tests/fuzzing/start-afl-docker.sh
Labels: ðŸ‘· ci

fix(ci): prevent services from restarting when installing valgrind
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

feat(bytecode reader): factorising code inside the bytecode reader to promote code reuse
  .gitignore
  CHANGELOG.md
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
  tests/unittests/BytecodeReaderSuite.cpp
  tests/unittests/resources/BytecodeReaderSuite/ackermann.arkc
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(refactor): finally mutualising code between the state and the bytecode reader
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/VM/State.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/State.cpp
  tests/errors/run-tests
Labels: ark/compiler, ark/virtual machine

fix(bytecode reader): update the symbols, values and code method of the BytecodeReader to avoid multiple reads of the same data
  include/Ark/Compiler/BytecodeReader.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/State.cpp
  tests/unittests/BytecodeReaderSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(fuzzing): adding a script to help with triaging fuzzer outputs, to quickly establish success and failure dataset
  .gitignore
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

fix: remove \0 escape sequence in string, closes #410
  CHANGELOG.md
  include/Ark/Compiler/AST/Parser.hpp
  tests/errors/compiler/invalid_escape_seq.ark
  tests/errors/compiler/invalid_escape_seq.expected
Labels: ark/parser

fix(compiler): while nodes should have 3 children
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/invalid_while.ark
  tests/errors/compiler/invalid_while.expected
Labels: ark/compiler

fix(vm): unnamed functions with arity error should display their page number in the error message
  CHANGELOG.md
  include/Ark/VM/inline/VM.inl
  tests/errors/callable/arity_error_async.ark
  tests/errors/callable/arity_error_async.expected
Labels: ark/virtual machine

fix(vm): added check on the number of arguments passed to 'type'
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
  tests/errors/type/type_no_args.ark
  tests/errors/type/type_no_args.expected
Labels: ark/virtual machine
