Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

fix: valgrind install in github ci Former-commit-id: 0ffd1fc81d0c3fa231e3513c6ef944edd1aba9c4
  .github/workflows/ci.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

chore: adding the new donators on the readme
  README.md
Labels: documentation

chore: adding the new donators on the readme
  README.md
Labels: documentation

docs: adding documentation for the virtual machine and finishing the compiler documentation
  docs/impl_compiler.md
  docs/impl_vm.md
Labels: documentation

docs: adding documentation for the virtual machine and finishing the compiler documentation
  docs/impl_compiler.md
  docs/impl_vm.md
Labels: documentation

removing the ArkScript String
  .gitmodules
  CMakeLists.txt
  examples/99bottles.ark
  examples/blockchain.ark
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkscript/main.cpp
  tests/arkscript/tests-tools.ark
Labels: virtual machine, tests

removing the custom string
  CHANGELOG.md
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
  src/arkreactor/Builtins/String.cpp
Labels: none

removes code
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
Labels: none

adding fmtlib as a submodule targetting v7.1.3
  src/arkreactor/Builtins/String.cpp
Labels: none

removing digPlaces and decPlaces from Utils.hpp/.cpp
  CHANGELOG.md
  include/Ark/Utils.hpp
  src/arkreactor/Utils.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

removing the .c_str() where they aren't needed
  include/Ark/Files.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

updating the readme
  README.md
Labels: documentation

updating the readme
  README.md
Labels: documentation

updating the embedding tutorial to add an example of a cmakelists
  README.md
  docs/tutorial_embedding.md
Labels: documentation

updating the embedding tutorial to add an example of a cmakelists
  README.md
  docs/tutorial_embedding.md
Labels: documentation

fix: separate lib paths with ; instead of :
  Installer.iss.in
Labels: none

fix: separate lib paths with ; instead of :
  Installer.iss.in
Labels: none

adding more info when using --dev-info
  src/arkscript/main.cpp
Labels: none

adding more info when using --dev-info
  src/arkscript/main.cpp
Labels: none

fix: the error message should always display the correct number of arguments it received
  CHANGELOG.md
  include/Ark/TypeChecker.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

fix: the error message should always display the correct number of arguments it received
  CHANGELOG.md
  include/Ark/TypeChecker.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

feat: we can now print closures and their fields
  CHANGELOG.md
  include/Ark/VM/Scope.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/arkscript/vm-tests.ark
Labels: virtual machine, tests

feat: we can now print closures and their fields
  CHANGELOG.md
  include/Ark/VM/Scope.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/arkscript/vm-tests.ark
Labels: virtual machine, tests

fix: updating the integration test 01
  tests/cpp/01.cpp
Labels: tests

fix: updating the integration test 01
  tests/cpp/01.cpp
Labels: tests

fix: -L|--lib can take a list of path separated by ';'
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

fix: -L|--lib can take a list of path separated by ';'
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

chore: updating macros example
  examples/macros.ark
Labels: none

chore: updating macros example
  examples/macros.ark
Labels: none

chore: update the list of colored keywords and functions in the REPL
  include/Ark/REPL/ConsoleStyle.hpp
Labels: repl

chore: update the list of colored keywords and functions in the REPL
  include/Ark/REPL/ConsoleStyle.hpp
Labels: repl

feat: setting up the new builtins
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Builtins.cpp
Labels: virtual machine

feat: setting up the new builtins
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Builtins.cpp
Labels: virtual machine

feat: adding a Future class to handle an execution context and std::future<Value>
  include/Ark/VM/Future.hpp
  src/arkreactor/VM/Future.cpp
Labels: virtual machine

feat: adding a Future class to handle an execution context and std::future<Value>
  include/Ark/VM/Future.hpp
  src/arkreactor/VM/Future.cpp
Labels: virtual machine

feat: adding the implementation for the futures
  async.ark
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

feat: adding the implementation for the futures
  async.ark
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

adding needed method to free used futures
  async.ark
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine
