Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/Lexer.*
  - include/Ark/Compiler/Node.*
  - include/Ark/Compiler/Parser.*
  - src/arkreactor/Compiler/Lexer.*
  - src/arkreactor/Compiler/Parser.*
  - src/arkreactor/Compiler/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/MacroProcessor.*
  - src/arkreactor/Compiler/MacroProcessor.*

fix(docker): fixing dockerfile for the new project structure
  Dockerfile
Labels: none

fix(docker): fixing dockerfile for the new project structure
  Dockerfile
Labels: none

fix(docker): fixing dockerfile for the new project structure and updating dockerignore accordingly
  .dockerignore
  Dockerfile
Labels: none

fix(docker): fixing dockerfile for the new project structure and updating dockerignore accordingly
  .dockerignore
  Dockerfile
Labels: none

fix(docker): removing copy thirdparties as we dont have them anymore
  Dockerfile
Labels: none

fix(docker): removing copy thirdparties as we dont have them anymore
  Dockerfile
Labels: none

fix(docker): copy include dir as well and build arkscript target instead of ark target
  Dockerfile
Labels: none

fix(docker): copy include dir as well and build arkscript target instead of ark target
  Dockerfile
Labels: none

fix(docker): wrong workdir
  Dockerfile
Labels: none

fix(docker): wrong workdir
  Dockerfile
Labels: none

refactor: removing ARK_SCOPE_DICHOTOMY flag (see changelog for the explanation)
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

refactor: removing ARK_SCOPE_DICHOTOMY flag (see changelog for the explanation)
  CHANGELOG.md
  CMakeLists.txt
  src/arkreactor/VM/Scope.cpp
Labels: virtual machine

docs: reorganizing the documentation and updating the readme
  README.md
  docs/Doxyfile
  docs/MAINPAGE.md
  docs/tutorials.md
  images/arkscript-code-structure.png
  images/old-ark-logo.png
Labels: none

docs: reorganizing the documentation and updating the readme
  README.md
  docs/Doxyfile
  docs/MAINPAGE.md
  docs/tutorials.md
  images/arkscript-code-structure.png
  images/old-ark-logo.png
Labels: none

fix: stop using a deprecated function from clipp
  CHANGELOG.md
  src/arkscript/main.cpp
Labels: none

fix: stop using a deprecated function from clipp
  CHANGELOG.md
  src/arkscript/main.cpp
Labels: none

removing download-arkscript.sh since it's non standard and does not work on all linux systems
  CHANGELOG.md
  download-arkscript.sh
Labels: none

removing download-arkscript.sh since it's non standard and does not work on all linux systems
  CHANGELOG.md
  download-arkscript.sh
Labels: none

adding the build system as a change in the changelog
  CHANGELOG.md
Labels: none

adding the build system as a change in the changelog
  CHANGELOG.md
Labels: none

docs: starting a better doxygen documentation
  README.md
  docs/MAINPAGE.md
  docs/brief_architecture.md
  docs/embedding.md
  docs/modules.md
  docs/tutorials.md
Labels: none

docs: starting a better doxygen documentation
  README.md
  docs/MAINPAGE.md
  docs/brief_architecture.md
  docs/embedding.md
  docs/modules.md
  docs/tutorials.md
Labels: none

refactor: removing unused functions
  include/Ark/Utils.hpp
Labels: none

refactor: removing unused functions
  include/Ark/Utils.hpp
Labels: none

refactor: removing mpark variant
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Node.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  lib/README.md
  lib/variant/variant.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/Node.cpp
  src/arkreactor/VM/Value.cpp
Labels: compiler, parser, virtual machine

refactor: removing mpark variant
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Node.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  lib/README.md
  lib/variant/variant.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Compiler/Node.cpp
  src/arkreactor/VM/Value.cpp
Labels: compiler, parser, virtual machine

docs: adding a tutorial on how to add a builtin to arkscript
  docs/builtins.md
  docs/tutorials.md
Labels: none

docs: adding a tutorial on how to add a builtin to arkscript
  docs/builtins.md
  docs/tutorials.md
Labels: none

refactor: removing Ark::FeatureFunctionArityCheck making arity checks mandatory
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/inline/VM.inl
  src/arkscript/main.cpp
Labels: virtual machine

refactor: removing Ark::FeatureFunctionArityCheck making arity checks mandatory
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  include/Ark/VM/inline/VM.inl
  src/arkscript/main.cpp
Labels: virtual machine

refactor: renaming Config.hpp to Platform.hpp
  CHANGELOG.md
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Node.hpp
  include/Ark/Compiler/Parser.hpp
  include/Ark/Platform.hpp
  include/Ark/VM/Closure.hpp
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
Labels: compiler, parser, virtual machine

refactor: renaming Config.hpp to Platform.hpp
  CHANGELOG.md
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Node.hpp
  include/Ark/Compiler/Parser.hpp
  include/Ark/Platform.hpp
  include/Ark/VM/Closure.hpp
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/UserType.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
Labels: compiler, parser, virtual machine

docs: updating doxyfile and adding arkscript logo on the generated documentation
  .gitignore
  docs/Doxyfile
  docs/MAINPAGE.md
  images/ArkTransparent-small.png
Labels: none

docs: updating doxyfile and adding arkscript logo on the generated documentation
  .gitignore
  docs/Doxyfile
  docs/MAINPAGE.md
  images/ArkTransparent-small.png
Labels: none

fix: using fs::path::generic_string instead of .string + regexes
  include/Ark/Utils.hpp
Labels: none

fix: using fs::path::generic_string instead of .string + regexes
  include/Ark/Utils.hpp
Labels: none

fix: adding missing include of <memory>
  include/Ark/Compiler/MacroExecutor.hpp
Labels: compiler

fix: adding missing include of <memory>
  include/Ark/Compiler/MacroExecutor.hpp
Labels: compiler

feat: new internal keyword 'Pop' to be used in the stack trashing elimination
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Node.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Node.cpp
Labels: compiler, parser

feat(pop): implement Pop instruction behavior in VM
  src/arkreactor/VM/VM.cpp
Labels: virtual machine
