Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

refactor(parser, diagnostics): use an end position for each node, instead of a big hacky optional expr & symbol & symbol size (that can or cannot match the size of the symbol)
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Error/CodeErrorContext.hpp
  include/Ark/Error/Diagnostics.hpp
  include/Ark/Error/PrettyPrinting.hpp
  include/Ark/Utils/Literals.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkreactor/Error/PrettyPrinting.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_glob_import.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/forbidden_name_bis.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_in_package.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let_in_macro.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/name_collision_with_builtin.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call_2.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_if.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_macro_arguments.expected
Labels: ark/parser, ark/virtual machine, ark/macros, ðŸ§ª tests

fix(parser): set position for each cond node
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: ark/parser

fix(parser): remove Parser::setNodeAndFilePos, fix source location for del nodes in ASTLowerer
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: ark/parser

refactor(node): using position and setPositionFrom instead of setPos/setFilename/line/col
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Utils/Position.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Error/Diagnostics.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/JsonCompiler.cpp
Labels: ark/parser, ark/formatter, ark/macros

fix(pretty printing): adding missing vector header
  include/Ark/Error/PrettyPrinting.hpp
Labels: none

feat(tests): adding parser tests to improve coverage
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_capture.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/empty_capture.expected
  tests/unittests/resources/FormatterSuite/comment_after_macro_args.ark
  tests/unittests/resources/FormatterSuite/comment_after_macro_args.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_field.ark
  tests/unittests/resources/ParserSuite/failure/incomplete_field.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_fun_in_macro.ark
  tests/unittests/resources/ParserSuite/failure/incomplete_fun_in_macro.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_spread.ark
  tests/unittests/resources/ParserSuite/failure/incomplete_spread.expected
  tests/unittests/resources/ParserSuite/failure/incorrect_function_call.ark
  tests/unittests/resources/ParserSuite/failure/incorrect_function_call.expected
  tests/unittests/resources/ParserSuite/failure/invalid_escape_seq_4.ark
  tests/unittests/resources/ParserSuite/failure/invalid_escape_seq_4.expected
  tests/unittests/resources/ParserSuite/failure/invalid_escape_seq_8.ark
  tests/unittests/resources/ParserSuite/failure/invalid_escape_seq_8.expected
  tests/unittests/resources/ParserSuite/failure/invalid_hex8_escape_seq.ark
  tests/unittests/resources/ParserSuite/failure/invalid_hex8_escape_seq.expected
Labels: ark/parser

refactor: removing dead code
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

feat(tests): adding Rosetta stack solution
  tests/unittests/resources/RosettaSuite/stack.ark
Labels: none

refactor(parser): replaced boolean Parser::m_interpret by an enum class ParserMode
  README.md
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
Labels: ark/parser, ark/formatter, documentation

chore(tests): adding throwing type error test in C++ binding
  include/Ark/TypeChecker.hpp
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: none

feat(macros): adding a constant for $type macro and making tests for it
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_type_too_many_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_type_too_many_args.expected
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/compiler, ark/macros

feat(tests): adding tests for the bad path in Ark::State
  include/Ark/VM/State.hpp
  src/arkreactor/VM/State.cpp
  tests/unittests/Suites/StateSuite.cpp
Labels: ark/virtual machine

chore(rosetta suite): adding count occurrences of a substring solution
  tests/unittests/resources/RosettaSuite/count_occurrences_of_substring.ark
Labels: none

chore(rosetta suite): adding middle three digits solution
  tests/unittests/resources/RosettaSuite/middle_three_digits.ark
Labels: none

chore(tests): adding repl utils tests
  tests/unittests/Suites/ReplSuite.cpp
Labels: none

chore(rosetta suite): adding pangram checking solution
  tests/unittests/resources/RosettaSuite/pangram.ark
Labels: none

feat(tests): adding double plugin loading test
  tests/unittests/resources/LangSuite/module-tests.ark
Labels: none

chore(tests): adding repl hints tests
  src/arkscript/REPL/Utils.cpp
  tests/unittests/Suites/ReplSuite.cpp
Labels: ark/repl

refactor: move thirdparties outside lib/, to thirdparties/
  .dockerignore
  .gitmodules
  CMakeLists.txt
  Dockerfile
  harden.dockerfile
  tests/fuzzing/glob_all_ark_files.py
  thirdparties/README.md
  tools/ark_frequent_instructions.py
Labels: none

chore: format code
  include/Ark/Compiler/AST/Import.hpp
Labels: none

chore: remove dead code (StaticScope::withPrefix)
  include/Ark/Compiler/NameResolution/StaticScope.hpp
Labels: none

feat(tests): adding an embedding test with debug = 3 so that the logger is used
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: none

feat(tests): testing that async is correctly type-checked
  tests/unittests/resources/DiagnosticsSuite/runtime/async_number.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/async_number.expected
Labels: none

feat(tests): testing the VM user interface (resolve, call) more thorougly
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: none

feat(tests): adding more comparison tests to cover all edge cases
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

chore: remove dead code Node::isStringLike
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

feat(tests): testing spread use without a name, should throw an error
  tests/unittests/resources/DiagnosticsSuite/compileTime/spread_use_no_name.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/spread_use_no_name.expected
Labels: none

feat(tests): adding more failing tests for macros
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/builtin_conflict_resolution.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/builtin_conflict_resolution.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_argcount_type_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_argcount_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_eq_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_eq_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_plus_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_plus_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_undef_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_undef_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/package/builtin__list.ark
Labels: ark/macros

fix(ci): update ci workflow to remove unused exclusion pattern for coverage and update setup-emsdk action
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: ðŸ‘· ci

feat(tests): adding futures comparison tests
  tests/unittests/resources/LangSuite/async-tests.ark
Labels: none

feat(tests): adding json compiler tests for condition with no else branch
  tests/unittests/resources/ASTSuite/conds.ark
  tests/unittests/resources/ASTSuite/conds.json
Labels: none

feat(tests): adding multiline block formatting test
  tests/unittests/resources/FormatterSuite/block.ark
  tests/unittests/resources/FormatterSuite/block.expected
Labels: none

feat(tests): testing repl hookcolor
  tests/unittests/Suites/ReplSuite.cpp
Labels: none

feat(tests): adding bad loading and unloading tests for SharedLibrary
  include/Ark/VM/SharedLibrary.hpp
  tests/unittests/Suites/SharedLibSuite.cpp
Labels: ark/virtual machine

feat(tests): adding failing type checking tests for increment and decrement super instructions
  tests/unittests/resources/DiagnosticsSuite/typeChecking/decrement_index_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/decrement_index_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/decrement_store_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/decrement_store_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/increment_index_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/increment_index_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/increment_store_str_num.ark
  tests/unittests/resources/DiagnosticsSuite/typeChecking/increment_store_str_num.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(tests): adding store/set_val_(head/tail) tests
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(future)!: adding controlfunctions to Future
  include/Ark/VM/Future.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/Value/UserType.cpp
Labels: ark/virtual machine

fix(ir optimizer): DECREMENT_STORE instruction couldn't be emitted due to a bad check on the basic instructions required for the optimization
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

feat(tests): adding at_sym_index_sym_index instruction test
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: none

fix(tests): adding missing include
  tests/unittests/Suites/ExamplesSuite.cpp
Labels: none
