Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

introducing ValueType::Any, an interrnal type used by the typechecker
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

introducing ValueType::Any, an interrnal type used by the typechecker
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

transitioning the builtins type checking to the new model
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

transitioning the builtins type checking to the new model
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

removing the bettertypeerror, now relying on types::generateError
  include/Ark/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

removing the bettertypeerror, now relying on types::generateError
  include/Ark/Exceptions.hpp
  include/Ark/TypeChecker.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Exceptions.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

reordering operations around
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

reordering operations around
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

ci: speed up valgrind job by using an artifact
  .github/workflows/ci.yml
Labels: ci

ci: speed up valgrind job by using an artifact
  .github/workflows/ci.yml
Labels: ci

improving the typechecker's generated error
  CHANGELOG.md
  include/Ark/Exceptions.hpp
  src/arkreactor/TypeChecker.cpp
Labels: none

improving the typechecker's generated error
  CHANGELOG.md
  include/Ark/Exceptions.hpp
  src/arkreactor/TypeChecker.cpp
Labels: none

Moving to ArkScript 3.1.3
  CHANGELOG.md
  CMakeLists.txt
Labels: none

Moving to ArkScript 3.1.3
  CHANGELOG.md
  CMakeLists.txt
Labels: none

small update needed by the modules
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value/UserType.hpp
Labels: virtual machine

small update needed by the modules
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value/UserType.hpp
Labels: virtual machine

updating the modules which had been refactored
  include/Ark/VM/Value/UserType.hpp
Labels: virtual machine

updating the modules which had been refactored
  include/Ark/VM/Value/UserType.hpp
Labels: virtual machine

running the modules tests in the CI
  .github/launch-tests
  CHANGELOG.md
Labels: none

running the modules tests in the CI
  .github/launch-tests
  CHANGELOG.md
Labels: none

fix: no more segfault when freeing usertypes
  .github/launch-tests
  include/Ark/VM/Value/UserType.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/UserType.cpp
Labels: virtual machine

fix: no more segfault when freeing usertypes
  .github/launch-tests
  include/Ark/VM/Value/UserType.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/UserType.cpp
Labels: virtual machine

adding a new instruction: pop
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

first version of stack trashing handling
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

assert does not produce a result, this was bugging the stack trashing detection algorithm
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

fixing compiler bug related to pop!
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

getting rid of stack trashing
  CHANGELOG.md
Labels: none

adding a new instruction: pop
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

first version of stack trashing handling
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

adding a new instruction: pop
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

fixing compiler bug related to pop!
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

getting rid of stack trashing
  CHANGELOG.md
Labels: none

first version of stack trashing handling
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

assert does not produce a result, this was bugging the stack trashing detection algorithm
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

fixing compiler bug related to pop!
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

assert does not produce a result, this was bugging the stack trashing detection algorithm
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

getting rid of stack trashing
  CHANGELOG.md
Labels: none

main.cpp: Rename clipp program name from 'ark' to 'arkscript'
  src/arkscript/main.cpp
Labels: none

main.cpp: Rename clipp program name from 'ark' to 'arkscript'
  src/arkscript/main.cpp
Labels: none

README: Update the output section for `arkscript --help`
  README.md
Labels: documentation
