Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

fix(mingw): allow for cross-compilation to windows using mingw
  CMakeLists.txt
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/VM/Plugin.hpp
  include/Proxy/MiniWindows.h
Labels: ark/virtual machine

fix(mingw): add -static to unittests and correct return type for getCount
  CMakeLists.txt
  include/Ark/Compiler/AST/BaseParser.hpp
Labels: none

fix: add a check on the position when backtracking in the parser
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
Labels: none

feat(logger): display source location data when logging in debug
  include/Ark/Logger.hpp
Labels: none

feat(compiler): adding basic emscripten support
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  public/index.html
  public/server.js
  src/arkemscripten/main.cpp
Labels: ðŸ‘· ci

feat(compiler): adding basic emscripten support
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  public/index.html
  public/server.js
  src/arkemscripten/main.cpp
Labels: ðŸ‘· ci

feat(formatter): format long argument list on multiple lines
  examples/closures.ark
  examples/games/snake/snake.ark
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/long_arg_list.ark
  tests/unittests/resources/FormatterSuite/long_arg_list.expected
Labels: ark/formatter

fix(emscripten playground): better capture of console.log output
  .gitignore
  CHANGELOG.md
  public/index.html
  src/arkscript/main.cpp
Labels: none

fix(benchmarks): update benchmark resource for parsing test to call builtins with their new name
  tests/benchmarks/resources/parser/bigger.ark
Labels: none

feat(vm): make the bytecode contiguous in memory to remove an indirection when fetching instructions
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/results/10-eaf4ada5.csv
  tests/benchmarks/results/11-eaf4ada5.csv
Labels: ark/compiler, ark/virtual machine

fix(benchmarks): update benchmark resource for parsing test to call builtins with their new name
  tests/benchmarks/resources/parser/bigger.ark
Labels: none

feat(vm): make the bytecode contiguous in memory to remove an indirection when fetching instructions
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/results/10-eaf4ada5.csv
  tests/benchmarks/results/11-eaf4ada5.csv
Labels: ark/compiler, ark/virtual machine

wip - bad performances
  include/Ark/VM/ScopeView.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/ScopeView.cpp
Labels: ark/virtual machine

feat(rosetta, tests): adding N queens solution
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/n_queens.ark
  tests/unittests/resources/RosettaSuite/n_queens.ark
Labels: none

feat(rosetta, tests): adding N queens solution
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/n_queens.ark
  tests/unittests/resources/RosettaSuite/n_queens.ark
Labels: none

feat(tools, benchmarks): prefix benchmark results with leading zeroes
  tests/benchmarks/results/000-684ea758.csv
  tests/benchmarks/results/001-d45d7ea1.csv
  tests/benchmarks/results/002-abb043b4.csv
  tests/benchmarks/results/003-75161de7.csv
  tests/benchmarks/results/004-ad889963.csv
  tests/benchmarks/results/005-57d0e0cd.csv
  tests/benchmarks/results/006-c7f632ff.csv
  tests/benchmarks/results/007-28999c0f.csv
  tests/benchmarks/results/008-eb9ada44.csv
  tests/benchmarks/results/009-d1be6b9f.csv
  tests/benchmarks/results/010-eaf4ada5.csv
  tests/benchmarks/results/011-eaf4ada5.csv
  tools/ark_benchmarks
Labels: none

feat(compiler, vm): new GET_CURRENT_PAGE_ADDRESS instruction and CALL_CURRENT_PAGE super instruction to avoid a local variable lookup when performing a recursive non-tail call
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/compiler, ark/parser, ark/virtual machine

feat(tools, benchmarks): prefix benchmark results with leading zeroes
  tests/benchmarks/results/000-684ea758.csv
  tests/benchmarks/results/001-d45d7ea1.csv
  tests/benchmarks/results/002-abb043b4.csv
  tests/benchmarks/results/003-75161de7.csv
  tests/benchmarks/results/004-ad889963.csv
  tests/benchmarks/results/005-57d0e0cd.csv
  tests/benchmarks/results/006-c7f632ff.csv
  tests/benchmarks/results/007-28999c0f.csv
  tests/benchmarks/results/008-eb9ada44.csv
  tests/benchmarks/results/009-d1be6b9f.csv
  tests/benchmarks/results/010-eaf4ada5.csv
  tests/benchmarks/results/011-eaf4ada5.csv
  tools/ark_benchmarks
Labels: none

feat(compiler, vm): new GET_CURRENT_PAGE_ADDRESS instruction and CALL_CURRENT_PAGE super instruction to avoid a local variable lookup when performing a recursive non-tail call
  CHANGELOG.md
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/compiler, ark/parser, ark/virtual machine

fix: use markdown syntax to document the instructions ; update the gen_instructions_documentation.py script to output markdown
  docs/gen_instructions_documentation.py
  include/Ark/Compiler/Instructions.hpp
  tests/benchmarks/results/012-66d9c291.csv
Labels: ark/compiler, documentation

docs: update Doxyfile to output the implementation documentation to the new website
  docs/Doxyfile
  tools/ark_gen_insts_docs
Labels: documentation

fix(vm): using a narrow type in for loop and comparing against a std::size_t was not needed
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(config): add editorconfig file for arkscript
  .editorconfig
Labels: none

refactor: moving the ltrim and rtrim utils to Ark/Utils
  CMakeLists.txt
  include/Ark/Utils/Utils.hpp
  tests/unittests/Suites/CompilerSuite.cpp
  tests/unittests/Suites/DiagnosticsSuite.cpp
  tests/unittests/Suites/ParserSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
Labels: ðŸ§ª tests

feat(cmake): set VS_DEBUGGER_WORKING_DIRECTORY for VS users
  CMakeLists.txt
Labels: none

fix(vm, backtrace): generating a backtrace was sometimes caught in an infinite loop
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/backtrace_builtin.expected
Labels: ark/virtual machine

feat(tests): adding a name resolution test with multiple imports using the same imported name
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/symbol_imports_same_name/a.ark
  tests/unittests/resources/NameResolutionSuite/symbol_imports_same_name/b.ark
  tests/unittests/resources/NameResolutionSuite/symbol_imports_same_name/c.ark
Labels: none

feat(tools): rename triaged fuzzer output to have a .ark extension when using fuzzer-crash-triage.py
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

refactor(builtins): create a macro to easily declare builtins
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

feat(cmake): reorganise cmakelist and add ankerl unordered dense map
  .gitmodules
  CMakeLists.txt
  lib/README.md
Labels: none

refactor(value, dev_info): better printing of the sizes of our data types
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/Procedure.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkreactor/VM/Value/Procedure.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

refactor(value): overloading std::to_string to convert a ValueType to a string, instead of using a hacky conversion to std::size_t
  include/Ark/VM/VM.inl
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/compiler, ark/virtual machine

feat(vm): adding custom hash for the new Value::Dict_t
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/Procedure.hpp
  include/Ark/VM/Value/UserType.hpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

feat(value, builtins): updating the value to handle dictionaries and adding the first builtins to handle dicts
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Procedure.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/Dict.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Dict.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

feat(fuzzing): add new dict builtins to the fuzzing dictionary
  tests/fuzzing/arkscript.dict
Labels: none

chore: reformat cpp code
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Procedure.hpp
Labels: ark/virtual machine

chore: reformat cpp code
  include/Ark/VM/Value/Dict.hpp
  include/Ark/VM/Value/Procedure.hpp
Labels: ark/virtual machine

feat(cmake): reorganise cmakelist and add ankerl unordered dense map
  .gitmodules
  CMakeLists.txt
  lib/README.md
Labels: none

feat(fuzzing): add new dict builtins to the fuzzing dictionary
  tests/fuzzing/arkscript.dict
Labels: none

refactor(value): overloading std::to_string to convert a ValueType to a string, instead of using a hacky conversion to std::size_t
  include/Ark/VM/VM.inl
  include/Ark/VM/Value.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/compiler, ark/virtual machine

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
