Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/Lexer.*
  - include/Ark/Compiler/Node.*
  - include/Ark/Compiler/Parser.*
  - src/arkreactor/Compiler/Lexer.*
  - src/arkreactor/Compiler/Parser.*
  - src/arkreactor/Compiler/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/MacroProcessor.*
  - src/arkreactor/Compiler/MacroProcessor.*

refactor(compiler): reorganizing and renaming the executors
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/List.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Pipeline.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/List.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Pipeline.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: none

refactor(compiler): enhancing the include list of the compiler
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Compiler.inl
  include/Ark/Compiler/inline/Compiler.inl
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

refactor(compiler): enhancing the include list of the compiler
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Compiler.inl
  include/Ark/Compiler/inline/Compiler.inl
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: compiler, virtual machine

refactor(compiler): renamed unclear file CValue to ValTableElem
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/ValTableElem.hpp
  src/arkreactor/Compiler/CValue.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
Labels: compiler

refactor(compiler): renamed unclear file CValue to ValTableElem
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/ValTableElem.hpp
  src/arkreactor/Compiler/CValue.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
Labels: compiler

refactor(compiler): the parser is now an internal class, the optimizer was moved to Compiler/AST
  CHANGELOG.md
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor(compiler): the parser is now an internal class, the optimizer was moved to Compiler/AST
  CHANGELOG.md
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/AST/Lexer.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor(compiler): moving the operators list from the Builtins to Compiler/Common.hpp
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor(compiler): moving the operators list from the Builtins to Compiler/Common.hpp
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor: running clang format
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Compiler.inl
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

refactor: running clang format
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Compiler.inl
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler

fix: adding forgotten include
  include/Ark/Compiler/Macros/Pipeline.hpp
Labels: none

fix: adding forgotten include
  include/Ark/Compiler/Macros/Pipeline.hpp
Labels: none

updating the project diagram [skip ci]
  images/diagram.svg
Labels: none

updating the project diagram [skip ci]
  images/diagram.svg
Labels: none

fix: adding noreturn attribute to the error generating and throwing functions
  include/Ark/Compiler/AST/Lexer.hpp
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
Labels: compiler

fix: adding noreturn attribute to the error generating and throwing functions
  include/Ark/Compiler/AST/Lexer.hpp
  include/Ark/Compiler/AST/Optimizer.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
Labels: compiler

Handled (Ctrl+D) cmd
  src/arkscript/REPL/Repl.cpp
Labels: repl

Resolved clang formatting warnings
  src/arkscript/REPL/Repl.cpp
Labels: repl

Removed blank lines to resolve CI errors
  src/arkscript/REPL/Repl.cpp
Labels: repl

Handled (Ctrl+D) cmd
  src/arkscript/REPL/Repl.cpp
Labels: repl

Handled (Ctrl+D) cmd
  src/arkscript/REPL/Repl.cpp
Labels: repl

Resolved clang formatting warnings
  src/arkscript/REPL/Repl.cpp
Labels: repl

Removed blank lines to resolve CI errors
  src/arkscript/REPL/Repl.cpp
Labels: repl

Removed blank lines to resolve CI errors
  src/arkscript/REPL/Repl.cpp
Labels: repl

Resolved clang formatting warnings
  src/arkscript/REPL/Repl.cpp
Labels: repl

Added extra checks for the parser
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Removed blank lines to resolve CI checks
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Passed correct token in error messages
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Added extra checks for the parser
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Added extra checks for the parser
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Passed correct token in error messages
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Removed blank lines to resolve CI checks
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Removed blank lines to resolve CI checks
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

Passed correct token in error messages
  src/arkreactor/Compiler/Parser.cpp
Labels: compiler, parser

docs: correct coding style link
  README.md
Labels: none

Fix compiler warnings
  include/Ark/Compiler/Node.hpp
  include/Ark/Platform.hpp
  include/Ark/VM/Closure.hpp
  include/Ark/VM/Value.hpp
Labels: compiler, parser, virtual machine

Fix using strlen with non-NUL terminated string
  src/arkreactor/VM/State.cpp
Labels: virtual machine

Fix compiler warnings
  include/Ark/Compiler/Node.hpp
  include/Ark/Platform.hpp
  include/Ark/VM/Closure.hpp
  include/Ark/VM/Value.hpp
Labels: compiler, parser, virtual machine

Fix compiler warnings
  include/Ark/Compiler/Node.hpp
  include/Ark/Platform.hpp
  include/Ark/VM/Closure.hpp
  include/Ark/VM/Value.hpp
Labels: compiler, parser, virtual machine
