Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/Compiler/*

parser:
  - include/Ark/Compiler/Lexer.*
  - include/Ark/Compiler/Node.*
  - include/Ark/Compiler/Parser.*
  - src/Compiler/Lexer.*
  - src/Compiler/Parser.*
  - src/Compiler/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/REPL/**/*

modules:
  - lib/ext/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/VM/**/*

revamping the cli
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  src/Compiler/Parser.cpp
  src/main.cpp
Labels: compiler, parser

revamping the cli
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  src/Compiler/Parser.cpp
  src/main.cpp
Labels: compiler, parser

added the ability to give scripts arguments through sys:args
  CHANGELOG.md
  include/Ark/VM/State.hpp
  src/Compiler/Compiler.cpp
  src/VM/State.cpp
  src/VM/VM.cpp
Labels: compiler, virtual machine

added the ability to give scripts arguments through sys:args
  CHANGELOG.md
  include/Ark/VM/State.hpp
  src/Compiler/Compiler.cpp
  src/VM/State.cpp
  src/VM/VM.cpp
Labels: compiler, virtual machine

updating readme with new cli, closes #182
  README.md
Labels: none

updating readme with new cli, closes #182
  README.md
Labels: none

using a new plugin interface, more C-like
  CHANGELOG.md
  src/VM/VM.cpp
Labels: virtual machine

using a new plugin interface, more C-like
  CHANGELOG.md
  src/VM/VM.cpp
Labels: virtual machine

free the RAM
  src/VM/VM.cpp
Labels: virtual machine

free the RAM
  src/VM/VM.cpp
Labels: virtual machine

forgot to free the map[i].name as well
  src/VM/VM.cpp
Labels: virtual machine

forgot to free the map[i].name as well
  src/VM/VM.cpp
Labels: virtual machine

bumping version to 3.0.14
  CHANGELOG.md
  CMakeLists.txt
Labels: none

bumping version to 3.0.14
  CHANGELOG.md
  CMakeLists.txt
Labels: none

updating gitignore
  .gitignore
Labels: none

updating gitignore
  .gitignore
Labels: none

edit building section in readme
  README.md
Labels: none

edit building section in readme
  README.md
Labels: none

updating error handlers to avoid... errors when handling errors (eg sigsev)
  include/Ark/Compiler/Compiler.inl
  include/Ark/Compiler/Lexer.inl
  include/Ark/Compiler/Optimizer.inl
  include/Ark/Compiler/Parser.inl
Labels: compiler, parser

updating error handlers to avoid... errors when handling errors (eg sigsev)
  include/Ark/Compiler/Compiler.inl
  include/Ark/Compiler/Lexer.inl
  include/Ark/Compiler/Optimizer.inl
  include/Ark/Compiler/Parser.inl
Labels: compiler, parser

updating changelog
  CHANGELOG.md
Labels: none

updating changelog
  CHANGELOG.md
Labels: none

updated std lib
  CHANGELOG.md
Labels: none

updated std lib
  CHANGELOG.md
Labels: none

updated modules, adding hash
  CHANGELOG.md
Labels: none

updated modules, adding hash
  CHANGELOG.md
Labels: none

closes #204 : better error message when a plugin can't be found
  CHANGELOG.md
  src/VM/VM.cpp
Labels: virtual machine

closes #204 : better error message when a plugin can't be found
  CHANGELOG.md
  src/VM/VM.cpp
Labels: virtual machine
