Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

fix(diagnostics): changed the way context is displayed to avoid useless spaces that break diffs on the error tests
  src/arkreactor/Exceptions.cpp
Labels: none

fix(compiler): fixed a bug generating invalid function code
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/invalid_func.ark
  tests/errors/compiler/invalid_func.expected
Labels: ark/compiler

feat(tests, fuzzing): enhancing the fuzzer-crash-triage script to be able to take multiple inputs, skip a file, display an help message
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

tests: remove trailing whitespaces from .expected files
  tests/errors/compiler/invalid_escape_seq.expected
  tests/errors/index/at_out_of_range.expected
  tests/errors/macros/argcount_unknown_arg.expected
  tests/errors/run-tests
  tests/unittests/resources/ParserSuite/failure/incomplete_if.expected
  tests/unittests/resources/ParserSuite/failure/invalid.expected
Labels: none

feat(tests): adding tooling to run the formatter twice in tests
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
  tests/unittests/FormatterSuite.cpp
Labels: ark/formatter, ðŸ§ª tests

fix(parser): adding to the it->row mapping when it is empty so that the rest of the tracking can work
  src/arkreactor/Compiler/AST/BaseParser.cpp
Labels: none

fix(parser): better line tracking in parser when constructing a function call
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/FormatterSuite/comments_after_call.expected
  tests/unittests/resources/FormatterSuite/field.expected
Labels: ark/parser

feat(formatter): warning when the formatter deletes comment(s) by mistake
  CHANGELOG.md
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
Labels: ark/formatter

refactor(formatter): silly naming convention
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
Labels: ark/formatter

fix(compiler): added a check on nodes passed to list/concat/append and friends to only push nodes that produce a value
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/invalid_node_in_list.ark
  tests/errors/compiler/invalid_node_in_list.expected
  tests/errors/compiler/type_no_args.ark
  tests/errors/compiler/type_no_args.expected
  tests/errors/type/type_no_args.expected
Labels: ark/compiler

fix: comparing nodes should throw an exception
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

docs: include prerelease in readme badge and add shiny graph since everyone else has it too
  README.md
Labels: documentation

fix(parser): disallow some illegal node types when defining a let/mut/set inside a macro
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/errors/macros/invalid_let_in_macro.ark
  tests/errors/macros/invalid_let_in_macro.expected
Labels: ark/parser

ci: create codeql.yml
  .github/workflows/codeql.yml
Labels: ðŸ‘· ci

ci: trying to use codeql autobuild
  .github/workflows/codeql.yml
Labels: ðŸ‘· ci

feat(benchmarks): adding parser benchmarks
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/parser/big.ark
  tests/benchmarks/resources/parser/medium.ark
  tests/benchmarks/resources/parser/simple.ark
  tests/benchmarks/resources/runtime/ackermann.ark
  tests/benchmarks/resources/runtime/fibonacci.ark
  tests/benchmarks/resources/runtime/man_or_boy_test.ark
  tests/benchmarks/resources/runtime/quicksort.ark
Labels: none

feat(macro processor): adding $paste to stop node evalution inside macros
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/arkscript/builtins-tests.ark
Labels: ark/macros, ðŸ§ª tests

ci: updating static analysis workflow to output modified files vs unmodified files
  .github/generate_cppcheck_report.py
  .github/launch-lizard.py
  .github/workflows/static_analysis.yml
  .gitignore
Labels: ðŸ‘· ci

ci: adding a message in the PR about the fuzzers output
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

ci(fuzzing): continue on error so that we can fuzz outside PRs without posting a comment
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

ci: enable sanitizers on clang 16 and gcc 14 (closes #396)
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

tests(fuzzing): adding one more ramdisk for afl docker image
  tests/fuzzing/start-afl-docker.sh
Labels: none

feat(fuzzing): return exit code 0 when fuzzing and a diagnostic is printed
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(diagnostics): adding bound checking when generating an error context
  src/arkreactor/Exceptions.cpp
Labels: none

fix(parser): checking for invalid characters when decoding utf8 codepoints to avoid out of bounds reads
  CHANGELOG.md
  include/Ark/Compiler/AST/utf8_char.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  tests/errors/compiler/invalid_codepoint.ark
  tests/errors/compiler/invalid_codepoint.expected
Labels: none

fix(parser): do not allow reusing argument names inside macros
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/errors/macros/duplicated_arg.ark
  tests/errors/macros/duplicated_arg.expected
Labels: ark/parser

fix(compiler): disallow passing invalid nodes (that doesn't produce a value) as arguments to functions and operators
  CHANGELOG.md
  src/arkreactor/Compiler/Compiler.cpp
  tests/errors/compiler/invalid_node_in_call.ark
  tests/errors/compiler/invalid_node_in_call.expected
  tests/errors/compiler/invalid_node_in_ope.ark
  tests/errors/compiler/invalid_node_in_ope.expected
  tests/errors/compiler/invalid_node_in_tail_call.ark
  tests/errors/compiler/invalid_node_in_tail_call.expected
Labels: ark/compiler

fix(macro processor): adding check for unevaluated spread inside macros
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/unevaluated_spread.ark
  tests/errors/macros/unevaluated_spread.expected
Labels: ark/macros

fix(vm): futures can be awaited multiple times, however they will return nil on all subsequent calls
  CHANGELOG.md
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/VM/Future.cpp
  tests/arkscript/async-tests.ark
Labels: ark/virtual machine, ðŸ§ª tests

fix(parser): adding a hard limit on package names length (255 chars)
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/errors/compiler/import_too_long.ark
  tests/errors/compiler/import_too_long.expected
  tests/errors/compiler/sub_import_too_long.ark
  tests/errors/compiler/sub_import_too_long.expected
Labels: ark/parser

fix(macros): adding a max recursion depth when evaluating macros to avoid recursive macros exhausting the stack space
  CHANGELOG.md
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/compiler/invalid_codepoint.expected
  tests/errors/macros/max_depth.ark
  tests/errors/macros/max_depth.expected
Labels: ark/macros

fix(parser, formatter): enhanced comment after node handling inside macro, to avoid a crash during parsing
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/comment_after_macro_arg.ark
  tests/unittests/resources/FormatterSuite/comment_after_macro_arg.expected
Labels: ark/parser, ark/formatter

feat(tools, fuzzing): fixing an indexing bug in the fuzzer-crash-triage script
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

fix(macro processor): checking for invalid symbols when defining a function through a macro
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/invalid_sym_func_def.ark
  tests/errors/macros/invalid_sym_func_def.expected
Labels: ark/macros

fix(macro processor): added a max macro unification depth of 256 to avoid recursive infinite calls
  CHANGELOG.md
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/max_unification_depth.ark
  tests/errors/macros/max_unification_depth.expected
Labels: ark/macros

feat(tools, fuzzing): better fuzzing tooling to start the docker image immediately, build arkscript and launch multiple fuzzers
  tests/fuzzing/docker/0-prepare-corpus.sh
  tests/fuzzing/docker/1-build-with-afl.sh
  tests/fuzzing/docker/2-fuzz.sh
  tests/fuzzing/docker/setup-container.sh
  tests/fuzzing/start-afl-docker.sh
Labels: none

Update README.md
  README.md
Labels: documentation

fix(macro processor): set max macro processing depth to 256
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/errors/macros/max_depth.expected
Labels: ark/macros

tests: examples/quicksort.ark takes the number of repetitions by argument
  examples/quicksort.ark
Labels: none

feat(tools, fuzzing): update afl scripts and add an option to easily regenerate the corpus
  tests/fuzzing/docker/0-build-with-afl.sh
  tests/fuzzing/docker/1-prepare-corpus.sh
  tests/fuzzing/docker/build-and-make-corpus.sh
  tests/fuzzing/docker/setup-container.sh
  tests/fuzzing/glob_all_ark_files.py
  tests/fuzzing/start-afl-docker.sh
Labels: none
