Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

fix: adding bound checking on operator @ when used in macros
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: coding style
  README.md
  examples/99bottles.ark
  examples/ackermann.ark
  examples/blockchain.ark
  examples/callbacks.ark
  examples/closures.ark
  examples/counter.ark
  examples/error.ark
  examples/factorial.ark
  examples/fibo.ark
  examples/http.ark
  examples/macros.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
  tests/arkscript/async-tests.ark
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
  tests/arkscript/macro-tests.ark
  tests/arkscript/string-tests.ark
  tests/arkscript/tests-tools.ark
  tests/arkscript/unittests.ark
  tests/arkscript/utf8-tests.ark
  tests/arkscript/vm-tests.ark
Labels: documentation, tests

fix: adding bound checking on operator @ when used in macros
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: handled calling anonymous non-callable objects which resulted in a segfault now print an error message
  CHANGELOG.md
  include/Ark/VM/inline/VM.inl
Labels: virtual machine

fix: handled calling anonymous non-callable objects which resulted in a segfault now print an error message
  CHANGELOG.md
  include/Ark/VM/inline/VM.inl
Labels: virtual machine

fix: adding bound checking on operator @
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: adding bound checking on operator @
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: macro processor function registring now handles empty nodes
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: macros

fix: check if the variable being captured isn't unbound
  CHANGELOG.md
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

fix: compiler checks if operators receive the correct number of arguments
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fix: coding style
  README.md
  examples/99bottles.ark
  examples/ackermann.ark
  examples/blockchain.ark
  examples/callbacks.ark
  examples/closures.ark
  examples/counter.ark
  examples/error.ark
  examples/factorial.ark
  examples/fibo.ark
  examples/http.ark
  examples/macros.ark
  examples/more-or-less.ark
  examples/quicksort.ark
  examples/sum_digits.ark
  tests/arkscript/async-tests.ark
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
  tests/arkscript/macro-tests.ark
  tests/arkscript/string-tests.ark
  tests/arkscript/tests-tools.ark
  tests/arkscript/unittests.ark
  tests/arkscript/utf8-tests.ark
  tests/arkscript/vm-tests.ark
Labels: documentation, tests

tests: added some failure tests (#328)
  .github/launch-tests
  CHANGELOG.md
  tests/arkscript/run-tests
  tests/cpp/run-tests
  tests/errors/callable_0.ark
  tests/errors/callable_0.expected
  tests/errors/capture_0.ark
  tests/errors/capture_0.expected
  tests/errors/operators_0.ark
  tests/errors/operators_0.expected
  tests/errors/operators_1.ark
  tests/errors/operators_1.expected
  tests/errors/run-tests
Labels: none

tests: added some failure tests (#328)
  .github/launch-tests
  CHANGELOG.md
  tests/arkscript/run-tests
  tests/cpp/run-tests
  tests/errors/callable_0.ark
  tests/errors/callable_0.expected
  tests/errors/capture_0.ark
  tests/errors/capture_0.expected
  tests/errors/operators_0.ark
  tests/errors/operators_0.expected
  tests/errors/operators_1.ark
  tests/errors/operators_1.expected
  tests/errors/run-tests
Labels: none

fix: better arity check for macros (closes #411)
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Executors/List.cpp
Labels: none

fix: better arity check for macros (closes #411)
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Executors/List.cpp
Labels: none

tests: reorganizing the errors tests and adding macros tests
  tests/errors/callable/not_callable.ark
  tests/errors/callable/not_callable.expected
  tests/errors/capture/unbound.ark
  tests/errors/capture/unbound.expected
  tests/errors/macros/not_enough_args.ark
  tests/errors/macros/not_enough_args.expected
  tests/errors/macros/too_many_args.ark
  tests/errors/macros/too_many_args.expected
  tests/errors/operators/not_enough_args.ark
  tests/errors/operators/not_enough_args.expected
  tests/errors/operators/out_of_range.ark
  tests/errors/operators/out_of_range.expected
  tests/errors/run-tests
Labels: none

tests: reorganizing the errors tests and adding macros tests
  tests/errors/callable/not_callable.ark
  tests/errors/callable/not_callable.expected
  tests/errors/capture/unbound.ark
  tests/errors/capture/unbound.expected
  tests/errors/macros/not_enough_args.ark
  tests/errors/macros/not_enough_args.expected
  tests/errors/macros/too_many_args.ark
  tests/errors/macros/too_many_args.expected
  tests/errors/operators/not_enough_args.ark
  tests/errors/operators/not_enough_args.expected
  tests/errors/operators/out_of_range.ark
  tests/errors/operators/out_of_range.expected
  tests/errors/run-tests
Labels: none

ci: reorganizing the GitHub CI workflows
  .github/workflows/ci.yml
  .github/workflows/clang-format.yml
  .github/workflows/repo-visualizer.yml
Labels: ci

ci: reorganizing the GitHub CI workflows
  .github/workflows/ci.yml
  .github/workflows/clang-format.yml
  .github/workflows/repo-visualizer.yml
Labels: ci

ci: migrating checkout action to v3 and upload action to v3.1.1
  .github/workflows/ci.yml
Labels: ci

ci: migrating checkout action to v3 and upload action to v3.1.1
  .github/workflows/ci.yml
Labels: ci

Merging with dev
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: cleaning up the compiler code
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

chore: removed unused nodetype::closure
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: compiler, parser, macros

refactor: renaming methods and removing useless ones in the compiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

feat: the bytecode reader works with the 4 bytes long instructions
  include/Ark/Compiler/Word.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

fix: the bytecode reader CLI can now use --page in conjunction with --slice
  CHANGELOG.md
  README.md
  src/arkscript/main.cpp
Labels: documentation

feat: added the current instruction hex representation alongside its name and value
  src/arkreactor/Compiler/BytecodeReader.cpp
Labels: compiler

updating the virtual machine to be able to use instructions on 4 bytes
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

removing the ArkScript String
  .gitmodules
  CMakeLists.txt
  examples/99bottles.ark
  examples/blockchain.ark
  include/Ark/VM/Value.hpp
  include/Ark/VM/inline/Value.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkscript/main.cpp
  tests/arkscript/tests-tools.ark
Labels: virtual machine, tests

removing the custom string
  CHANGELOG.md
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

removes code
  lib/fmt/.clang-format
  lib/fmt/CONTRIBUTING.md
  lib/fmt/ChangeLog.rst
  lib/fmt/LICENSE.rst
  lib/fmt/README.rst
  lib/fmt/include/fmt/chrono.h
  lib/fmt/include/fmt/color.h
  lib/fmt/include/fmt/compile.h
  lib/fmt/include/fmt/core.h
  lib/fmt/include/fmt/format-inl.h
  lib/fmt/include/fmt/format.h
  lib/fmt/include/fmt/locale.h
  lib/fmt/include/fmt/os.h
  lib/fmt/include/fmt/ostream.h
  lib/fmt/include/fmt/posix.h
  lib/fmt/include/fmt/printf.h
  lib/fmt/include/fmt/ranges.h
  lib/fmt/src/format.cc
  lib/fmt/src/os.cc
Labels: none

adding fmtlib as a submodule targetting v7.1.3
  src/arkreactor/Builtins/String.cpp
Labels: none

removing digPlaces and decPlaces from Utils.hpp/.cpp
  CHANGELOG.md
  include/Ark/Utils.hpp
  src/arkreactor/Utils.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

removing the .c_str() where they aren't needed
  include/Ark/Files.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: virtual machine

ci: should run for every pull request
  .github/workflows/ci.yml
Labels: ci

removed deprecated code
  CHANGELOG.md
  CMakeLists.txt
  include/Ark/Builtins/Builtins.hpp
  include/Ark/Builtins/BuiltinsErrors.inl
  include/Ark/VM/VM.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/List.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/Time.cpp
  src/arkscript/main.cpp
  tests/arkscript/builtins-tests.ark
  tests/arkscript/list-tests.ark
Labels: virtual machine, tests

fix: using a specific version of the modules for the v4 and fixing the VM after having merged dev
  include/Ark/Compiler/Word.hpp
Labels: compiler

fix: using build/arkscript as the main executable instead of build/ark
  .github/workflows/ci.yml
  .github/workflows/release.yml
  examples/run-all
Labels: ci

fix: formatting word.hpp
  .github/workflows/ci.yml
  .github/workflows/release.yml
  include/Ark/Compiler/Word.hpp
Labels: compiler, ci
