Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat(tests): improving tests on string builtins
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.expected
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

feat(tests): adding more tests on list builtins
  src/arkreactor/Builtins/List.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.expected
Labels: none

feat(json compiler): fixing imports and del json representation and improving test coverage
  src/arkreactor/Builtins/Async.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/resources/ASTSuite/del.ark
  tests/unittests/resources/ASTSuite/del.json
  tests/unittests/resources/ASTSuite/imports.ark
  tests/unittests/resources/ASTSuite/imports.json
Labels: none

feat(builtins): splitting io:writeFile to remove the mode, introducing io:appendToFile
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/IO.cpp
  tests/fuzzing/arkscript.dict
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

refactor(parser): removing dead code
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

feat(tests): improving coverage on macros
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/macros

refactor: removing more dead code
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/ValTableElem.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/virtual machine

refactor: creating constants for sys:args and sys:platform ; also registering them in the name resolution pass
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/VM/State.cpp
Labels: ark/compiler, ark/virtual machine

fix(json compiler): disable import solver in json compiler
  src/arkscript/JsonCompiler.cpp
  tests/unittests/resources/ASTSuite/error.json
Labels: none

refactor(vm): removing the constness flag from the runtime values as we can now handle it at compile time
  include/Ark/VM/VM.inl
  include/Ark/VM/Value.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
Labels: ark/virtual machine

feat(builtins): splitting io:writeFile to remove the mode, introducing io:appendToFile
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/Builtins/IO.cpp
  tests/fuzzing/arkscript.dict
  tests/unittests/resources/LangSuite/builtins-tests.ark
Labels: none

refactor(parser): removing dead code
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

refactor(vm): making the VM class final
  CHANGELOG.md
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

feat!: new MAKE_CLOSURE instruction replacing a conditional LOAD_CONST based on a saved scope to create closure
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(tests): adding more tests on list builtins
  src/arkreactor/Builtins/List.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_end_start.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_past_end.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_start_less_0.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/list_slice_step_null.expected
Labels: none

refactor: removing more dead code
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/ValTableElem.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Pass.cpp
  src/arkreactor/Compiler/ValTableElem.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler, ark/virtual machine

refactor: creating constants for sys:args and sys:platform ; also registering them in the name resolution pass
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/VM/State.cpp
Labels: ark/compiler, ark/virtual machine

feat(tests): improving coverage on macros
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/macros

feat(tests): improving tests on string builtins
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/str_remove_out_of_bound.expected
  tests/unittests/resources/LangSuite/string-tests.ark
Labels: none

docs: add documentation to every method
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Import.hpp
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/AST/utf8_char.hpp
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/ImportSolver.hpp
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/Compiler/Pass.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Compiler/Word.hpp
  include/Ark/Constants.hpp.in
  include/Ark/Files.hpp
  include/Ark/Literals.hpp
  include/Ark/Logger.hpp
  include/Ark/TypeChecker.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Future.hpp
  include/Ark/VM/Plugin.hpp
  include/Ark/VM/Scope.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  include/Ark/VM/Value/UserType.hpp
  include/CLI/Formatter.hpp
  include/CLI/REPL/Repl.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/virtual machine, ark/macros

feat(json compiler): fixing imports and del json representation and improving test coverage
  src/arkreactor/Builtins/Async.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/resources/ASTSuite/del.ark
  tests/unittests/resources/ASTSuite/del.json
  tests/unittests/resources/ASTSuite/imports.ark
  tests/unittests/resources/ASTSuite/imports.json
Labels: none

feat!: removing runtime checks on mutability as everything is now done at compile time
  CHANGELOG.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/NameResolutionPass.hpp
  include/Ark/VM/ErrorKind.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/REPL/Repl.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/concat_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/pop_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_append_in_place.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_concat.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/self_concat.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/append_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/concat_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/pop_in_place.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/self_concat.expected
Labels: ark/compiler, ark/repl, ark/virtual machine

fix(json compiler): disable import solver in json compiler
  src/arkscript/JsonCompiler.cpp
  tests/unittests/resources/ASTSuite/error.json
Labels: none

feat(compiler): name & scope resolution pass now checks for mutability errors
  CHANGELOG.md
  include/Ark/Compiler/NameResolutionPass.hpp
  src/arkreactor/Compiler/NameResolutionPass.cpp
  src/arkreactor/Compiler/Welder.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/set_const.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/redefine.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/set_const.expected
  tests/unittests/resources/LangSuite/vm-tests.ark
Labels: ark/compiler

feat(optimisation): enhance argument copy from the stack to a vector when calling a C++ function
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/builtins.ark
Labels: ark/virtual machine

refactor: get the value 'fail_on_exception' from the feature flags instead of a boolean argument
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/State.cpp
Labels: ark/compiler, ark/virtual machine

feat(optimisation): enhance argument copy from the stack to a vector when calling a C++ function
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/builtins.ark
Labels: ark/virtual machine

refactor: get the value 'fail_on_exception' from the feature flags instead of a boolean argument
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkreactor/VM/State.cpp
Labels: ark/compiler, ark/virtual machine

refactor(vm)!: moving instructions and padding so that we have inst(8)-padding(8)-arg(16), to be able to handle instructions with two arguments, using the padding along arg
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Word.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/CompilerSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(compiler): the compiler now outputs an IR instead of bytecode, which is now generated by the IRCompiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

refactor(parser): removing dead code
  include/Ark/Compiler/AST/Predicates.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/EmbeddingSuite.cpp
Labels: ark/virtual machine, ðŸ§ª tests

refactor(compiler): moving the import solver to its own folder to decluter Ark/Compiler/
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Package/Module.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

refactor(bytecode reader): creating a list of instruction names and a map of instruction -> argument kind to avoid an horrendous if/else chain
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkscript/main.cpp
Labels: ark/compiler

feat(vm): added 11 (unused) super instructions and their implementation to the VM
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(ir): adding -fdump-ir to dump generated IR to a file.ark.ir
  .gitignore
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/main.cpp
Labels: ark/compiler

refactor(vm, compiler): adding helper methods and functions to help introducing super instructions
  include/Ark/Compiler/Word.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/unittests/CompilerSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

chore(benchmarks): running benchmarks and adding results to the repo
  tests/benchmarks/README.md
  tests/benchmarks/results/5-ee9ff764.csv
Labels: none

feat(ir, compiler): implementing the IR optimizer
  .github/images/diagram.svg
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

refactor(vm, compiler): adding helper methods and functions to help introducing super instructions
  include/Ark/Compiler/Word.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/unittests/CompilerSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(ir, compiler): implementing the IR optimizer
  .github/images/diagram.svg
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler
