Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

README: Update the output section for `arkscript --help`
  README.md
Labels: documentation

Update the link to the documentation site
  README.md
Labels: documentation

Update the link to the documentation site
  README.md
Labels: documentation

add documentation.html
  README.md
Labels: documentation

add documentation.html
  README.md
Labels: documentation

CONTRIBUTING: Include note about building modules for test suite
  CONTRIBUTING.md
Labels: none

CONTRIBUTING: Include note about building modules for test suite
  CONTRIBUTING.md
Labels: none

improving list tests
  tests/arkscript/list-tests.ark
Labels: tests

improving list tests
  tests/arkscript/list-tests.ark
Labels: tests

adding tests for makeDir and listfiles
  CHANGELOG.md
  tests/arkscript/builtins-tests.ark
Labels: tests

adding tests for makeDir and listfiles
  CHANGELOG.md
  tests/arkscript/builtins-tests.ark
Labels: tests

colors aren't supported by doxygen in markdown files with html elements
  docs/brief_architecture.md
Labels: documentation

colors aren't supported by doxygen in markdown files with html elements
  docs/brief_architecture.md
Labels: documentation

working on the documentation as per #284
  docs/MAINPAGE.md
  docs/impl_architecture.md
  docs/impl_compiler.md
  docs/impl_vm.md
  docs/implementation.md
  docs/tutorial_builtins.md
  docs/tutorial_embedding.md
  docs/tutorial_modules.md
  docs/tutorials.md
Labels: documentation

working on the documentation as per #284
  docs/MAINPAGE.md
  docs/impl_architecture.md
  docs/impl_compiler.md
  docs/impl_vm.md
  docs/implementation.md
  docs/tutorial_builtins.md
  docs/tutorial_embedding.md
  docs/tutorial_modules.md
  docs/tutorials.md
Labels: documentation

enhancing the clarity of the compiler code
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

enhancing the clarity of the compiler code
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

making code clearer and easier to maintain
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

making code clearer and easier to maintain
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

debloating the parser methods argument's lists
  CHANGELOG.md
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

debloating the parser methods argument's lists
  CHANGELOG.md
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

comments for clarity
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

comments for clarity
  src/arkreactor/Compiler/AST/Parser.cpp
Labels: parser

factorizing let, mut and set compilation process
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

factorizing let, mut and set compilation process
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

enhancing the handleCalls routine of the compiler
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

enhancing the handleCalls routine of the compiler
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

implementing tail call optimization in the compiler (closes #286)
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

implementing tail call optimization in the compiler (closes #286)
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

Utils: Add Levenshtein Distance Calculation
  include/Ark/Utils.hpp
  src/arkreactor/Utils.cpp
Labels: none

Utils: Add Levenshtein Distance Calculation
  include/Ark/Utils.hpp
  src/arkreactor/Utils.cpp
Labels: none

Compiler: Offer suggestion when symbol is undefined
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

Compiler: Offer suggestion when symbol is undefined
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: compiler

updating changelog and version to 3.2.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

updating changelog and version to 3.2.0
  CHANGELOG.md
  CMakeLists.txt
Labels: none

Errors: Add colors to string output from makeContext
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Add coloring pairs for parentheses and braces
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Errors: Add colors to string output from makeContext
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Add coloring pairs for parentheses and braces
  include/Ark/Compiler/AST/makeErrorCtx.hpp
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

Error Context: Fix underline bug in context error
  src/arkreactor/Compiler/AST/makeErrorCtx.cpp
Labels: none

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt
