Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*

feat(compiler, vm): adding new CHECK_TYPE_OF and CHECK_TYPE_OF_BY_INDEX super instructions to check the type of a local against a constant in a single instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/type.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new STORE_LIST super instruction to store a list in one instruction
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): adding new INCREMENT_STORE and DECREMENT_STORE super instructions to update values in place
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/increments.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tools/ark_frequent_instructions.py
Labels: ark/compiler, ark/virtual machine

fix(ir optimizer): adding check that we have enough instructions to try an optimization
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

fix: adding missing include for algorithm, because OF COURSE std::ranges::none_of has to be in ALGORITHM and not RANGES
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

fix(ir optimizer): INCREMENT_STORE was sometimes not correctly applied
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

feat(compiler, vm): adding new APPEND_IN_PLACE_SYM and APPEND_IN_PLACE_SYM_INDEX super instructions to append to a list faster
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
Labels: ark/compiler, ark/virtual machine

fix(parser): fixing a bug in the macro parser, allowing badly formed function macros to go through
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro.expected
Labels: ark/parser

feat(rosetta, tests): adding ascending primes solution
  tests/unittests/resources/RosettaSuite/ascending_prime.ark
Labels: none

feat(vm): adding private method VM::debugShowSource to help with bug finding when debugging the VM
  include/Ark/VM/VM.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

fix(vm): check for negative index when accessing elements in lists
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_negative_outside_list.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_ok_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_eq_ok_negative_outside_list.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_negative_outside_list.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_ok_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_at_ok_negative_outside_list.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/at_eq_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/at_eq_negative_outside_list.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/pop_in_place_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/pop_in_place_negative_outside_list.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/pop_negative_outside_list.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/pop_negative_outside_list.expected
Labels: ark/virtual machine

fix(ast lowerer): harden the check on arguments passed to function, to prevent node not producing values being used as arguments in function calls
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
Labels: none

fix(parser): store inside the AST if a node is using alt syntax (eg begin/{}), to properly render it in errors
  include/Ark/Compiler/AST/Node.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_ope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_tail_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
Labels: ark/parser

fix(error context): fix the error context generation when the error is on multiple lines
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/and_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/assert_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_glob_import.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/eq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/ge_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/gt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/hasfield_too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_found.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_codepoint.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/le_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/list_65536_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/lt_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_empty_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_head_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_len_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_tail_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/neq_chain_too_long.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/or_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args.expected
Labels: ark/parser

fix(name resolver): couldn't import two different files with the same symbol names inside, even though both were hidden and prefixed by their file
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  tests/unittests/Suites/NameResolutionSuite.cpp
  tests/unittests/resources/NameResolutionSuite/hidden_shadowing/a.ark
  tests/unittests/resources/NameResolutionSuite/hidden_shadowing/b.ark
  tests/unittests/resources/NameResolutionSuite/hidden_shadowing/c.ark
Labels: none

feat(compiler, vm): new PUSH_RETURN_ADDRESS instruction to push PP/IP explicitely
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(compiler, vm): remove the stack swapping from the VM when doing function calls
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/virtual machine

feat(ci): disable modules tests on windows because it apparently can't handle a poor wsgiref module
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix: add missing import to cassert in Node.cpp
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

fix(error context generation): bad context generation could sometimes happen, leading to a crash while reporting an error, because the start index was after the end of the line
  src/arkreactor/Exceptions.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

fix(error context generation): bad context generation could sometimes happen if an invalid node is found and is on more than one line
  src/arkreactor/Exceptions.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_multilines.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_multilines.expected
Labels: none

fix: add missing import to cassert in Node.cpp
  src/arkreactor/Compiler/AST/Node.cpp
Labels: ark/parser

fix(error context generation): bad context generation could sometimes happen if an invalid node is found and is on more than one line
  src/arkreactor/Exceptions.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_multilines.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_multilines.expected
Labels: none

feat(compiler, vm): remove the stack swapping from the VM when doing function calls
  CHANGELOG.md
  include/Ark/Compiler/Lowerer/ASTLowerer.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
  tests/benchmarks/main.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/CompilerSuite/ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/ir/closures.expected
  tests/unittests/resources/CompilerSuite/ir/factorial.expected
  tests/unittests/resources/CompilerSuite/ir/plugin.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/99bottles.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/ackermann.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/closures.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/factorial.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/jumps.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.ark
  tests/unittests/resources/CompilerSuite/optimized_ir/lists.expected
  tests/unittests/resources/CompilerSuite/optimized_ir/type.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
Labels: ark/virtual machine

feat(compiler, vm): new PUSH_RETURN_ADDRESS instruction to push PP/IP explicitely
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

feat(ci): disable modules tests on windows because it apparently can't handle a poor wsgiref module
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(error context generation): bad context generation could sometimes happen, leading to a crash while reporting an error, because the start index was after the end of the line
  src/arkreactor/Exceptions.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: ark/virtual machine

feat(tests): adding benchmark for a 1000ish lines file
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/parser/bigger.ark
Labels: none

feat(vm): prealloc 128 scope views for better perfs
  src/arkreactor/VM/VM.cpp
Labels: ark/virtual machine

feat(tools): adding ark_doxygen to generate doxydoc for me because I'm lazy
  tools/ark_doxygen
  tools/ark_frequent_instructions.py
Labels: none

fix(embedding): calling an ArkScript function from C++ code without argument shouldn't create a bogus vector with a Value(Undefined, 0) inside
  include/Ark/VM/VM.inl
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: ark/virtual machine

fix(embedding): calling an ArkScript function from C++ code without argument shouldn't create a bogus vector with a Value(Undefined, 0) inside
  include/Ark/VM/VM.inl
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: ark/virtual machine

fix(cmake): make compiler options private to avoid leaking
  CMakeLists.txt
Labels: none

feat(ci): improve fuzzing job to add .ark extension to each detected crash
  .github/workflows/ci.yml
  src/arkscript/main.cpp
Labels: ðŸ‘· ci

fix(cmake): make compiler options private to avoid leaking
  CMakeLists.txt
Labels: none

feat(ci): improve fuzzing job to add .ark extension to each detected crash
  .github/workflows/ci.yml
  src/arkscript/main.cpp
Labels: ðŸ‘· ci

refactor: move Value::ProcType to std::function
  include/Ark/VM/State.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Procedure.hpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Procedure.cpp
  src/arkscript/main.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/virtual machine

fix: clang compilation errors
  include/Ark/VM/Value/Procedure.hpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Procedure.cpp
Labels: ark/virtual machine

fix: implement requested changes
  include/Ark/VM/State.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Procedure.hpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Procedure.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
Labels: ark/virtual machine

refactor: move Value::ProcType to std::function (#549)
  include/Ark/VM/State.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Procedure.hpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Procedure.cpp
  src/arkscript/main.cpp
  tests/unittests/Suites/EmbeddingSuite.cpp
  tests/unittests/Suites/TypeCheckerSuite.cpp
Labels: ark/virtual machine
