Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

fix(vm): correctly display the passed arguments to functions inside arity errors, and display the function name in async arity errors
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_async.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/too_many_args.expected
Labels: ark/virtual machine

fix: change the color of the function name inside runtime typechecking errors from blue to cyan to be easier to read inside dark terminals
  src/arkreactor/TypeChecker.cpp
Labels: none

fix(vm): error messages for not callable values shouldn't rely on the last symbol loaded but the value we tried to use as a function
  include/Ark/VM/VM.inl
  tests/unittests/resources/DiagnosticsSuite/runtime/not_callable_with_args.ark
  tests/unittests/resources/DiagnosticsSuite/runtime/not_callable_with_args.expected
Labels: ark/virtual machine

feat(errors, vm): enhanced arity error messages by adding details about expected call and the values that were actually given
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_async.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/recursion_depth.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/too_many_args.expected
Labels: ark/virtual machine

fix: change the color of the function name inside runtime typechecking errors from blue to cyan to be easier to read inside dark terminals
  src/arkreactor/TypeChecker.cpp
Labels: none

chore: following cppcheck recommandations
  include/Ark/Compiler/AST/Node.hpp
  include/Ark/Compiler/NameResolution/StaticScope.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/Mathematics.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/Builtins/System.cpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/AST/Optimizer.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/ScopeResolver.cpp
  src/arkreactor/Compiler/NameResolution/StaticScope.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value/Closure.cpp
  src/arkscript/Formatter.cpp
  src/arkscript/JsonCompiler.cpp
  src/arkscript/REPL/Repl.cpp
  src/arkscript/REPL/Utils.cpp
Labels: ark/parser, ark/repl, ark/formatter, ark/virtual machine, ark/macros

feat(runtime type checking): use the notion of variadic arguments in the error message to provide better messages
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/TypeChecker.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/append_in_place_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/append_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioremovefiles_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/ioremovefiles_str_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/stringformat_num.expected
  tests/unittests/resources/TypeCheckerSuite/variadic.expected
Labels: ark/virtual machine

fix(vm): correctly display the passed arguments to functions inside arity errors, and display the function name in async arity errors
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/arity_error_async.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/too_many_args.expected
Labels: ark/virtual machine

refactor(vm): deduplicate code to call a builtin
  include/Ark/VM/VM.inl
Labels: ark/virtual machine

fix(errors): error messages for concat and concat! now report the correct number of arguments
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/typeChecking/concat_in_place_num_num.expected
  tests/unittests/resources/DiagnosticsSuite/typeChecking/concat_num_num.expected
Labels: ark/virtual machine

fix(ci): switch codeql cpp build to manual
  .github/workflows/codeql.yml
  .github/workflows/setup-compilers/action.yaml
Labels: ðŸ‘· ci

feat(cmake): update all cmakelists to 3.16+
  cmake/CPM.cmake
Labels: none

fix(vm): show the line of the call (instead of the function definition) in arity errors
  CHANGELOG.md
  include/Ark/VM/VM.inl
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/DiagnosticsSuite/runtime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/runtime/too_many_args.expected
Labels: ark/virtual machine

fix(macro processor): enhance the way spread are applied inside macros
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

chore: update readme (modules are under lib/modules not lib/ext)
  README.md
Labels: documentation

feat(parser, errors): improving context in parsing errors
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_codepoint.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_arguments.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_begin.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_list.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_macro_arguments.expected
Labels: ark/parser

refactor(code error): CodeError now takes a context to hold the filename, line, column, expression of an error
  CHANGELOG.md
  include/Ark/Exceptions.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/TestsHelper.hpp
Labels: ark/macros, ðŸ§ª tests

feat(parser): adding optional source context for errors
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Exceptions.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
Labels: none

feat(error, parser): better error messages for trailing paren/bracket/square bracket
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/resources/ParserSuite/failure/invalid.expected
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_bracket.ark
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_bracket.expected
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_paren.ark
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_paren.expected
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_square_bracket.ark
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_square_bracket.expected
Labels: ark/parser

fix(ci): valgrind 3.24.0-2 has been replaced by the -3 version
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

fix(import solver, error): the error message about non existing files while importing didn't show the correct path to the file
  include/Ark/Compiler/Package/ImportSolver.hpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_found.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_found.expected
Labels: none

feat(macro processor, error): adding better error messages when a macro fails, to show the macro we were expanding and what failed
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Exceptions.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/argcount_unknown_arg.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/capture_out_of_scope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_depth_eval.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_capture.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_arguments.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_begin.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_macro_arguments.expected
Labels: ark/macros

feat(parser, errors): improving context in parsing errors
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Compiler/AST/Parser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_codepoint.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_arguments.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_begin.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_list.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_macro_arguments.expected
Labels: ark/parser

feat(error, parser): better error messages for trailing paren/bracket/square bracket
  include/Ark/Compiler/AST/BaseParser.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/resources/ParserSuite/failure/invalid.expected
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_bracket.ark
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_bracket.expected
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_paren.ark
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_paren.expected
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_square_bracket.ark
  tests/unittests/resources/ParserSuite/failure/unexpected_closing_square_bracket.expected
Labels: ark/parser

feat(macro processor, error): adding better error messages when a macro fails, to show the macro we were expanding and what failed
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Executors/Conditional.hpp
  include/Ark/Compiler/Macros/Executors/Function.hpp
  include/Ark/Compiler/Macros/Executors/Symbol.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  include/Ark/Exceptions.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/Suites/BytecodeReaderSuite.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/argcount_unknown_arg.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/capture_out_of_scope.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_paste_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_spread_not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_depth_eval.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/not_enough_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/too_many_args.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/unbound_capture.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_arguments.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_begin.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_call.expected
  tests/unittests/resources/ParserSuite/failure/incomplete_macro_arguments.expected
Labels: ark/macros

feat(parser): adding optional source context for errors
  include/Ark/Compiler/AST/BaseParser.hpp
  include/Ark/Exceptions.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
Labels: none

refactor(code error): CodeError now takes a context to hold the filename, line, column, expression of an error
  CHANGELOG.md
  include/Ark/Exceptions.hpp
  src/arkreactor/Compiler/AST/BaseParser.cpp
  src/arkreactor/Compiler/Lowerer/ASTLowerer.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Compiler/NameResolution/NameResolutionPass.cpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/TestsHelper.hpp
Labels: ark/macros, ðŸ§ª tests

fix(import solver, error): the error message about non existing files while importing didn't show the correct path to the file
  include/Ark/Compiler/Package/ImportSolver.hpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_found.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/import_not_found.expected
Labels: none

fix(ci): valgrind 3.24.0-2 has been replaced by the -3 version
  .github/workflows/ci.yml
Labels: ðŸ‘· ci

feat(ci, benchmarks): adding CodSpeed action and cmake configuration
  .github/workflows/codspeed.yml
  CMakeLists.txt
Labels: ðŸ‘· ci

fix(cmake): do not add -Werror when building benchmarks
  CMakeLists.txt
Labels: none

fix(cmake): do not add -Werror when building benchmarks
  CMakeLists.txt
Labels: none

feat(ci, benchmarks): adding CodSpeed action and cmake configuration
  .github/workflows/codspeed.yml
  CMakeLists.txt
Labels: ðŸ‘· ci

chore: adding codspeed badge
  README.md
Labels: documentation

feat(cmake): adding define when we are building an exe, to be able to enable/disable code for embedding/the interpreter
  CMakeLists.txt
Labels: none

feat: check for NOCOLOR env var only when building an exe
  src/arkreactor/Exceptions.cpp
Labels: none

feat(tools): adding more commands to fuzzer-crash-triage.py script
  tests/fuzzing/fuzzer-crash-triage.py
Labels: none

refactor(parser): adding a limit to the number of node that can be nested while parsing
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/AST/Parser.cpp
  tests/unittests/resources/ParserSuite/failure/deeply_nested.ark
  tests/unittests/resources/ParserSuite/failure/deeply_nested.expected
Labels: ark/parser

fix(vm): when using @ on a list of 1 element, we couldn't use -1 as an index to get the last element
  src/arkreactor/VM/VM.cpp
  tests/unittests/resources/LangSuite/list-tests.ark
Labels: ark/virtual machine

feat(benchmarks): enhancing creation of runtime benchmarks while adding two new bench for closures and lists representing trees
  tests/benchmarks/main.cpp
  tests/benchmarks/resources/runtime/create_closure.ark
  tests/benchmarks/resources/runtime/create_list.ark
  tests/benchmarks/resources/runtime/for_sum.ark
  tests/benchmarks/resources/runtime/man_or_boy.ark
Labels: none

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
