Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: ark/compiler, ark/parser, ark/repl, ark/formatter, ark/modules, ark/virtual machine, ark/macros, documentation, ðŸ‘· ci, ðŸ§ª tests

feat(vm): added 11 (unused) super instructions and their implementation to the VM
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor(parser): removing dead code
  include/Ark/Compiler/AST/Predicates.hpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/EmbeddingSuite.cpp
Labels: ark/virtual machine, ðŸ§ª tests

feat(compiler): the compiler now outputs an IR instead of bytecode, which is now generated by the IRCompiler
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IRCompiler.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

refactor(bytecode reader): creating a list of instruction names and a map of instruction -> argument kind to avoid an horrendous if/else chain
  include/Ark/Compiler/Instructions.hpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkscript/main.cpp
Labels: ark/compiler

refactor(vm)!: moving instructions and padding so that we have inst(8)-padding(8)-arg(16), to be able to handle instructions with two arguments, using the padding along arg
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/Word.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/Entity.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IRCompiler.cpp
  src/arkreactor/VM/VM.cpp
  tests/unittests/CompilerSuite.cpp
Labels: ark/compiler, ark/virtual machine, ðŸ§ª tests

feat(ir): adding -fdump-ir to dump generated IR to a file.ark.ir
  .gitignore
  CHANGELOG.md
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  include/Ark/Compiler/Welder.hpp
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/main.cpp
Labels: ark/compiler

chore(benchmarks): running benchmarks and adding results to the repo
  tests/benchmarks/README.md
  tests/benchmarks/results/5-ee9ff764.csv
Labels: none

refactor(compiler): moving the import solver to its own folder to decluter Ark/Compiler/
  include/Ark/Compiler/Package/ImportSolver.hpp
  include/Ark/Compiler/Package/Module.hpp
  include/Ark/Compiler/Welder.hpp
  src/arkreactor/Compiler/Package/ImportSolver.cpp
  src/arkreactor/Compiler/Welder.cpp
Labels: ark/compiler

chore: updating doxyfile
  .gitignore
  docs/Doxyfile
Labels: documentation

chore(benchmarks): benchmarks results before computed gotos, after computed, and after IR optimizing
  tests/benchmarks/results/5-57d0e0cd.csv
  tests/benchmarks/results/5-ee9ff764.csv
  tests/benchmarks/results/6-c7f632ff.csv
  tests/benchmarks/results/7-28999c0f.csv
Labels: none

refactor(ir optimizer): shorter and more functional code when trying to compact instructions
  include/Ark/Compiler/IntermediateRepresentation/Entity.hpp
  include/Ark/Compiler/IntermediateRepresentation/IROptimizer.hpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
Labels: none

fix(formatter): formatting comments after node inside begin nodes should not add the ending '}' to the comment
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/comment_after_node_in_begin.ark
  tests/unittests/resources/FormatterSuite/comment_after_node_in_begin.expected
Labels: ark/formatter

fix(formatter): fix newline spacing between node in begin blocks to preserve user spacing
  include/CLI/Formatter.hpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/complex_comments_in_condition.ark
  tests/unittests/resources/FormatterSuite/complex_comments_in_condition.expected
  tests/unittests/resources/FormatterSuite/conditions.expected
Labels: ark/formatter

fix(parsing, formatter)!: fixing assignment of row/col to node in the parser, impacting the formatter and diagnostics
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/at_out_of_range.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/can_not_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_func.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_let.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_list.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_node_in_tail_call.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/invalid_while.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_and_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_or_chain_short.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arg_type_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/macro_symcat_arity_error.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/FormatterSuite/comments_after_call.expected
  tests/unittests/resources/FormatterSuite/comments_after_cond.expected
  tests/unittests/resources/FormatterSuite/comments_after_variable.expected
  tests/unittests/resources/FormatterSuite/vars.expected
Labels: ark/parser, ark/formatter

refactor: adding a Language::Undef constant
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/compiler, ark/macros

fix(json compiler): adding macro support in the ast dump, removing import resolving, name resolution and macro processing
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/resources/ASTSuite/macros.json
Labels: ark/compiler

refactor(macro processor): moving $undef to MacroProcessor::evaluate() instead of hardcoding it inside registerMacro
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Executors/Conditional.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/max_unification_depth.expected
  tests/unittests/resources/DiagnosticsSuite/compileTime/undef_macro_number.expected
Labels: ark/parser, ark/macros

fix(parser): detecting ill-formed value macros
  CHANGELOG.md
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/Exceptions.cpp
  tests/unittests/DiagnosticsSuite.cpp
  tests/unittests/FormatterSuite.cpp
  tests/unittests/ParserSuite.cpp
  tests/unittests/TestsHelper.cpp
  tests/unittests/TestsHelper.hpp
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro_arg_list.ark
  tests/unittests/resources/DiagnosticsSuite/compileTime/bad_macro_arg_list.expected
Labels: ark/parser, ark/macros, ðŸ§ª tests

refactor(macro processor): adding lookupDefinedFunction
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor: removing dead code
  include/Ark/Compiler/Macros/Executor.hpp
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/Macros/Executor.cpp
Labels: ark/parser, ark/macros

fix(macro processor): empty\? should work with nil when evaluated as a macro
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/macros

feat(compiler, vm): adding a CALL_BUILTIN <builtin> <arg count> instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

refactor(macro processor): removing unnecessary checks and using asserts just in case
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(vm): using asserts instead of exceptions for (usually) unreachable paths
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  include/utf8.hpp
  src/arkreactor/Builtins/String.cpp
Labels: ark/virtual machine

feat(tests): starting an utf8 test suite
  tests/unittests/Utf8Suite.cpp
Labels: ðŸ§ª tests

feat(formatter): handling comments after the last symbol inside an import node
  CHANGELOG.md
  include/CLI/Formatter.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/comment_after_import_with_symbol.ark
  tests/unittests/resources/FormatterSuite/comment_after_import_with_symbol.expected
Labels: ark/parser, ark/formatter

feat(tests): adding a tools suite test to test arkscript utils
  include/Ark/Utils.hpp
  tests/unittests/ToolsSuite.cpp
Labels: ðŸ§ª tests

refactor(macro): removing useless constructor
  include/Ark/Compiler/Macros/MacroScope.hpp
  src/arkreactor/Compiler/Macros/MacroScope.cpp
Labels: ark/macros

refactor(macro): removing useless constructor
  include/Ark/Compiler/Macros/MacroScope.hpp
  src/arkreactor/Compiler/Macros/MacroScope.cpp
Labels: ark/macros

feat(compiler, vm): adding a CALL_BUILTIN <builtin> <arg count> instruction
  CHANGELOG.md
  include/Ark/Compiler/Instructions.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/IntermediateRepresentation/IROptimizer.cpp
  src/arkreactor/VM/VM.cpp
Labels: ark/compiler, ark/virtual machine

fix(macro processor): empty\? should work with nil when evaluated as a macro
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/unittests/resources/LangSuite/macro-tests.ark
Labels: ark/macros

refactor: adding a Language::Undef constant
  include/Ark/Compiler/Common.hpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/compiler, ark/macros

feat(formatter): handling comments after the last symbol inside an import node
  CHANGELOG.md
  include/CLI/Formatter.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/comment_after_import_with_symbol.ark
  tests/unittests/resources/FormatterSuite/comment_after_import_with_symbol.expected
Labels: ark/parser, ark/formatter

feat(tests): adding a tools suite test to test arkscript utils
  include/Ark/Utils.hpp
  tests/unittests/ToolsSuite.cpp
Labels: ðŸ§ª tests

feat(tests): starting an utf8 test suite
  tests/unittests/Utf8Suite.cpp
Labels: ðŸ§ª tests

refactor(macro processor): adding lookupDefinedFunction
  include/Ark/Compiler/Macros/Executor.hpp
  include/Ark/Compiler/Macros/Processor.hpp
  src/arkreactor/Compiler/Macros/Executor.cpp
  src/arkreactor/Compiler/Macros/Executors/Function.cpp
  src/arkreactor/Compiler/Macros/Executors/Symbol.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

fix(formatter): formatting comments after node inside begin nodes should not add the ending '}' to the comment
  src/arkscript/Formatter.cpp
  tests/unittests/resources/FormatterSuite/comment_after_node_in_begin.ark
  tests/unittests/resources/FormatterSuite/comment_after_node_in_begin.expected
Labels: ark/formatter

fix(json compiler): adding macro support in the ast dump, removing import resolving, name resolution and macro processing
  CHANGELOG.md
  include/Ark/Constants.hpp.in
  src/arkreactor/Compiler/Welder.cpp
  src/arkscript/JsonCompiler.cpp
  tests/unittests/resources/ASTSuite/macros.json
Labels: ark/compiler

refactor(macro processor): removing unnecessary checks and using asserts just in case
  src/arkreactor/Compiler/Macros/Processor.cpp
Labels: ark/macros

refactor(vm): using asserts instead of exceptions for (usually) unreachable paths
  include/Ark/VM/VM.hpp
  include/Ark/VM/VM.inl
  include/utf8.hpp
  src/arkreactor/Builtins/String.cpp
Labels: ark/virtual machine

.github/labeler.yml:

ark/compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

ark/parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

ark/repl:
  - include/CLI/REPL/**/*
  - src/arkscript/REPL/**/*

ark/formatter:
  - include/CLI/Formatter.*
  - src/arkscript/Formatter.*

ark/modules:
  - lib/modules/**/*

ark/virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

ark/macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ðŸ‘· ci:
  - .github/workflows/*

ðŸ§ª tests:
  - tests/arkscript/*.ark
  - tests/unittests/*
