Repository ArkScript-lang/Ark, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler, parser, repl, modules, virtual machine, macros, documentation, ci, tests

.github/labeler.yml:

compiler:
  - include/Ark/Compiler/*
  - src/arkreactor/Compiler/*

parser:
  - include/Ark/Compiler/AST/Lexer.*
  - include/Ark/Compiler/AST/Node.*
  - include/Ark/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Lexer.*
  - src/arkreactor/Compiler/AST/Parser.*
  - src/arkreactor/Compiler/AST/Node.*

repl:
  - include/Ark/REPL/**/*
  - src/arkscript/REPL/**/*

modules:
  - lib/modules/**/*

virtual machine:
  - include/Ark/VM/**/*
  - src/arkreactor/VM/**/*

macros:
  - include/Ark/Compiler/Macros/*
  - src/arkreactor/Compiler/Macros/*

documentation:
  - docs/*
  - README.md

ci:
  - .github/workflows/*

tests:
  - tests/arkscript/*.ark
  - tests/cpp/*.cpp
  - tests/cpp/expected/*.txt

improving the type checker performances
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

improving the type checker performances
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

adding section about what to do before submitting a PR (#356)
  CONTRIBUTING.md
Labels: none

refreshing the readme a bit
  README.md
Labels: documentation

adding colors to the project architecture to easily identify the components
  docs/brief_architecture.md
Labels: documentation

adding tutorial one how to create a module
  docs/modules.md
Labels: documentation

adding a few lines about contributing to a module
  CONTRIBUTING.md
Labels: none

refreshing the readme a bit
  README.md
Labels: documentation

adding colors to the project architecture to easily identify the components
  docs/brief_architecture.md
Labels: documentation

adding a pull request template
  .github/pull_request_template.md
Labels: none

adding tutorial one how to create a module
  docs/modules.md
Labels: documentation

adding a pull request template
  .github/pull_request_template.md
Labels: none

adding a few lines about contributing to a module
  CONTRIBUTING.md
Labels: none

more details added to CONTRIBUTING.md (#356)
  CONTRIBUTING.md
Labels: none

adding a few words about the project architecture
  CONTRIBUTING.md
Labels: none

adding a few words about the project architecture
  CONTRIBUTING.md
Labels: none

more details added to CONTRIBUTING.md (#356)
  CONTRIBUTING.md
Labels: none

adding section about what to do before submitting a PR (#356)
  CONTRIBUTING.md
Labels: none

WIP: adding the typechecker into the VM
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

WIP: adding the typechecker into the VM
  src/arkreactor/VM/VM.cpp
Labels: virtual machine

ci: new step running valgrind to check for memory leaks
  .github/workflows/ci.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: ci

improving the valgrind command
  .github/workflows/ci.yml
Labels: ci

ci: separating the build and test steps into 2 different jobs
  .github/workflows/ci.yml
Labels: ci

ci: fixing the new job 'tests'
  .github/workflows/ci.yml
Labels: ci

ci: fixing the tests launching scripts
  .github/launch-tests
  .github/workflows/ci.yml
Labels: ci

ci: removing dead step and installing the needed version of libstdc++ in the tests job
  .github/workflows/ci.yml
Labels: ci

ci: new step running valgrind to check for memory leaks
  .github/workflows/ci.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: ci

ci: separating the build and test steps into 2 different jobs
  .github/workflows/ci.yml
Labels: ci

improving the valgrind command
  .github/workflows/ci.yml
Labels: ci

improving the valgrind command
  .github/workflows/ci.yml
Labels: ci

ci: removing dead step and installing the needed version of libstdc++ in the tests job
  .github/workflows/ci.yml
Labels: ci

ci: fixing the tests launching scripts
  .github/launch-tests
  .github/workflows/ci.yml
Labels: ci

ci: fixing the new job 'tests'
  .github/workflows/ci.yml
Labels: ci

ci: fixing the new job 'tests'
  .github/workflows/ci.yml
Labels: ci

ci: new step running valgrind to check for memory leaks
  .github/workflows/ci.yml
  CHANGELOG.md
  CMakeLists.txt
Labels: ci

ci: separating the build and test steps into 2 different jobs
  .github/workflows/ci.yml
Labels: ci

ci: fixing the tests launching scripts
  .github/launch-tests
  .github/workflows/ci.yml
Labels: ci

ci: removing dead step and installing the needed version of libstdc++ in the tests job
  .github/workflows/ci.yml
Labels: ci

changing the typechecker api to be more efficient and performant
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine

changing the typechecker api to be more efficient and performant
  include/Ark/TypeChecker.hpp
  include/Ark/VM/Value.hpp
  src/arkreactor/TypeChecker.cpp
Labels: virtual machine
