Repository ArkScript-lang/Ark, pull requests merged in 2021-05, with the labels that each got.

#233 Community
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: help wanted, priority/medium

#235 Re agencing code
  CHANGELOG.md
  CMakeLists.txt
  README.md
  download-arkscript.sh
  examples/macros/names.ark
  images/arkscript-code-structure.png
  include/Ark/Compiler/BytecodeReader.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Instructions.hpp
  include/Ark/Compiler/Lexer.hpp
  include/Ark/Compiler/MacroProcessor.hpp
  include/Ark/Compiler/Node.hpp
  include/Ark/Compiler/Optimizer.hpp
  include/Ark/Compiler/Parser.hpp
  include/Ark/Compiler/inline/Compiler.inl
  include/Ark/Compiler/inline/Lexer.inl
  include/Ark/Compiler/inline/Node.inl
  include/Ark/Compiler/inline/Parser.inl
  include/Ark/Compiler/makeNodeBasedError.hpp
  include/Ark/Log.hpp
  include/Ark/Utils.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/Builtins/IO.cpp
  src/Compiler/BytecodeReader.cpp
  src/Compiler/Compiler.cpp
  src/Compiler/Lexer.cpp
  src/Compiler/MacroProcessor.cpp
  src/Compiler/Node.cpp
  src/Compiler/Parser.cpp
  src/Compiler/makeNodeBasedError.cpp
  src/Log.cpp
  src/VM/Scope.cpp
  src/VM/State.cpp
  src/VM/VM.cpp
  src/main.cpp
  tests/macro-tests.ark
Labels: compiler, documentation, enhancement, macros, parser, priority/low, virtual machine

#244 Refactor Macroprocessor Draft PR
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  include/Ark/Compiler/MacroExecutor.hpp
  include/Ark/Compiler/MacroExecutors/ConditionalExecutor.hpp
  include/Ark/Compiler/MacroExecutors/ListExecutor.hpp
  include/Ark/Compiler/MacroExecutors/MacroExecutorPipeline.hpp
  include/Ark/Compiler/MacroExecutors/SymbolExecutor.hpp
  include/Ark/Compiler/MacroProcessor.hpp
  include/Ark/Compiler/Node.hpp
  src/Compiler/MacroExecutor.cpp
  src/Compiler/MacroExecutors/ConditionalExecutor.cpp
  src/Compiler/MacroExecutors/ListExecutor.cpp
  src/Compiler/MacroExecutors/MacroExecutorPipeline.cpp
  src/Compiler/MacroExecutors/SymbolExecutor.cpp
  src/Compiler/MacroProcessor.cpp
  src/Compiler/Node.cpp
Labels: enhancement, macros

#255 Integration testing
  .github/workflows/linux-clang.yml
  .github/workflows/linux-gcc.yml
  .github/workflows/macos-clang.yml
  .github/workflows/msvc.yml
  .gitignore
  .vscode/launch.json
  CHANGELOG.md
  tests/arkscript/builtins-tests.ark
  tests/arkscript/coz-profiler/ackermann_3_6.ark
  tests/arkscript/coz-profiler/fibo_28.ark
  tests/arkscript/coz-profiler/unittests.ark
  tests/arkscript/exceptions-tests.ark
  tests/arkscript/functional-tests.ark
  tests/arkscript/list-tests.ark
  tests/arkscript/macro-tests.ark
  tests/arkscript/math-tests.ark
  tests/arkscript/range-tests.ark
  tests/arkscript/string-tests.ark
  tests/arkscript/switch-tests.ark
  tests/arkscript/tests-tools.ark
  tests/arkscript/unittests.ark
  tests/arkscript/vm-tests.ark
  tests/cpp/01.cpp
  tests/cpp/02.cpp
  tests/cpp/03.cpp
  tests/cpp/CMakeLists.txt
  tests/cpp/README.md
  tests/cpp/Tests.hpp
  tests/cpp/expected/01.txt
  tests/cpp/expected/02.txt
  tests/cpp/expected/03.txt
  tests/cpp/run-tests
Labels: enhancement, priority/low
