Repository ArkScript-lang/Ark, pull requests merged in 2022-02, with the labels that each got.

#368 Update the link to the documentation site
  README.md
Labels: documentation

#370 Refactor/compiler
  CHANGELOG.md
  include/Ark/Compiler/AST/Parser.hpp
  include/Ark/Compiler/Compiler.hpp
  src/arkreactor/Compiler/AST/Parser.cpp
  src/arkreactor/Compiler/Compiler.cpp
Labels: parser, compiler

#371 Feature/suggestion
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Utils.hpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Utils.cpp
Labels: enhancement, compiler
