Repository ArkScript-lang/Ark, pull requests merged in 2022-07, with the labels that each got.

#384 Feat/async
  .github/workflows/ci.yml
  CHANGELOG.md
  include/Ark/Builtins/Builtins.hpp
  include/Ark/VM/ExecutionContext.hpp
  include/Ark/VM/Future.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Builtins/Async.cpp
  src/arkreactor/Builtins/Builtins.cpp
  src/arkreactor/VM/Future.cpp
  src/arkreactor/VM/VM.cpp
  tests/arkscript/async-tests.ark
  tests/arkscript/unittests.ark
Labels: virtual machine, ci, tests

#388 Large instructions
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  include/Ark/Compiler/Common.hpp
  include/Ark/Compiler/Compiler.hpp
  include/Ark/Compiler/Word.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/inline/VM.inl
  src/arkreactor/Compiler/AST/Node.cpp
  src/arkreactor/Compiler/BytecodeReader.cpp
  src/arkreactor/Compiler/Compiler.cpp
  src/arkreactor/Compiler/Macros/Processor.cpp
  src/arkreactor/VM/State.cpp
  src/arkreactor/VM/VM.cpp
  src/arkscript/main.cpp
Labels: documentation, parser, virtual machine, compiler, macros, ci

#378 feat: we can now print closures and their fields
  CHANGELOG.md
  include/Ark/VM/Scope.hpp
  include/Ark/VM/State.hpp
  include/Ark/VM/VM.hpp
  include/Ark/VM/Value.hpp
  include/Ark/VM/Value/Closure.hpp
  src/arkreactor/Builtins/IO.cpp
  src/arkreactor/Builtins/String.cpp
  src/arkreactor/VM/VM.cpp
  src/arkreactor/VM/Value.cpp
  src/arkreactor/VM/Value/Closure.cpp
  tests/arkscript/vm-tests.ark
  tests/cpp/01.cpp
Labels: virtual machine, tests

#391 Macros should always be evaluated and argcount has to work with both Symbols and anonymous Functions
  CHANGELOG.md
  src/arkreactor/Compiler/Macros/Processor.cpp
  tests/arkscript/macro-tests.ark
Labels: macros, tests

#386 Feat/ast to json
  .github/launch-tests
  CHANGELOG.md
  docs/impl_compiler.md
  include/Ark/Compiler/JsonCompiler.hpp
  src/arkreactor/Compiler/JsonCompiler.cpp
  src/arkscript/main.cpp
  tests/ast/99bottles.json
  tests/ast/ackermann.json
  tests/ast/closures.json
  tests/ast/error.json
  tests/ast/factorial.json
  tests/ast/macros.json
  tests/ast/run-tests
Labels: enhancement, compiler

#395 Feat/release on tag
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
Labels: ci

#394 Feat/sanitizers
  .github/workflows/ci.yml
  CMakeLists.txt
  README.md
  cmake/link_time_optimization.cmake
  cmake/sanitizers.cmake
  tests/cpp/CMakeLists.txt
Labels: documentation, ci
